#set($layout="")
<!--弹出框-->
<div class="add-pop" style="display:;">
    <div class="pop_alpha"></div>
    <div class="add-pop-box">
        <div class="cwxx-tit1">请选择人员<span><a href="javascript:;">×</a></span></div>
        <div class="c-tck op-person-search">
            <input type="text" class="c-int" name="keyword" value="$!keyword" placeholder="请输入操作员姓名进行查询">
            <i class="c-ico cg-sous1"></i>
        </div>
        <div class="ct-tabdiv">
            <table id="crudeDataArray"  class="c-tctab">
                <tr>
                    <th class="tabl-line">姓名</th>
                    <th>证件号</th>
                    <th>选择</th>
                </tr>
                #foreach($item in $!{page.list})
                    #set($serialNum = $velocityCount - 1)
                    <tr class="c-tabcos1">
                        <td>$!item.name</td>
                        <td>$!stringUtil.hideIdCard($!item.cardNo)</td>
                        <td><a class="setBtn" data-memberid="$!{item.memberId}" href="javascript:;">确认</a></td>
                    </tr>
                #end
            </table>
        </div>
        $contain.get('/page/page.htm').put('pageInfo',$!page).put("ajaxCallback","buildPop");
    ##        <div class="c-subdiv"><button class="c-btnsub">提交</button><button class="c-btncas">取消</button></div>
        <a class="pop-close"><i class="cw-ico ico-pop-close"></i></a>
    </div>
</div>

<form id="submitForm" method="post" action="$appServer.get('enterprise/saveOper.htm')">
    <input id="operAccountId" type="hidden" name="accountId" value="$!accountId">
    <input type="hidden" id="memberId" name="memberId" value="">
</form>
<script>

    $('.setBtn').click(function(){
        var memberId = $(this).data('memberid');
        $('#memberId').val(memberId);
        $("#submitForm").submit();
    });

</script>
