<div class="caigou-content">
    <div class="inner">
        <table class="cg-cgdbj">

            <tr>
                <th scope="row">
                	#if($!{dealType} == "B")
                		Demands No.
                	#else
                		Resources No.
                	#end
                </th>
                #foreach($d in $!demandList)
                	#if($!{d.dealType} == "B")
                		<td tdIndex="$!velocityCount"><a href="$appServer.get('crudeoillobby/purchasingDemandDetail.htm?demandId=')$!{d.id}">$!{d.uuid}</a><a class="cg-close" closeIndex="$!velocityCount" href="javascript:void(0)"><i>×</i></a></td>
                	#else
                		<td tdIndex="$!velocityCount"><a href="$appServer.get('crudeoillobby/sellingDemandDetail.htm?demandId=')$!{d.id}">$!{d.uuid}</a><a class="cg-close" closeIndex="$!velocityCount" href="javascript:void(0)"><i>×</i></a></td>
                	#end
                #end
            </tr>
            <tr>
                <th scope="row">Company Name</th>
                #foreach($d in $!demandList)
                	<td tdIndex="$!velocityCount">
                		#if($!{d.dealType} == "B")
                			$!{d.bEnterpriseName}
                		#else
                			$!{d.pEnterpriseName}
                		#end
                	</td>
                #end
            </tr>
            <tr>
                <th scope="row">Expire Date</th>
                #foreach($d in $!demandList)
                	<td tdIndex="$!velocityCount">$!{d.stopBidTime}</td>
                #end
            </tr>    
            <tr>
                <th scope="row">Grade</th>
                #foreach($d in $!demandList)
                	<td tdIndex="$!velocityCount">$!{d.crudeOilOptions}</td>
                #end
            </tr>
            <tr>
                <th scope="row" >Qty(BBL)</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.num}</td>
                #end
            </tr>
            <tr>
                <th scope="row" >Tolerance</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.numfloat}</td>
                #end
            </tr>   
            #*<tr>
                <th scope="row">Premium/Discount</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.agio}</td>
                #end
            </tr>*#
            <tr>
                <th scope="row">Incoterm</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.tradeItem}</td>
                #end
            </tr>
            <tr>
                <th scope="row">Pricing Basis</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.valuationBase}</td>
                #end
            </tr>
            <tr>
                <th scope="row">Pricing Period</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">
						$!{d.valuationPeriodTypeContent}
						#if($!{d.valuationProidType} == 4)
                                                    （$!{d.valuationPeriodStart} - $!{d.valuationPeriodEnd}）
                        #end
						#if($!{d.valuationProidType} == 5)
							（$!d.contractKind）
						#end
                    </td>
                #end
            </tr>
            <tr>
                <th scope="row">Payment Date</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.payItem}</td>
                #end
            </tr>            
            <tr>
                <th scope="row">Qty Determination</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.measureMode}</td>
                #end
            </tr>
            <tr>
                <th scope="row">Laytime</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.loadAndDischargePermittedTimespan}</td>
                #end
            </tr>
            <tr>
                <th scope="row">Load Port</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.shipmentPort}</td>
                #end
            </tr>                     
            <tr>
                <th scope="row">Discharge Port</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">$!{d.dischargePort}</td>
                #end
            </tr>
            <tr>
                <th scope="row">Laycan</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">
                    	$!{d.shipmentStartTime} to $!{d.shipmentEndTime}
                    </td>
                #end
            </tr>         
            <tr>
                <th scope="row">DDR</th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount">
                    	$!{d.dischargeStartTime} to $!{d.dischargeEndTime}
                    </td>
                #end
            </tr>
            <tr>
                <th style="background: #ffffff; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;"></th>
                #foreach($d in $!demandList)
                    <td tdIndex="$!velocityCount" style="background: #ffffff; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                    	<div class="detail-ibut" style="margin-top: 20px;">
	                    	#if($!{d.purchaseType} == "Quotation")
	                    		<a href="javascript:void(0)" onclick="epclick('$!{d.id}', '$!{d.creater}', '$!{d.dealType}',$!{d.overdue},'Quote')" class="detail-bxj" style="width: 150px; color: #ff9400;"><i class="c-ico c-ico-bj"></i>Quote</a>
	                    	#else
	                    		<a href="javascript:void(0)" onclick="epclick('$!{d.id}', '$!{d.creater}', '$!{d.dealType}',$!{d.overdue},'Bid')" class="detail-btb" style="width: 150px; color: #ffffff;"><i class="c-ico c-ico-tb"></i>Bid</a>
	                    	#end
                    	</div>
                    </td>
                #end
            </tr>
        </table>
    </div>
</div>

<script>
    ##绑定删除按钮事件
    $(".cg-close").click(function(){
        var index = $(this).attr("closeIndex");
        $("td[tdIndex='"+index+"']").remove();
    });
    
    function epclick(id, creater, dealType,overdue,msg) {
        if (overdue){
            layui.use(['layer'], function () {
                layui.layer.alert('This requirement has been overdue, and ' + msg + ' cannot be initiated!', {title:"Notice", btn: "OK"});
            })
            return false;
        }
        if (creater != "" && "$!{user.epMemberId}" == creater){
            layui.use(['layer'], function () {
                layui.layer.alert('The requirement originator cannot participate in the' + msg, {title:"Notice", btn: "OK"});
            })
            return false;
        }else{
        	if(dealType == "B") {
        		window.location.href="$appServer.get('/crudeoillobby/crudeOilBidding.htm?demandId=')" + id;
        	} else {
        		window.location.href="$appServer.get('/oilSaleBidding/crudeOilBidding.htm?demandId=')" + id;
        	}
        }
    }
</script>