<div class="c-mod" id="dlsxx">
    <h3><em class="cw-ico ico-h3"></em>供应商信息<span class="cxtj-nr-an"></span></h3>
    <div class="c-form">
        <ul class="c-ful">
            <li class="c-fcos1"><span class="c-fn">企业名称：</span><span class="c-int qx-conte">$!{demandRelevanter3.enterpriseName}</span></li>
            <li class="c-fcos1"><span class="c-fn">企业地址：</span><span class="c-int qx-conte">$!{demandRelevanter3.enterpriseAddress}</span></li>
            <li class="c-fcos2"><span class="c-fn">联系人：</span><span class="c-int qx-conte">$!{demandRelevanter3.contacter}</span></li>
            <li class="c-fcos2"><span class="c-fn">邮箱：</span><span class="c-int qx-conte">$!{demandRelevanter3.famil}</span></li>
            <li class="c-fcos2"><span class="c-fn">联系电话：</span><span class="c-int qx-conte">$!{demandRelevanter3.phoneNo}</span></li>
            <li class="c-fcos2"><span class="c-fn">传真：</span><span class="c-int qx-conte">$!{demandRelevanter3.fax}</span></li>
        </ul>
    </div>
</div>