<div class="header">
    <div class="top-wrap">
        <div class="inner clearfix">
            <div class="top-l"><span class="wel-txt">您好,欢迎来到买原油网！</span><span class="t-lr-txt"><a class="t-log" href="front_login.html">登录</a>|<a class="t-reg" href="front_register.html">注册</a></span></div>
            <div class="top-r">
                <ul class="tr-list clearfix">
                    <li><a href="$infoServer.get('/page/#/notice')" target="_blank"><i class="c-ico ico-gg1" ></i>公告</a></li>
                    <li><a class="user-txt" href="">会员中心</a></li>
                    <li><a class="user-txt" href="">业务中心</a></li>
                    <li><a class="ph-txt" href=""><i class="c-ico ico-phone"></i>手机买原油</a></li>
                    <li><span class="kf-txt"><i class="c-ico ico-tel"></i>客服电话：+86 10 59568888</span></li>
                    <li><a class="glb-link" href=""><i class="c-ico ico-glb"></i>global</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="head-con clearfix">
        <div class="inner">
            <div class="head-l">
                <a href="front_index.html" class="logo"></a>
            </div>
            <div class="head-search clearfix">
                <div class="h-srh-select">
                    <a href="" class="srh-select-cur">采购需求<i class="c-ico ico-arw01"></i></a>
                    <ul class="srh-select-ul">
                        <li>商品1</li>
                        <li>商品2</li>
                    </ul>
                </div><div class="h-srh-con"><input class="h-srh-inp" type="text" placeholder="请输入要搜索的关键字" /><button class="h-srh-btn">搜索</button></div>
            </div>
        </div>
    </div>
    <div class="nav-wrap">
        <div class="inner">
            <ul class="nav clearfix">
                <li class="nav-item"><a href="front_index.html">首页</a></li>
                <li class="nav-item act"><a href="cg_crude.html">原油大厅</a></li>
                <li class="nav-item"><a href="cpy_market.html">成品油商城</a></li>
                <li class="nav-item"><a href="qy_area.html">企业专区</a></li>
                <li class="nav-item"><a href="wl_shipping.html">贸易物流</a></li>
                <li class="nav-item"><a href="jr_finance.html">金融服务</a></li>
                <li class="nav-item"><a href="qh_futures.html">期货保值</a></li>
                <li class="nav-item"><a href="sy_encyclopedias.html">石油百科</a></li>
                <li class="nav-item"><a href="zx_information.html">信息资讯</a></li>
            </ul>
        </div>
    </div>
    <div class="fabucaigou-banner"></div>
</div>
