.fontSize12 {
  font-size: 12px;
}
.fontSize14 {
  font-size: 14px;
}
.fontSize16 {
  font-size: 16px;
}
.fontSize18 {
  font-size: 18px;
}
.fontIco {
  font-size: 12px;
  margin-right: 5px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearBoth {
  clear: both;
}
.width50 {
  width: 50px!important;
}
.width100 {
  width: 100px!important;
}
.width200 {
  width: 200px!important;
}
.width250 {
  width: 250px!important;
}
.width300 {
  width: 300px!important;
}
.width100p {
  width: 100%!important;
}
.width30p {
  width: 30%!important;
}
.padding0 {
  padding: 0px;
}
.paddingTT0 {
  padding-bottom: 0px;
}
.paddingBB0 {
  padding-bottom: 0px;
}
.pl30 {
  padding-left: 30px;
}
