<div class="c-mod" id="cgxx">
    <h3><em class="cw-ico ico-h3"></em>Pricing<span class="cxtj-nr-an"></span></h3>
    <div class="c-form">
        <ul class="c-ful">
            <li class="c-fcos2"><span class="c-fn">Settle Quantity：</span><span class="c-int qx-conte"> $!{pricingInfoVO.settlementQuantityVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Benchmark：</span><span class="c-int qx-conte"> $!{pricingInfoVO.pricingBenchmarkVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Source：</span><span class="c-int qx-conte"> $!{pricingInfoVO.priceSourceVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Region：</span><span class="c-int qx-conte"> $!{pricingInfoVO.priceRegionVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Currency：</span><span class="c-int qx-conte"> $!{pricingInfoVO.currencyVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Unit：</span><span class="c-int qx-conte"> $!{pricingInfoVO.pricingUnitVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Pricing Period：</span><span class="c-int qx-conte"> $!{pricingInfoVO.pricingPeriodVO.enName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Payment Terms：</span><span class="c-int qx-conte"> $!{pricingInfoVO.paymentTermVO.enName}</span></li>
        </ul>
    </div>
</div>