<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinochem.crude.trade.member.dao.EnterpriseContactMapper" >
  <resultMap id="BaseResultMap" type="com.sinochem.crude.trade.member.domain.EnterpriseContact" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="account_cert" property="accountCert" jdbcType="VARCHAR" />
    <result column="admin_cert" property="adminCert" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="udb_uuid" property="udbUuid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gender, name, mobile, phone, mail, address, account_cert, admin_cert, enterprise_id, 
    member_id,udb_uuid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from enterprise_contact
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByMemberId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from enterprise_contact
    where member_id = #{memberId,jdbcType=BIGINT}
  </select>

  <select id="findContactWithMbIdAndEpId" resultMap="BaseResultMap" parameterType="com.sinochem.crude.trade.member.domain.EnterpriseContact">
    select
    <include refid="Base_Column_List" />
    from enterprise_contact
    where member_id = #{memberId,jdbcType=BIGINT} AND enterprise_id = #{enterpriseId,jdbcType=BIGINT} limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from enterprise_contact
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sinochem.crude.trade.member.domain.EnterpriseContact" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into enterprise_contact (gender, name, mobile, 
      phone, mail, address, 
      account_cert, admin_cert, enterprise_id, 
      member_id,udb_uuid)
    values (#{gender,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{accountCert,jdbcType=VARCHAR}, #{adminCert,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=BIGINT}, 
      #{memberId,jdbcType=BIGINT},#{udbUuid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.crude.trade.member.domain.EnterpriseContact" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into enterprise_contact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="gender != null" >
        gender,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="accountCert != null" >
        account_cert,
      </if>
      <if test="adminCert != null" >
        admin_cert,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="udbUuid != null" >
        udb_uuid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="accountCert != null" >
        #{accountCert,jdbcType=VARCHAR},
      </if>
      <if test="adminCert != null" >
        #{adminCert,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="ubdUuid != null" >
        #{ubdUuid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.member.domain.EnterpriseContact" >
    update enterprise_contact
    <set >
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="accountCert != null" >
        account_cert = #{accountCert,jdbcType=VARCHAR},
      </if>
      <if test="adminCert != null" >
        admin_cert = #{adminCert,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.member.domain.EnterpriseContact" >
    update enterprise_contact
      set gender = #{gender,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      account_cert = #{accountCert,jdbcType=VARCHAR},
      admin_cert = #{adminCert,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>