<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinochem.crude.trade.member.dao.MemberCredentialsLogsMapper" >
  <resultMap id="BaseResultMap" type="com.sinochem.crude.trade.member.domain.MemberCredentialsLogs" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="member_credentials_id" property="memberCredentialsId" jdbcType="BIGINT" />
    <result column="member_id" property="memberId" jdbcType="BIGINT" />
    <result column="credentials_code" property="credentialsCode" jdbcType="VARCHAR" />
    <result column="audit" property="audit" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="creater" property="creater" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member_credentials_id, member_id, credentials_code, audit, content, creater, 
    create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from member_credentials_logs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from member_credentials_logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sinochem.crude.trade.member.domain.MemberCredentialsLogs" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into member_credentials_logs (member_credentials_id, member_id, credentials_code, 
      audit, content, creater, 
      create_time)
    values (#{memberCredentialsId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, #{credentialsCode,jdbcType=VARCHAR}, 
      #{audit,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{creater,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.crude.trade.member.domain.MemberCredentialsLogs" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into member_credentials_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberCredentialsId != null" >
        member_credentials_id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="credentialsCode != null" >
        credentials_code,
      </if>
      <if test="audit != null" >
        audit,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="creater != null" >
        creater,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberCredentialsId != null" >
        #{memberCredentialsId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="credentialsCode != null" >
        #{credentialsCode,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        #{audit,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.member.domain.MemberCredentialsLogs" >
    update member_credentials_logs
    <set >
      <if test="memberCredentialsId != null" >
        member_credentials_id = #{memberCredentialsId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="credentialsCode != null" >
        credentials_code = #{credentialsCode,jdbcType=VARCHAR},
      </if>
      <if test="audit != null" >
        audit = #{audit,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="creater != null" >
        creater = #{creater,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.member.domain.MemberCredentialsLogs" >
    update member_credentials_logs
    set member_credentials_id = #{memberCredentialsId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      credentials_code = #{credentialsCode,jdbcType=VARCHAR},
      audit = #{audit,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      creater = #{creater,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>