
    <div class="c-mr">
        <div class="c-mod clearfix">
            <h1>个人资料</h1>
            <form action="$appServer.get('/person/edit.htm')" method="post">
            #springBind("item.id")
            <input type="hidden"  name="$!{status.expression}" value="$!{status.value}">
            <ul class="c-bczl">
##                #springBind("item.id")
                <li class="c-bcz clearfix"><span class="c-b-txt">头像：</span><span class="c-complogo c-gr-tx"><a href="#"><img src="../images/coop_img_01.gif"></a></span></li>

                #springBind("item.name")
                <li class="c-bcz clearfix"><span class="c-b-txt">姓名：</span><input type="text" required="true" class="form-inp" name="name" ></li>

                #springBind("item.cardType")
                <li class="c-bcz clearfix"><span class="c-b-txt">证件类型：</span><select  class="form-inp sel"  name="cardType" ><option value="1">身份证</option><option value="2">护照</option> </select></li>

                #springBind("item.cardNo")
                <li class="c-bcz clearfix"><span class="c-b-txt">证件号码：</span><input type="text" required="true" class="form-inp" name="cardNo" ><div class="c-bcz-fj"><a href=" " class="file">上传证件<input type="file" name="" id=""></a></div></li>

##                #springBind("item.email")
##                <li class="c-bcz clearfix"><span class="c-b-txt">邮箱：</span><input type="text" required="true" class="form-inp" name="email" ></li>
            </ul>
                <div class="c-subdiv"><button type=submit class="c-btnsub">提交</button> <a href="javascript:history.back()"> <button type="button" class="c-btncas">返回</button></a></div></div>
            </form>
        </div>
    </div>
