<html>
<head>
    <title>买原油网后台管理#if($title)-${title}#end</title>
    <link rel="stylesheet" href="$orderExecuteServer.get('/layui/css/layui.css')">
    <link rel="stylesheet" href="$orderExecuteServer.get('/orderexecute/css/common.css')">
	<link rel="stylesheet" href="$orderExecuteServer.get('/orderexecute/css/f_center.css')">
	<link rel="stylesheet" href="$orderExecuteServer.get('/orderexecute/font-shey/style.css')">
    
    <script type="text/javascript" src="$orderExecuteServer.get('orderexecute/js/jquery-1.9.1.min.js')"></script>
    <script type="text/javascript" src="$orderExecuteServer.get('orderexecute/js/bigpipe.js')"></script>
    <script type="text/javascript" src="$orderExecuteServer.get('layui/layui.js')"></script>

	<script src="$orderExecuteServer.get('lib/jquery/extend.js')"></script>
##---- 统计埋点begin ----##
<style>#cnzz_stat_icon_1272857056{display:none}</style>
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1272857056'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1272857056%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));
</script>
##---- 统计埋点end ----##
    <script>
	var omServer = "$omServer";
	var orderServer = "$orderExecuteServer";
	</script>
</head>
<body>
