<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.info.dao.FuturesPriceMapper">
	<!-- <resultMap type="com.sinochem.crude.trade.info.dao.FuturesPrice" id="FuturesPriceDO" extends="com.sinochem.crude.trade.info.dao.mappers.immutable.${meta.immapperInterfaceClassName}.FuturesPrice">
		
	</resultMap>  -->
	<resultMap type="com.sinochem.crude.trade.info.domain.FuturesPrice" id="FuturesPrice">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="crudeId" column="CRUDE_ID" />
		<result property="pricing" column="PRICING" />
		<result property="pricingDate" column="PRICING_DATE" />
		<result property="note" column="NOTE" />
		<result property="latestFlag" column="LATEST_FLAG" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="createPerson" column="CREATE_PERSON" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="modifyPerson" column="MODIFY_PERSON" />
		<result property="source" column="SOURCE" />
		<result property="interfaceId" column="INTERFACE_ID" />
		<result property="extend1" column="EXTEND1" />
		<result property="extend2" column="EXTEND2" />
		<result property="extend3" column="EXTEND3" />
		<result property="extend4" column="EXTEND4" />
		<result property="extend5" column="EXTEND5" />
		<result property="extend6" column="EXTEND6" />
		<result property="extend7" column="EXTEND7" />
		<result property="extend8" column="EXTEND8" />
		<result property="extend9" column="EXTEND9" />
		<result property="extend10" column="EXTEND10" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.FuturesPrice"  useGeneratedKeys="true" keyProperty="id" >
		insert  into t_crude_futures_price (				ID
						,UUID
						,CRUDE_ID
						,PRICING
						,PRICING_DATE
						,NOTE
						,LATEST_FLAG
						,ALIVE_FLAG
						,CREATE_DATE
						,CREATE_PERSON
						,MODIFY_DATE
						,MODIFY_PERSON
						,SOURCE
						,INTERFACE_ID
						,EXTEND1
						,EXTEND2
						,EXTEND3
						,EXTEND4
						,EXTEND5
						,EXTEND6
						,EXTEND7
						,EXTEND8
						,EXTEND9
						,EXTEND10
						)
		values(		#{id}
						,#{uuid}
						,#{crudeId}
						,#{pricing}
						,#{pricingDate}
						,#{note}
						,#{latestFlag}
						,'1'
						,#{createDate}
						,#{createPerson}
						,#{modifyDate}
						,#{modifyPerson}
						,#{source}
						,#{interfaceId}
						,#{extend1}
						,#{extend2}
						,#{extend3}
						,#{extend4}
						,#{extend5}
						,#{extend6}
						,#{extend7}
						,#{extend8}
						,#{extend9}
						,#{extend10}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_crude_futures_price
              WHERE 1=1 
                AND ID = #{id}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.info.domain.FuturesPrice">
        DELETE FROM t_crude_futures_price
              WHERE 1=1 
        <if test="id!=null and id!=''">AND  ID = #{id}</if>
        <if test="uuid!=null and uuid!=''">AND  UUID = #{uuid}</if>
        <if test="crudeId!=null and crudeId!=''">AND  CRUDE_ID = #{crudeId}</if>
        <if test="pricing!=null and pricing!=''">AND  PRICING = #{pricing}</if>
        <if test="pricingDate!=null and pricingDate!=''">AND  PRICING_DATE = #{pricingDate}</if>
        <if test="note!=null and note!=''">AND  NOTE = #{note}</if>
        <if test="latestFlag!=null and latestFlag!=''">AND  LATEST_FLAG = #{latestFlag}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="createPerson!=null and createPerson!=''">AND  CREATE_PERSON = #{createPerson}</if>
        <if test="modifyDate!=null and modifyDate!=''">AND  MODIFY_DATE = #{modifyDate}</if>
        <if test="modifyPerson!=null and modifyPerson!=''">AND  MODIFY_PERSON = #{modifyPerson}</if>
        <if test="source!=null and source!=''">AND  SOURCE = #{source}</if>
        <if test="interfaceId!=null and interfaceId!=''">AND  INTERFACE_ID = #{interfaceId}</if>
        <if test="extend1!=null and extend1!=''">AND  EXTEND1 = #{extend1}</if>
        <if test="extend2!=null and extend2!=''">AND  EXTEND2 = #{extend2}</if>
        <if test="extend3!=null and extend3!=''">AND  EXTEND3 = #{extend3}</if>
        <if test="extend4!=null and extend4!=''">AND  EXTEND4 = #{extend4}</if>
        <if test="extend5!=null and extend5!=''">AND  EXTEND5 = #{extend5}</if>
        <if test="extend6!=null and extend6!=''">AND  EXTEND6 = #{extend6}</if>
        <if test="extend7!=null and extend7!=''">AND  EXTEND7 = #{extend7}</if>
        <if test="extend8!=null and extend8!=''">AND  EXTEND8 = #{extend8}</if>
        <if test="extend9!=null and extend9!=''">AND  EXTEND9 = #{extend9}</if>
        <if test="extend10!=null and extend10!=''">AND  EXTEND10 = #{extend10}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.info.domain.FuturesPrice">
		update t_crude_futures_price
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="crudeId!=null">,CRUDE_ID = #{crudeId}</if>
		<if test="pricing!=null">,PRICING = #{pricing}</if>
		<if test="pricingDate!=null">,PRICING_DATE = #{pricingDate}</if>
		<if test="note!=null">,NOTE = #{note}</if>
		<if test="latestFlag!=null">,LATEST_FLAG = #{latestFlag}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="createPerson!=null">,CREATE_PERSON = #{createPerson}</if>
		<if test="modifyDate!=null">,MODIFY_DATE = #{modifyDate}</if>
		<if test="modifyPerson!=null">,MODIFY_PERSON = #{modifyPerson}</if>
		<if test="source!=null">,SOURCE = #{source}</if>
		<if test="interfaceId!=null">,INTERFACE_ID = #{interfaceId}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
       	 ID=#{id}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_crude_futures_price
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="crudeId!=null">,CRUDE_ID = #{crudeId}</if>
		<if test="pricing!=null">,PRICING = #{pricing}</if>
		<if test="pricingDate!=null">,PRICING_DATE = #{pricingDate}</if>
		<if test="note!=null">,NOTE = #{note}</if>
		<if test="latestFlag!=null">,LATEST_FLAG = #{latestFlag}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="createPerson!=null">,CREATE_PERSON = #{createPerson}</if>
		<if test="modifyDate!=null">,MODIFY_DATE = #{modifyDate}</if>
		<if test="modifyPerson!=null">,MODIFY_PERSON = #{modifyPerson}</if>
		<if test="source!=null">,SOURCE = #{source}</if>
		<if test="interfaceId!=null">,INTERFACE_ID = #{interfaceId}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="crudeId!=null and crudeId!=''">and  CRUDE_ID=#{crudeId}</if>
		<if test="pricing!=null and pricing!=''">and  PRICING=#{pricing}</if>
		<if test="pricingDate!=null and pricingDate!=''">and  PRICING_DATE=#{pricingDate}</if>
		<if test="note!=null and note!=''">and  NOTE=#{note}</if>
		<if test="latestFlag!=null and latestFlag!=''">and  LATEST_FLAG=#{latestFlag}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
		<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
		<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
		<if test="source!=null and source!=''">and  SOURCE=#{source}</if>
		<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="FuturesPrice">
			select
			* from t_crude_futures_price
			where
		    ID=#{id} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="FuturesPrice">
			select
			* from t_crude_futures_price
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="FuturesPrice" parameterType="com.sinochem.crude.trade.info.domain.FuturesPrice">
		select * from t_crude_futures_price
			where
		 ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="crudeId!=null and crudeId!=''">and  CRUDE_ID=#{crudeId}</if>
		<if test="pricing!=null and pricing!=''">and  PRICING=#{pricing}</if>
		<if test="pricingDate!=null">and  PRICING_DATE=#{pricingDate}</if>
		<if test="note!=null and note!=''">and  NOTE=#{note}</if>
		<if test="latestFlag!=null and latestFlag!=''">and  LATEST_FLAG=#{latestFlag}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
		<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
		<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
		<if test="source!=null and source!=''">and  SOURCE=#{source}</if>
		<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  ID as "id" 
						 ,   UUID as "uuid" 
						 ,   CRUDE_ID as "crudeId" 
						 ,   PRICING as "pricing" 
						 ,   PRICING_DATE as "pricingDate" 
						 ,   NOTE as "note" 
						 ,   LATEST_FLAG as "latestFlag" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   CREATE_DATE as "createDate" 
						 ,   CREATE_PERSON as "createPerson" 
						 ,   MODIFY_DATE as "modifyDate" 
						 ,   MODIFY_PERSON as "modifyPerson" 
						 ,   SOURCE as "source" 
						 ,   INTERFACE_ID as "interfaceId" 
						 ,   EXTEND1 as "extend1" 
						 ,   EXTEND2 as "extend2" 
						 ,   EXTEND3 as "extend3" 
						 ,   EXTEND4 as "extend4" 
						 ,   EXTEND5 as "extend5" 
						 ,   EXTEND6 as "extend6" 
						 ,   EXTEND7 as "extend7" 
						 ,   EXTEND8 as "extend8" 
						 ,   EXTEND9 as "extend9" 
						 ,   EXTEND10 as "extend10" 
						from t_crude_futures_price
		where
			ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="crudeId!=null and crudeId!=''">and  CRUDE_ID=#{crudeId}</if>
			<if test="pricing!=null and pricing!=''">and  PRICING=#{pricing}</if>
			<if test="pricingDate!=null and pricingDate!=''">and  PRICING_DATE=#{pricingDate}</if>
			<if test="note!=null and note!=''">and  NOTE=#{note}</if>
			<if test="latestFlag!=null and latestFlag!=''">and  LATEST_FLAG=#{latestFlag}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
			<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
			<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
			<if test="source!=null and source!=''">and  SOURCE=#{source}</if>
			<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_crude_futures_price 
		where
		 ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="crudeId!=null and crudeId!=''">and  CRUDE_ID=#{crudeId}</if>
			<if test="pricing!=null and pricing!=''">and  PRICING=#{pricing}</if>
			<if test="pricingDate!=null and pricingDate!=''">and  PRICING_DATE=#{pricingDate}</if>
			<if test="note!=null and note!=''">and  NOTE=#{note}</if>
			<if test="latestFlag!=null and latestFlag!=''">and  LATEST_FLAG=#{latestFlag}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
			<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
			<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
			<if test="source!=null and source!=''">and  SOURCE=#{source}</if>
			<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>