<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.info.dao.SymbolMapper">
	<!-- <resultMap type="com.sinochem.crude.trade.info.dao.Symbol" id="SymbolDO" extends="com.sinochem.crude.trade.info.dao.mappers.immutable.${meta.immapperInterfaceClassName}.Symbol">
		
	</resultMap>  -->
	<resultMap type="com.sinochem.crude.trade.info.domain.Symbol" id="Symbol">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="symbol" column="SYMBOL" />
		<result property="symbolName" column="SYMBOL_NAME" />
		<result property="commodity" column="COMMODITY" />
		<result property="priceSource" column="PRICE_SOURCE" />
		<result property="market" column="MARKET" />
		<result property="frequency" column="FREQUENCY" />
		<result property="currency" column="CURRENCY" />
		<result property="symbolType" column="SYMBOL_TYPE" />
		<result property="type" column="TYPE" />
		<result property="expireDate" column="EXPIRE_DATE" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="extend1" column="EXTEND1" />
		<result property="extend2" column="EXTEND2" />
		<result property="extend3" column="EXTEND3" />
		<result property="extend4" column="EXTEND4" />
		<result property="extend5" column="EXTEND5" />
		<result property="extend6" column="EXTEND6" />
		<result property="extend7" column="EXTEND7" />
		<result property="extend8" column="EXTEND8" />
		<result property="extend9" column="EXTEND9" />
		<result property="extend10" column="EXTEND10" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.Symbol"  useGeneratedKeys="true" keyProperty="id" >
		insert  into t_cms_symbol (				ID
						,UUID
						,SYMBOL
						,SYMBOL_NAME
						,COMMODITY
						,PRICE_SOURCE
						,MARKET
						,FREQUENCY
						,CURRENCY
						,SYMBOL_TYPE
						,TYPE
						,EXPIRE_DATE
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,ALIVE_FLAG
						,EXTEND1
						,EXTEND2
						,EXTEND3
						,EXTEND4
						,EXTEND5
						,EXTEND6
						,EXTEND7
						,EXTEND8
						,EXTEND9
						,EXTEND10
						)
		values(		#{id}
						,#{uuid}
						,#{symbol}
						,#{symbolName}
						,#{commodity}
						,#{priceSource}
						,#{market}
						,#{frequency}
						,#{currency}
						,#{symbolType}
						,#{type}
						,#{expireDate}
						,#{createUser}
						,#{createDate}
						,#{updateUser}
						,#{updateDate}
						,'1'
						,#{extend1}
						,#{extend2}
						,#{extend3}
						,#{extend4}
						,#{extend5}
						,#{extend6}
						,#{extend7}
						,#{extend8}
						,#{extend9}
						,#{extend10}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_cms_symbol
              WHERE 1=1 
                AND ID = #{id}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
        DELETE FROM t_cms_symbol
              WHERE 1=1 
        <if test="id!=null and id!=''">AND  ID = #{id}</if>
        <if test="uuid!=null and uuid!=''">AND  UUID = #{uuid}</if>
        <if test="symbol!=null and symbol!=''">AND  SYMBOL = #{symbol}</if>
        <if test="symbolName!=null and symbolName!=''">AND  SYMBOL_NAME = #{symbolName}</if>
        <if test="commodity!=null and commodity!=''">AND  COMMODITY = #{commodity}</if>
        <if test="priceSource!=null and priceSource!=''">AND  PRICE_SOURCE = #{priceSource}</if>
        <if test="market!=null and market!=''">AND  MARKET = #{market}</if>
        <if test="frequency!=null and frequency!=''">AND  FREQUENCY = #{frequency}</if>
        <if test="currency!=null and currency!=''">AND  CURRENCY = #{currency}</if>
        <if test="symbolType!=null and symbolType!=''">AND  SYMBOL_TYPE = #{symbolType}</if>
        <if test="type!=null and type!=''">AND  TYPE = #{type}</if>
        <if test="expireDate!=null and expireDate!=''">AND  EXPIRE_DATE = #{expireDate}</if>
        <if test="createUser!=null and createUser!=''">AND  CREATE_USER = #{createUser}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="updateUser!=null and updateUser!=''">AND  UPDATE_USER = #{updateUser}</if>
        <if test="updateDate!=null and updateDate!=''">AND  UPDATE_DATE = #{updateDate}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="extend1!=null and extend1!=''">AND  EXTEND1 = #{extend1}</if>
        <if test="extend2!=null and extend2!=''">AND  EXTEND2 = #{extend2}</if>
        <if test="extend3!=null and extend3!=''">AND  EXTEND3 = #{extend3}</if>
        <if test="extend4!=null and extend4!=''">AND  EXTEND4 = #{extend4}</if>
        <if test="extend5!=null and extend5!=''">AND  EXTEND5 = #{extend5}</if>
        <if test="extend6!=null and extend6!=''">AND  EXTEND6 = #{extend6}</if>
        <if test="extend7!=null and extend7!=''">AND  EXTEND7 = #{extend7}</if>
        <if test="extend8!=null and extend8!=''">AND  EXTEND8 = #{extend8}</if>
        <if test="extend9!=null and extend9!=''">AND  EXTEND9 = #{extend9}</if>
        <if test="extend10!=null and extend10!=''">AND  EXTEND10 = #{extend10}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
		update t_cms_symbol
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="symbol!=null">,SYMBOL = #{symbol}</if>
		<if test="symbolName!=null">,SYMBOL_NAME = #{symbolName}</if>
		<if test="commodity!=null">,COMMODITY = #{commodity}</if>
		<if test="priceSource!=null">,PRICE_SOURCE = #{priceSource}</if>
		<if test="market!=null">,MARKET = #{market}</if>
		<if test="frequency!=null">,FREQUENCY = #{frequency}</if>
		<if test="currency!=null">,CURRENCY = #{currency}</if>
		<if test="symbolType!=null">,SYMBOL_TYPE = #{symbolType}</if>
		<if test="type!=null">,TYPE = #{type}</if>
		<if test="expireDate!=null">,EXPIRE_DATE = #{expireDate}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
       	 ID=#{id}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecordByUuid" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
		update t_cms_symbol
		<set>
		UUID = #{uuid}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="symbol!=null">,SYMBOL = #{symbol}</if>
		<if test="symbolName!=null">,SYMBOL_NAME = #{symbolName}</if>
		<if test="commodity!=null">,COMMODITY = #{commodity}</if>
		<if test="priceSource!=null">,PRICE_SOURCE = #{priceSource}</if>
		<if test="market!=null">,MARKET = #{market}</if>
		<if test="frequency!=null">,FREQUENCY = #{frequency}</if>
		<if test="currency!=null">,CURRENCY = #{currency}</if>
		<if test="symbolType!=null">,SYMBOL_TYPE = #{symbolType}</if>
		<if test="type!=null">,TYPE = #{type}</if>
		<if test="expireDate!=null">,EXPIRE_DATE = #{expireDate}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		,EXTEND2 = #{extend2}
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where  UUID = #{uuid} and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_cms_symbol
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="symbol!=null">,SYMBOL = #{symbol}</if>
		<if test="symbolName!=null">,SYMBOL_NAME = #{symbolName}</if>
		<if test="commodity!=null">,COMMODITY = #{commodity}</if>
		<if test="priceSource!=null">,PRICE_SOURCE = #{priceSource}</if>
		<if test="market!=null">,MARKET = #{market}</if>
		<if test="frequency!=null">,FREQUENCY = #{frequency}</if>
		<if test="currency!=null">,CURRENCY = #{currency}</if>
		<if test="symbolType!=null">,SYMBOL_TYPE = #{symbolType}</if>
		<if test="type!=null">,TYPE = #{type}</if>
		<if test="expireDate!=null">,EXPIRE_DATE = #{expireDate}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="symbol!=null and symbol!=''">and  SYMBOL=#{symbol}</if>
		<if test="symbolName!=null and symbolName!=''">and  SYMBOL_NAME=#{symbolName}</if>
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
		<if test="frequency!=null and frequency!=''">and  FREQUENCY=#{frequency}</if>
		<if test="currency!=null and currency!=''">and  CURRENCY=#{currency}</if>
		<if test="symbolType!=null and symbolType!=''">and  SYMBOL_TYPE=#{symbolType}</if>
		<if test="type!=null and type!=''">and  TYPE=#{type}</if>
		<if test="expireDate!=null and expireDate!=''">and  EXPIRE_DATE=#{expireDate}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="Symbol">
			select
			* from t_cms_symbol
			where
		    ID=#{id} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="Symbol">
			select
			* from t_cms_symbol
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="Symbol" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
		select * from t_cms_symbol
			where
		 ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="symbol!=null and symbol!=''">and  SYMBOL=#{symbol}</if>
		<if test="symbolName!=null and symbolName!=''">and  SYMBOL_NAME=#{symbolName}</if>
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
		<if test="frequency!=null and frequency!=''">and  FREQUENCY=#{frequency}</if>
		<if test="currency!=null and currency!=''">and  CURRENCY=#{currency}</if>
		<if test="symbolType!=null and symbolType!=''">and  SYMBOL_TYPE=#{symbolType}</if>
		<if test="type!=null and type!=''">and  TYPE=#{type}</if>
		<if test="expireDate!=null and expireDate!=''">and  EXPIRE_DATE=#{expireDate}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
		<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
			</select>
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  ID as "id" 
						 ,   UUID as "uuid" 
						 ,   SYMBOL as "symbol" 
						 ,   SYMBOL_NAME as "symbolName" 
						 ,   COMMODITY as "commodity" 
						 ,   PRICE_SOURCE as "priceSource" 
						 ,   MARKET as "market" 
						 ,   FREQUENCY as "frequency" 
						 ,   CURRENCY as "currency" 
						 ,   SYMBOL_TYPE as "symbolType" 
						 ,   TYPE as "type" 
						 ,   EXPIRE_DATE as "expireDate" 
						 ,   CREATE_USER as "createUser" 
						 ,   CREATE_DATE as "createDate" 
						 ,   UPDATE_USER as "updateUser" 
						 ,   UPDATE_DATE as "updateDate" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   EXTEND1 as "extend1" 
						 ,   EXTEND2 as "extend2" 
						 ,   EXTEND3 as "extend3" 
						 ,   EXTEND4 as "extend4" 
						 ,   EXTEND5 as "extend5" 
						 ,   EXTEND6 as "extend6" 
						 ,   EXTEND7 as "extend7" 
						 ,   EXTEND8 as "extend8" 
						 ,   EXTEND9 as "extend9" 
						 ,   EXTEND10 as "extend10" 
						from t_cms_symbol
		where
			ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="symbol!=null and symbol!=''">and  SYMBOL=#{symbol}</if>
			<if test="symbolName!=null and symbolName!=''">and  SYMBOL_NAME  like concat('%', trim(#{symbolName}), '%')</if>
			<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
			<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
			<if test="market!=null and market!=''">and  MARKET=#{market}</if>
			<if test="frequency!=null and frequency!=''">and  FREQUENCY=#{frequency}</if>
			<if test="currency!=null and currency!=''">and  CURRENCY=#{currency}</if>
			<if test="symbolType!=null and symbolType!=''">and  SYMBOL_TYPE=#{symbolType}</if>
			<if test="type!=null and type!=''">and  TYPE=#{type}</if>
			<if test="expireDate!=null and expireDate!=''">and  EXPIRE_DATE=#{expireDate}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_cms_symbol 
		where
		 ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="symbol!=null and symbol!=''">and  SYMBOL=#{symbol}</if>
			<if test="symbolName!=null and symbolName!=''">and  SYMBOL_NAME=#{symbolName}</if>
			<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
			<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
			<if test="market!=null and market!=''">and  MARKET=#{market}</if>
			<if test="frequency!=null and frequency!=''">and  FREQUENCY=#{frequency}</if>
			<if test="currency!=null and currency!=''">and  CURRENCY=#{currency}</if>
			<if test="symbolType!=null and symbolType!=''">and  SYMBOL_TYPE=#{symbolType}</if>
			<if test="type!=null and type!=''">and  TYPE=#{type}</if>
			<if test="expireDate!=null and expireDate!=''">and  EXPIRE_DATE=#{expireDate}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	<select id="getSymbol" resultType="java.util.HashMap" parameterType="com.sinochem.crude.trade.info.model.SymbolVO">
		select
			 	 SYMBOL as "symbol" 
			 ,   SYMBOL_NAME as "symbolName" 
			 ,   COMMODITY as "commodity" 
			 ,   PRICE_SOURCE as "priceSource" 
			 ,   MARKET as "market" 
			 ,   FREQUENCY as "frequency" 
			 ,   CURRENCY as "currency" 
			 ,   SYMBOL_TYPE as "symbolType" 
			 ,   TYPE as "type" 
			 ,   DATE_FORMAT(EXPIRE_DATE,'%Y-%m-%d')  as "expireDate"  
		from t_cms_symbol
		where ALIVE_FLAG='1'
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		ORDER BY SYMBOL_NAME
	</select>
	
	<select id="getCommodityList" resultType="String" parameterType="hashmap">
		select DISTINCT(COMMODITY) 
			from t_cms_symbol 
		where ALIVE_FLAG = '1'
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
	</select>
	
	<select id="getPriceSourceList" resultType="String" parameterType="hashmap">
		select DISTINCT(PRICE_SOURCE) 
			from t_cms_symbol 
		where ALIVE_FLAG = '1'
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
	</select>
	
	<select id="getMarketList" resultType="String" parameterType="hashmap">
		select DISTINCT(MARKET) 
			from t_cms_symbol 
		where ALIVE_FLAG = '1'
		<if test="commodity!=null and commodity!=''">and  COMMODITY=#{commodity}</if>
		<if test="priceSource!=null and priceSource!=''">and  PRICE_SOURCE=#{priceSource}</if>
		<if test="market!=null and market!=''">and  MARKET=#{market}</if>
	</select>
	<update id="updateSymbolNameBySymbol" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
		update t_cms_symbol
			<if test="symbolName !=null and symbolName!='' ">
				set SYMBOL_NAME = #{symbolName} 
			</if>
			<if test="extend1 !=null and extend1!='' ">
				set EXTEND1=#{extend1}
			</if>
		WHERE ALIVE_FLAG = '1' 
			AND SYMBOL = #{symbol}
	</update>
	<select id="querySymbol" resultType="Integer" parameterType="com.sinochem.crude.trade.info.domain.Symbol">
		select
			 count(*)
		from t_cms_symbol
		where ALIVE_FLAG = '1' 
			AND SYMBOL =#{symbol}
	</select>
	<select id="queryBySymbol" resultType="String" parameterType="String">
		select
			SYMBOL_NAME 
		from t_cms_symbol
		where ALIVE_FLAG = '1' 
			AND SYMBOL =#{crudeName}
	</select>
</mapper>