<div class="c-mod" id="cgxx">
    <h3><em class="cw-ico ico-h3"></em>Buyer<span class="cxtj-nr-an"></span></h3>
    <div class="c-form">
        <ul class="c-ful">
            <li class="c-fcos2"><span class="c-fn">Company:</span><span class="c-int qx-conte"> $!{buyerInfoVO.enterpriseName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Address:</span><span class="c-int qx-conte"> $!{buyerInfoVO.address}</span></li>
            <li class="c-fcos2"><span class="c-fn">Trader Name:</span><span class="c-int qx-conte"> $!{buyerInfoVO.traderName}</span></li>
            <li class="c-fcos2"><span class="c-fn">Email Address:</span><span class="c-int qx-conte"> $!{buyerInfoVO.email}</span></li>
            <li class="c-fcos2"><span class="c-fn">Tel:</span><span class="c-int qx-conte"> $!{buyerInfoVO.telephone}</span></li>
            <li class="c-fcos2"><span class="c-fn">Fax:</span><span class="c-int qx-conte"> $!{buyerInfoVO.fax}</span></li>
        </ul>
    </div>
</div>