#set($layout="")
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>500-买原油</title>
    <style>
        *{ padding:0; margin:0;}
        li{list-style:none;}
        img{ vertical-align:middle;}
        body{background:#fff;}
        html,body,img,iframe,abbr{border:0;}
        /*404*/
        .e-ico{ background:url($imageServer.get('images/e-ico.png')) no-repeat;display:inline-block;vertical-align:middle;}
        .fro-404{ text-align:center; width:100%; padding-top:30px;}
        .fro-bg404{ background:url($imageServer.get('images/500.png')) no-repeat center center; width:600px; height:353px; line-height:353px; font-size:120px; color:#126fb5; text-align:center; margin:0 auto; text-indent:-9999px; overflow:hidden;}
        .fro-404-t{ font-size:20px; color:#999; margin:40px 0;}
        .fro-404-b{ width:400px; margin:0 auto;}
        .fro-404-b li{ float:left;}
        .fro-404-b li:last-child{ float:right;}
        .fro-404-b li a{ font-size:18px; color:#999;}
        .refresh-ico{ background-position:0 0; width:29px; height:30px; margin-right:18px;}
        .return-ico{ background-position:-33px 0; width:31px; height:33px; margin-right:18px;}
    </style>
</head>
<body>
<div class="fro-404">
    <div class="fro-bg404">500</div>
    <p class="fro-404-t">哎呀！服务器遇到错误，无法完成请求，工程师正在抢修...</p>
    <ul class="fro-404-b clearfix">
        <span class="fro-succ-c"><em>$!message</em></span>
        <p style="display: none">$!{exception}</p>

        <li><a href="$!request.getHeader("referer")"><i class="e-ico refresh-ico"></i>刷新页面</a></li>
        <li><a href="$!indexUrl"><i class="e-ico return-ico"></i>返回首页</a></li>
    </ul>
</div>
</body>
</html>