
.s-main{position:relative;width:1140px;margin:0 auto;}
.s-header{position:relative;z-index:10;height:80px;}
.s-header a:hover{transition:all .5s;-webkit-transition:all .5s;}
.s-side{position:fixed;top:0;bottom:0;z-index:999;width:330px;}
.s-side-scroll{background:#fff;width:250px;height:100%;overflow-x:hidden;}
.s-body{position:absolute;left:330px;right:0;top:0;bottom:0;z-index:1;width:auto;overflow:hidden;overflow-y:auto;box-sizing:border-box;}
.s-layout-body{overflow:hidden;}
.s-layout-admin .s-header{background-color:#fff;}
.s-layout-admin .s-side{background:#fcfcfc;top:60px;width:310px;}
.s-layout-admin .s-body{top:80px;bottom:44px;}
.s-layout-admin .s-main{width:auto;margin:0 15px;}
.s-layout-admin .s-footer{position:fixed;left:330px;right:0;bottom:0;height:44px;line-height:44px;padding:0 15px;background-color:#eee;}
.s-layout-admin .s-logo{position:absolute;left:0;top:0;width:250px;height:100%;line-height:80px;text-align:center;color:#009688;font-size:16px;text-indent:-9999px;}
.s-layout-admin .s-header .s-nav{background:none;}
.s-layout-left{position:absolute !important;left:380px;top:0;}
.s-layout-right{position:absolute !important;right:0;top:0;}

.s-nav,.s-nav-left{position:relative;padding:0 10px;border-radius:2px;font-size:0;box-sizing:border-box;}
.s-nav-left{display:inline-block;vertical-align:top;}
.s-nav *,.s-nav-left *{font-size:14px;}
.s-nav .s-nav-item,.s-nav-left .s-nav-item,.s-search{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.s-nav .s-nav-item a.s-navblink,.s-nav-left .s-nav-item a.s-navblink{display:block;padding:0 15px;line-height:80px;transition:all .3s;-webkit-transition:all .3s;}
.s-nav-item .fs{color:#bbb;font-size:20px;}
.s-nav-item .fs:hover{ color:#0098cb;}
.s-nav-item a em{display:none;}

.s-search .s-searchspan{display:inline-block;line-height:80px;}
.s-search .s-searchspan input{width:170px;height:26px;line-height:26px;padding:0 26px 0 6px;border:1px solid #0098cb;border-radius:2px;}
.s-search .s-searchspan .s-searchlink{margin-left:-26px;width:19px;height:26px;line-height:26px;padding-left:3px;display:inline-block;vertical-align:middle;}
.s-searchlink .fs{font-size:16px;display:inline-block;margin-top:4px;}

.s-nav-bar,.s-nav .s-this:after,.s-nav-left .s-this:after,.s-nav-tree .s-nav-itemed:after{position:absolute;left:0;top:0;width:0;height:5px;background-color:#5FB878;transition:all .2s;-webkit-transition:all .2s;}
.s-nav-bar{z-index:1000;}
.s-nav .s-this a,.s-nav .s-nav-item a:hover,.s-nav-left .s-this a,.s-nav-left .s-nav-item a:hover{color:#333;}
.s-nav .s-this:after,.s-nav-left .s-this:after{content:'';top:auto;bottom:0;width:100%;}
.s-nav-img{width:30px;height:30px;margin-right:10px;border-radius:50%;}

.s-nav .s-nav-more,.s-nav-left .s-nav-more{content:'';width:0;height:0;border-style:dashed;border-color:transparent;overflow:hidden;cursor:pointer;transition:all .2s;-webkit-transition:all .2s;}
.s-nav .s-nav-more,.s-nav-left .s-nav-more{position:absolute;top:50%;right:3px;margin-top:-3px;border-width:6px;border-top-style:solid;border-top-color:#333;border-top-color:rgba(0,0,0,.7);}
.s-nav .s-nav-mored,.s-nav-left .s-nav-mored,.s-nav-itemed .s-nav-more{margin-top:-9px;border-style:dashed;border-color:transparent;border-bottom-style:solid;border-bottom-color:#333;}

.s-nav-child{display:none;position:absolute;left:0;top:65px;min-width:100%;line-height:36px;padding:5px 0;box-shadow:0 2px 4px rgba(0,0,0,.12);border:1px solid #d2d2d2;background-color:#fff;z-index:100;border-radius:2px;white-space:nowrap;}
.s-nav .s-nav-child a,.s-nav-left .s-nav-child a{color:#333;}
.s-nav .s-nav-child a:hover,.s-nav-left .s-nav-child a:hover{background-color:#f2f2f2;color:#000;}
.s-nav-child dd{position:relative;}
.s-nav-child dd.s-this{background-color:#5FB878;color:#333;}
.s-nav .s-nav-child dd.s-this a{background-color:#5FB878;color:#333;}
.s-nav-child dd.s-this:after{display:none;}

.s-nav-item ul.s-subnavul{position:absolute;top:60px;right:0;background-color:#fff;border:1px solid #e8e8e8;box-shadow: 0 0 10px 0 #eee;padding:6px 0;display:none;}
.s-nav-item ul.s-subnavul:before{content:" ";position: absolute;top: -6px;right: 20px;width: 8px;height: 8px;background-color: #fff;border-top: 1px solid #e8e8e8;border-left: 1px solid #e8e8e8;transform: rotate(45deg);}
.s-nav-item ul a{font-size:12px;}

/*切换账户*/
.s-nav-item:nth-child(1) .s-subnavul{width:100px;}
.s-nav-item:nth-child(1):hover .s-subnavul{display:block;}
.s-nav-item:nth-child(1) .s-subnavul .s-subnavli a{display:block;padding:2px 10px;}

/*消息*/
.s-nav-item:nth-child(2) .s-subnavul{width:200px;}
.s-nav-item:nth-child(2):hover .s-subnavul{display:block;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavli{padding:2px 10px;overflow:hidden;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavli .s-subnavlink{float:left;text-align:left;width:112px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavli .s-subnavsp{float:right;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavli .s-subnavsp a{margin-left:10px;color:#69f;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavmore{text-align:center;}
.s-nav-item:nth-child(2) .s-subnavul .s-subnavmore a{margin-top:5px;color:#69f;display:block;}

/*提醒*/
.s-nav-item:nth-child(3) .s-subnavul{width:200px;}
.s-nav-item:nth-child(3):hover .s-subnavul{display:block;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavli{padding:2px 10px;overflow:hidden;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavli .s-subnavlink{float:left;text-align:left;width:112px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavli .s-subnavsp{float:right;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavli .s-subnavsp a{margin-left:10px;color:#69f;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavmore{text-align:center;}
.s-nav-item:nth-child(3) .s-subnavul .s-subnavmore a{margin-top:5px;color:#69f;display:block;}

/*换肤*/
.s-nav-item:nth-child(4) .s-subnavul{width:100px;}
.s-nav-item:nth-child(4):hover .s-subnavul{display:block;}
.s-nav-item:nth-child(4) .s-subnavul .s-subnavli a{display:block;padding:2px 10px;}
.s-nav-item:nth-child(4) .s-subnavul .s-subnavli a:hover{background-color: #0071bb;color: #fff;}
.s-nav-item:nth-child(4) .s-subnavul .s-subnavmore{text-align:center;}
.s-nav-item:nth-child(4) .s-subnavul .s-subnavmore a{margin-top:5px;color:#69f;display:block;}

.s-backmenu .fs-arrow-left{font-size:40px;margin-top:-6px;vertical-align:middle;}
.s-side .s-peoimg p.s-peoname i.fs-edit{font-size:18px;margin-left:10px;cursor:pointer;}
.s-side .s-peoimg p.s-peoname i.fs-edit:hover{ color:#0098cb;}

.s-menu-link .fs{display:inline-block;height:60px;width:60px;font-size:40px;text-align:center;line-height:60px;position:absolute;right:0;z-index:10;}
.s-menu-link .fs-user{background-color:#0098cb;color:#fff;top:-60px;}
.s-menu-link .fs-cog{background-color:#c3c3c3;color:#fff;top:0;}
.s-menu-link .fs-global{background-color:#e4e4e4;color:#fff;top:60px;}

.s-accordion{display:none;width:100%;max-width:250px;padding:0;}
.s-accordion.s-cur{display:block;}
.s-accordion .s-link{cursor:pointer;display:block;padding:15px 15px 15px 42px;color:#4D4D4D;font-size:16px;position:relative;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
.s-accordion li{cursor:pointer;}
.s-accordion li i{position:absolute;top:16px;left:12px;font-size:18px;color:#595959;-webkit-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;}
.s-accordion li i.fs-chevron-down{right:12px;left:auto;}
.s-accordion li.open .s-link{color: #09c;}
.s-accordion li.open i{color:#09c;}
.s-accordion li.open i.fs-chevron-down{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);}
.s-submenu{display:none;background: #fff;font-size: 14px;}
.s-submenu a{display:block;text-decoration:none;color:#666;padding:12px;padding-left: 42px;-webkit-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.s-submenu a:hover,.s-submenu li.current a{background:#09c;color:#FFF;}
.s-menu-txt{display:none;}
.s-number{background:#f90;border-radius:50%;display:none;color:#fff;font-size:12px;width:20px;height:20px;line-height:20px;text-align:center;}

/*主目录*/
.s-side .s-mlf{position:absolute;left:325px;top:-32px;}
.s-side .s-mlf .fs-menu{color:#0098cb;font-size:40px;display:inline-block;margin-top:-8px;}
.s-side .s-backmenu{padding-left:30px;display:inline-block;width:100%;box-sizing:border-box;}

/*主目录-文字*/
.s-side a.s-backmenu{display:inline-block;color:#0098cb;font-size:30px;}

/*用户（头像-昵称-邮箱）父盒子*/
.s-side .s-peoimg{text-align:center;margin:30px 0;}
.s-side .s-peoimg p,.s-ml .s-peoimg span{display:block;}

/*头像*/
.s-side .s-peoimg .s-peoimgspan{display:block;width:110px;height:110px;margin:0 auto;}
.s-side .s-peoimg .s-peoimgspan img{border-radius:50%;width:100%;height:100%;}

/*昵称*/
.s-side .s-peoimg p.s-peoname{font-size:18px;line-height:18px;margin:20px 0 15px;}

/*邮箱*/
.s-side .s-peoimg p.s-peoimgptxt{font-size:16px;line-height:16px;}

/* 背景颜色 */
.s-body-bg{background-color:#f4f5f7!important;}

/* 字体图标 */
[class^="fs-"], [class*=" fs-"]{display:inline-block;}

.s-accordion li:nth-child(1) ul.s-submenu{ display:none;}