<script src="$!imageServer.get('/layui/layui.js')" charset="utf-8"></script>
<link href="$imageServer.get('/layui/css/layui.css')" rel="stylesheet" type="text/css">
<script src="$!imageServer.get('/js/jquery-1.8.3.min.js')" type="application/javascript"></script>
<div class="layui-fluid">
##    <table class="layui-table" lay-data="{height:100%}">
    <div style="padding-top: 25px;">
        <button data-method="setTop" class="layui-btn" id="add">添加</button>
##        <span style="padding-left: 50px;">搜索名字:</span>
##        <div class="layui-inline" >
##            <input class="layui-input" name="id" id="demoReload" autocomplete="off">
##        </div>
##        <button class="layui-btn" data-type="reload">搜索</button>
    </div>
    <table class="layui-table">
        <thead>
        <tr>
            <th lay-data="{width:20}">ID</th>
            <th lay-data="{width:80}">用户名</th>
            <th lay-data="{width:80}">用户邮箱</th>
            <th lay-data="{width:80, sort: true}">系统编码</th>
            <th lay-data="{width:80, sort: true}">系统账户</th>
            <th lay-data="{width:80}">时间</th>
            <th lay-data="{width:80}">操作</th>
        </tr>
        </thead>
        #foreach($item in $list)
            <tr>
                <td>$!item.id</td>
                <td>$!item.userName</td>
                <td>$!item.email</td>
                <td>$!item.sysCode</td>
                <td>$!item.account</td>
                <td>$!dateUtil.convertDateToString('yyyy-MM-dd',$!item.createTime)</td>
                <td>
                    <a class="layui-btn layui-btn-mini" data-method="setTop" id="edit" data-id="$!item.id">编辑</a>
                    <a class="layui-btn layui-btn-danger layui-btn-mini" id="del" data-id="$!item.id">删除</a>
                </td>
            </tr>
        #end
    </table>
</div>
<script>
    layui.use('table', function(){
        var table = layui.table;
    });

    $(function(){
        var title;
        var type;
        var url;
        var active = {
            setTop: function () {
                var that = this;
                //多窗口模式，层叠置顶
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: title
                    , area: ['700px', '400px']
                    , shade: 0
                    , maxmin: true
                    , id:1
                    , content: url
                    , zIndex: layer.zIndex //重点1
                    , success: function (layero) {
                        layer.setTop(layero); //重点2
                    }
                });
            }
        }
        $("#add").click(function(){
            title = '新增';
            type = 'add';
            url = "$appServer.get('om/exosystemAcc/add.htm')";
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        })
        $("[id=edit]").click(function(){
            title = '编辑';
            type = 'edit';
            var id = $(this).attr('data-id');
            url = "$appServer.get('om/exosystemAcc/edit.htm')?id="+id;
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        })

        $("#del").click(function(){
            var id = $(this).attr('data-id');
            layer.alert('请确认删除.',function() {
                $.ajax({
                    url:'$appServer.get("om/exosystemAcc/delete.json")',
                    method:'POST',
                    data:{'id' : id},
                    success:function(data){
                        layer.alert(data.message,function(){
                            if(data && data.status == 0){
                                parent.layer.closeAll();
                                parent.location.reload();
                            }else{
                                layer.alert(data.message)
                            }
                        });
                    },error:function(r,d){
                        layer.alert('删除失败')
                    }
                });
            })
        })
    })
</script>