<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.orderexecute.dao.InterfaceListMapper">
	<resultMap type="com.sinochem.crude.trade.orderexecute.domain.InterfaceList" id="InterfaceList">
		<result property="interfaceId" column="INTERFACE_ID" />
		<result property="sysName" column="SYS_NAME" />
		<result property="memRole" column="MEM_ROLE" />
		<result property="interfaceType" column="INTERFACE_TYPE" />
		<result property="businessType" column="BUSINESS_TYPE" />
		<result property="interfaceCode" column="INTERFACE_CODE" />
		<result property="interfaceUrl" column="INTERFACE_URL" />
		<result property="interfaceDesc" column="INTERFACE_DESC" />
		<result property="inputDesc" column="INPUT_DESC" />
		<result property="outputDesc" column="OUTPUT_DESC" />
		<result property="langVer" column="LANG_VER" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="version" column="VERSION" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.orderexecute.domain.InterfaceList"  useGeneratedKeys="true" keyProperty="interfaceId" >
		insert  into t_interface_list (				INTERFACE_ID
						,SYS_NAME
						,MEM_ROLE
						,INTERFACE_TYPE
						,BUSINESS_TYPE
						,INTERFACE_CODE
						,INTERFACE_URL
						,INTERFACE_DESC
						,INPUT_DESC
						,OUTPUT_DESC
						,LANG_VER
						,ALIVE_FLAG
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,VERSION
						)
		values(		#{interfaceId}
						,#{sysName}
						,#{memRole}
						,#{interfaceType}
						,#{businessType}
						,#{interfaceCode}
						,#{interfaceUrl}
						,#{interfaceDesc}
						,#{inputDesc}
						,#{outputDesc}
						,#{langVer}
						,1
						,#{createUser}
						,#{createDate}
						,#{updateUser}
						,#{updateDate}
						,#{version}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_interface_list
              WHERE 1=1 
                AND INTERFACE_ID = #{interfaceId}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.orderexecute.domain.InterfaceList">
        DELETE FROM t_interface_list
              WHERE 1=1 
        <if test="interfaceId!=null and interfaceId!=''">AND  INTERFACE_ID = #{interfaceId}</if>
        <if test="sysName!=null and sysName!=''">AND  SYS_NAME = #{sysName}</if>
        <if test="memRole!=null and memRole!=''">AND  MEM_ROLE = #{memRole}</if>
        <if test="interfaceType!=null and interfaceType!=''">AND  INTERFACE_TYPE = #{interfaceType}</if>
        <if test="businessType!=null and businessType!=''">AND  BUSINESS_TYPE = #{businessType}</if>
        <if test="interfaceCode!=null and interfaceCode!=''">AND  INTERFACE_CODE = #{interfaceCode}</if>
        <if test="interfaceUrl!=null and interfaceUrl!=''">AND  INTERFACE_URL = #{interfaceUrl}</if>
        <if test="interfaceDesc!=null and interfaceDesc!=''">AND  INTERFACE_DESC = #{interfaceDesc}</if>
        <if test="inputDesc!=null and inputDesc!=''">AND  INPUT_DESC = #{inputDesc}</if>
        <if test="outputDesc!=null and outputDesc!=''">AND  OUTPUT_DESC = #{outputDesc}</if>
        <if test="langVer!=null and langVer!=''">AND  LANG_VER = #{langVer}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="createUser!=null and createUser!=''">AND  CREATE_USER = #{createUser}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="updateUser!=null and updateUser!=''">AND  UPDATE_USER = #{updateUser}</if>
        <if test="updateDate!=null and updateDate!=''">AND  UPDATE_DATE = #{updateDate}</if>
        <if test="version!=null and version!=''">AND  VERSION = #{version}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.orderexecute.domain.InterfaceList">
		update t_interface_list
		<set>
         INTERFACE_ID=#{interfaceId}
		<if test="sysName!=null">,SYS_NAME = #{sysName}</if>
		<if test="memRole!=null">,MEM_ROLE = #{memRole}</if>
		<if test="interfaceType!=null">,INTERFACE_TYPE = #{interfaceType}</if>
		<if test="businessType!=null">,BUSINESS_TYPE = #{businessType}</if>
		<if test="interfaceCode!=null">,INTERFACE_CODE = #{interfaceCode}</if>
		<if test="interfaceUrl!=null">,INTERFACE_URL = #{interfaceUrl}</if>
		<if test="interfaceDesc!=null">,INTERFACE_DESC = #{interfaceDesc}</if>
		<if test="inputDesc!=null">,INPUT_DESC = #{inputDesc}</if>
		<if test="outputDesc!=null">,OUTPUT_DESC = #{outputDesc}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
       	 INTERFACE_ID=#{interfaceId}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_interface_list
		<set>
         INTERFACE_ID=#{interfaceId}
		<if test="sysName!=null">,SYS_NAME = #{sysName}</if>
		<if test="memRole!=null">,MEM_ROLE = #{memRole}</if>
		<if test="interfaceType!=null">,INTERFACE_TYPE = #{interfaceType}</if>
		<if test="businessType!=null">,BUSINESS_TYPE = #{businessType}</if>
		<if test="interfaceCode!=null">,INTERFACE_CODE = #{interfaceCode}</if>
		<if test="interfaceUrl!=null">,INTERFACE_URL = #{interfaceUrl}</if>
		<if test="interfaceDesc!=null">,INTERFACE_DESC = #{interfaceDesc}</if>
		<if test="inputDesc!=null">,INPUT_DESC = #{inputDesc}</if>
		<if test="outputDesc!=null">,OUTPUT_DESC = #{outputDesc}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
		<if test="sysName!=null and sysName!=''">and  SYS_NAME=#{sysName}</if>
		<if test="memRole!=null and memRole!=''">and  MEM_ROLE=#{memRole}</if>
		<if test="interfaceType!=null and interfaceType!=''">and  INTERFACE_TYPE=#{interfaceType}</if>
		<if test="businessType!=null and businessType!=''">and  BUSINESS_TYPE=#{businessType}</if>
		<if test="interfaceCode!=null and interfaceCode!=''">and  INTERFACE_CODE=#{interfaceCode}</if>
		<if test="interfaceUrl!=null and interfaceUrl!=''">and  INTERFACE_URL=#{interfaceUrl}</if>
		<if test="interfaceDesc!=null and interfaceDesc!=''">and  INTERFACE_DESC=#{interfaceDesc}</if>
		<if test="inputDesc!=null and inputDesc!=''">and  INPUT_DESC=#{inputDesc}</if>
		<if test="outputDesc!=null and outputDesc!=''">and  OUTPUT_DESC=#{outputDesc}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="InterfaceList">
			select
			* from t_interface_list
			where
		    INTERFACE_ID=#{interfaceId} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="InterfaceList">
			select
			* from t_interface_list
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="InterfaceList" parameterType="com.sinochem.crude.trade.orderexecute.domain.InterfaceList">
		select * from t_interface_list
			where
		 ALIVE_FLAG='1'
		<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
		<if test="sysName!=null and sysName!=''">and  SYS_NAME=#{sysName}</if>
		<if test="memRole!=null and memRole!=''">and  MEM_ROLE=#{memRole}</if>
		<if test="interfaceType!=null and interfaceType!=''">and  INTERFACE_TYPE=#{interfaceType}</if>
		<if test="businessType!=null and businessType!=''">and  BUSINESS_TYPE=#{businessType}</if>
		<if test="interfaceCode!=null and interfaceCode!=''">and  INTERFACE_CODE=#{interfaceCode}</if>
		<if test="interfaceUrl!=null and interfaceUrl!=''">and  INTERFACE_URL=#{interfaceUrl}</if>
		<if test="interfaceDesc!=null and interfaceDesc!=''">and  INTERFACE_DESC=#{interfaceDesc}</if>
		<if test="inputDesc!=null and inputDesc!=''">and  INPUT_DESC=#{inputDesc}</if>
		<if test="outputDesc!=null and outputDesc!=''">and  OUTPUT_DESC=#{outputDesc}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
		<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  INTERFACE_ID as "interfaceId" 
						 ,   SYS_NAME as "sysName" 
						 ,   MEM_ROLE as "memRole" 
						 ,   INTERFACE_TYPE as "interfaceType" 
						 ,   BUSINESS_TYPE as "businessType" 
						 ,   INTERFACE_CODE as "interfaceCode" 
						 ,   INTERFACE_URL as "interfaceUrl" 
						 ,   INTERFACE_DESC as "interfaceDesc" 
						 ,   INPUT_DESC as "inputDesc" 
						 ,   OUTPUT_DESC as "outputDesc" 
						 ,   LANG_VER as "langVer" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   CREATE_USER as "createUser" 
						 ,   CREATE_DATE as "createDate" 
						 ,   UPDATE_USER as "updateUser" 
						 ,   UPDATE_DATE as "updateDate" 
						 ,   VERSION as "version" 
						from t_interface_list
		where
			ALIVE_FLAG='1'
			<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID like '%' {interfaceId} '%'</if>
			<if test="sysName!=null and sysName!=''">and  SYS_NAME like '%' #{sysName} '%'</if>
			<if test="memRole!=null and memRole!=''">and  MEM_ROLE like '%' #{memRole} '%'</if>
			<if test="interfaceType!=null and interfaceType!=''">and  INTERFACE_TYPE like '%' #{interfaceType} '%'</if>
			<if test="businessType!=null and businessType!=''">and  BUSINESS_TYPE like '%' #{businessType} '%'</if>
			<if test="interfaceCode!=null and interfaceCode!=''">and  INTERFACE_CODE like '%' #{interfaceCode} '%'</if>
			<if test="interfaceUrl!=null and interfaceUrl!=''">and  INTERFACE_URL like '%' #{interfaceUrl} '%'</if>
			<if test="interfaceDesc!=null and interfaceDesc!=''">and  INTERFACE_DESC like '%' #{interfaceDesc} '%'</if>
			<if test="inputDesc!=null and inputDesc!=''">and  INPUT_DESC like '%' #{inputDesc} '%'</if>
			<if test="outputDesc!=null and outputDesc!=''">and  OUTPUT_DESC like '%' #{outputDesc} '%'</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER like '%' #{langVer} '%'</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG like '%' #{aliveFlag} '%'</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER like '%' #{createUser} '%'</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE like '%' #{createDate} '%'</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER like '%' #{updateUser} '%'</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE like '%' #{updateDate} '%'</if>
			<if test="version!=null and version!=''">and  VERSION like '%' #{version} '%'</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_interface_list 
		where
		 ALIVE_FLAG='1'
			<if test="interfaceId!=null and interfaceId!=''">and  INTERFACE_ID=#{interfaceId}</if>
			<if test="sysName!=null and sysName!=''">and  SYS_NAME=#{sysName}</if>
			<if test="memRole!=null and memRole!=''">and  MEM_ROLE=#{memRole}</if>
			<if test="interfaceType!=null and interfaceType!=''">and  INTERFACE_TYPE=#{interfaceType}</if>
			<if test="businessType!=null and businessType!=''">and  BUSINESS_TYPE=#{businessType}</if>
			<if test="interfaceCode!=null and interfaceCode!=''">and  INTERFACE_CODE=#{interfaceCode}</if>
			<if test="interfaceUrl!=null and interfaceUrl!=''">and  INTERFACE_URL=#{interfaceUrl}</if>
			<if test="interfaceDesc!=null and interfaceDesc!=''">and  INTERFACE_DESC=#{interfaceDesc}</if>
			<if test="inputDesc!=null and inputDesc!=''">and  INPUT_DESC=#{inputDesc}</if>
			<if test="outputDesc!=null and outputDesc!=''">and  OUTPUT_DESC=#{outputDesc}</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="version!=null and version!=''">and  VERSION=#{version}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>