<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.orderexecute.dao.OrderDocumentFileMapper">
	<resultMap type="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile" id="OrderDocumentFile">
		<result property="documentFileId" column="DOCUMENT_FILE_ID" />
		<result property="documentFileUuid" column="DOCUMENT_FILE_UUID" />
		<result property="orderDocumentId" column="ORDER_DOCUMENT_ID" />
		<result property="fileName" column="FILE_NAME" />
		<result property="fileCode" column="FILE_CODE" />
		<result property="originalName" column="ORIGINAL_NAME" />
		<result property="filePath" column="FILE_PATH" />
		<result property="fileFormat" column="FILE_FORMAT" />
		<result property="fileSize" column="FILE_SIZE" />
		<result property="fileStatus" column="FILE_STATUS" />
		<result property="uploadTime" column="UPLOAD_TIME" />
		<result property="uploadPerson" column="UPLOAD_PERSON" />
		<result property="langVer" column="LANG_VER" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="version" column="VERSION" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile"  useGeneratedKeys="true" keyProperty="documentFileId" >
		insert  into t_order_document_file (				DOCUMENT_FILE_ID
						,DOCUMENT_FILE_UUID
						,ORDER_DOCUMENT_ID
						,FILE_NAME
						,FILE_CODE
						,ORIGINAL_NAME
						,FILE_PATH
						,FILE_FORMAT
						,FILE_SIZE
						,FILE_STATUS
						,UPLOAD_TIME
						,UPLOAD_PERSON
						,LANG_VER
						,ALIVE_FLAG
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,VERSION
						)
		values(		#{documentFileId}
						,#{documentFileUuid}
						,#{orderDocumentId}
						,#{fileName}
						,#{fileCode}
						,#{originalName}
						,#{filePath}
						,#{fileFormat}
						,#{fileSize}
						,#{fileStatus}
						,#{uploadTime}
						,#{uploadPerson}
						,#{langVer}
						,#{aliveFlag}
						,#{createUser}
						,#{createDate}
						,#{updateUser}
						,#{updateDate}
						,#{version}
				)
	</insert>
	
	<update id="deleteById" parameterType="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile">
        UPDATE 
        	t_order_document_file
        SET 
        	ALIVE_FLAG = '0'
        	,UPDATE_USER = #{updateUser}
			,UPDATE_DATE = #{updateDate}
        WHERE 
        	DOCUMENT_FILE_ID = #{documentFileId}  
    </update>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile">
        DELETE FROM t_order_document_file
              WHERE 1=1 
        <if test="documentFileId!=null and documentFileId!=''">AND  DOCUMENT_FILE_ID = #{documentFileId}</if>
        <if test="documentFileUuid!=null and documentFileUuid!=''">AND  DOCUMENT_FILE_UUID = #{documentFileUuid}</if>
        <if test="orderDocumentId!=null and orderDocumentId!=''">AND  ORDER_DOCUMENT_ID = #{orderDocumentId}</if>
        <if test="fileName!=null and fileName!=''">AND  FILE_NAME = #{fileName}</if>
        <if test="fileCode!=null and fileCode!=''">AND  FILE_CODE = #{fileCode}</if>
        <if test="originalName!=null and originalName!=''">AND  ORIGINAL_NAME = #{originalName}</if>
        <if test="filePath!=null and filePath!=''">AND  FILE_PATH = #{filePath}</if>
        <if test="fileFormat!=null and fileFormat!=''">AND  FILE_FORMAT = #{fileFormat}</if>
        <if test="fileSize!=null and fileSize!=''">AND  FILE_SIZE = #{fileSize}</if>
        <if test="fileStatus!=null and fileStatus!=''">AND  FILE_STATUS = #{fileStatus}</if>
        <if test="uploadTime!=null and uploadTime!=''">AND  UPLOAD_TIME = #{uploadTime}</if>
        <if test="uploadPerson!=null and uploadPerson!=''">AND  UPLOAD_PERSON = #{uploadPerson}</if>
        <if test="langVer!=null and langVer!=''">AND  LANG_VER = #{langVer}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="createUser!=null and createUser!=''">AND  CREATE_USER = #{createUser}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="updateUser!=null and updateUser!=''">AND  UPDATE_USER = #{updateUser}</if>
        <if test="updateDate!=null and updateDate!=''">AND  UPDATE_DATE = #{updateDate}</if>
        <if test="version!=null and version!=''">AND  VERSION = #{version}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile">
		update t_order_document_file
		<set>
         DOCUMENT_FILE_ID=#{documentFileId}
		<if test="documentFileUuid!=null">,DOCUMENT_FILE_UUID = #{documentFileUuid}</if>
		<if test="orderDocumentId!=null">,ORDER_DOCUMENT_ID = #{orderDocumentId}</if>
		<if test="fileName!=null">,FILE_NAME = #{fileName}</if>
		<if test="fileCode!=null">,FILE_CODE = #{fileCode}</if>
		<if test="originalName!=null">,ORIGINAL_NAME = #{originalName}</if>
		<if test="filePath!=null">,FILE_PATH = #{filePath}</if>
		<if test="fileFormat!=null">,FILE_FORMAT = #{fileFormat}</if>
		<if test="fileSize!=null">,FILE_SIZE = #{fileSize}</if>
		<if test="fileStatus!=null">,FILE_STATUS = #{fileStatus}</if>
		<if test="uploadTime!=null">,UPLOAD_TIME = #{uploadTime}</if>
		<if test="uploadPerson!=null">,UPLOAD_PERSON = #{uploadPerson}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
       	 DOCUMENT_FILE_ID=#{documentFileId}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_order_document_file
		<set>
         DOCUMENT_FILE_ID=#{documentFileId}
		<if test="documentFileUuid!=null">,DOCUMENT_FILE_UUID = #{documentFileUuid}</if>
		<if test="orderDocumentId!=null">,ORDER_DOCUMENT_ID = #{orderDocumentId}</if>
		<if test="fileName!=null">,FILE_NAME = #{fileName}</if>
		<if test="fileCode!=null">,FILE_CODE = #{fileCode}</if>
		<if test="originalName!=null">,ORIGINAL_NAME = #{originalName}</if>
		<if test="filePath!=null">,FILE_PATH = #{filePath}</if>
		<if test="fileFormat!=null">,FILE_FORMAT = #{fileFormat}</if>
		<if test="fileSize!=null">,FILE_SIZE = #{fileSize}</if>
		<if test="fileStatus!=null">,FILE_STATUS = #{fileStatus}</if>
		<if test="uploadTime!=null">,UPLOAD_TIME = #{uploadTime}</if>
		<if test="uploadPerson!=null">,UPLOAD_PERSON = #{uploadPerson}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="documentFileId!=null and documentFileId!=''">and  DOCUMENT_FILE_ID=#{documentFileId}</if>
		<if test="documentFileUuid!=null and documentFileUuid!=''">and  DOCUMENT_FILE_UUID=#{documentFileUuid}</if>
		<if test="orderDocumentId!=null and orderDocumentId!=''">and  ORDER_DOCUMENT_ID=#{orderDocumentId}</if>
		<if test="fileName!=null and fileName!=''">and  FILE_NAME=#{fileName}</if>
		<if test="fileCode!=null and fileCode!=''">and  FILE_CODE=#{fileCode}</if>
		<if test="originalName!=null and originalName!=''">and  ORIGINAL_NAME=#{originalName}</if>
		<if test="filePath!=null and filePath!=''">and  FILE_PATH=#{filePath}</if>
		<if test="fileFormat!=null and fileFormat!=''">and  FILE_FORMAT=#{fileFormat}</if>
		<if test="fileSize!=null and fileSize!=''">and  FILE_SIZE=#{fileSize}</if>
		<if test="fileStatus!=null and fileStatus!=''">and  FILE_STATUS=#{fileStatus}</if>
		<if test="uploadTime!=null and uploadTime!=''">and  UPLOAD_TIME=#{uploadTime}</if>
		<if test="uploadPerson!=null and uploadPerson!=''">and  UPLOAD_PERSON=#{uploadPerson}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="OrderDocumentFile">
			select
			* from t_order_document_file
			where
		    DOCUMENT_FILE_ID=#{documentFileId} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="OrderDocumentFile">
			select
			* from t_order_document_file
			where DOCUMENT_FILE_UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="OrderDocumentFile" parameterType="com.sinochem.crude.trade.orderexecute.domain.OrderDocumentFile">
		select * from t_order_document_file
			where
		 ALIVE_FLAG='1'
		<if test="documentFileId!=null and documentFileId!=''">and  DOCUMENT_FILE_ID=#{documentFileId}</if>
		<if test="documentFileUuid!=null and documentFileUuid!=''">and  DOCUMENT_FILE_UUID=#{documentFileUuid}</if>
		<if test="orderDocumentId!=null and orderDocumentId!=''">and  ORDER_DOCUMENT_ID=#{orderDocumentId}</if>
		<if test="fileName!=null and fileName!=''">and  FILE_NAME=#{fileName}</if>
		<if test="fileCode!=null and fileCode!=''">and  FILE_CODE=#{fileCode}</if>
		<if test="originalName!=null and originalName!=''">and  ORIGINAL_NAME=#{originalName}</if>
		<if test="filePath!=null and filePath!=''">and  FILE_PATH=#{filePath}</if>
		<if test="fileFormat!=null and fileFormat!=''">and  FILE_FORMAT=#{fileFormat}</if>
		<if test="fileSize!=null and fileSize!=''">and  FILE_SIZE=#{fileSize}</if>
		<if test="fileStatus!=null and fileStatus!=''">and  FILE_STATUS=#{fileStatus}</if>
		<if test="uploadTime!=null and uploadTime!=''">and  UPLOAD_TIME=#{uploadTime}</if>
		<if test="uploadPerson!=null and uploadPerson!=''">and  UPLOAD_PERSON=#{uploadPerson}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
		<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  DOCUMENT_FILE_ID as "documentFileId" 
						 ,   DOCUMENT_FILE_UUID as "documentFileUuid" 
						 ,   ORDER_DOCUMENT_ID as "orderDocumentId" 
						 ,   FILE_NAME as "fileName" 
						 ,   FILE_CODE as "fileCode" 
						 ,   ORIGINAL_NAME as "originalName" 
						 ,   FILE_PATH as "filePath" 
						 ,   FILE_FORMAT as "fileFormat" 
						 ,   FILE_SIZE as "fileSize" 
						 ,   FILE_STATUS as "fileStatus" 
						 ,   UPLOAD_TIME as "uploadTime" 
						 ,   UPLOAD_PERSON as "uploadPerson" 
						 ,   LANG_VER as "langVer" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   CREATE_USER as "createUser" 
						 ,   CREATE_DATE as "createDate" 
						 ,   UPDATE_USER as "updateUser" 
						 ,   UPDATE_DATE as "updateDate" 
						 ,   VERSION as "version" 
						from t_order_document_file
		where
			ALIVE_FLAG='1'
			<if test="documentFileId!=null and documentFileId!=''">and  DOCUMENT_FILE_ID=#{documentFileId}</if>
			<if test="documentFileUuid!=null and documentFileUuid!=''">and  DOCUMENT_FILE_UUID=#{documentFileUuid}</if>
			<if test="orderDocumentId!=null and orderDocumentId!=''">and  ORDER_DOCUMENT_ID=#{orderDocumentId}</if>
			<if test="fileName!=null and fileName!=''">and  FILE_NAME=#{fileName}</if>
			<if test="fileCode!=null and fileCode!=''">and  FILE_CODE=#{fileCode}</if>
			<if test="originalName!=null and originalName!=''">and  ORIGINAL_NAME=#{originalName}</if>
			<if test="filePath!=null and filePath!=''">and  FILE_PATH=#{filePath}</if>
			<if test="fileFormat!=null and fileFormat!=''">and  FILE_FORMAT=#{fileFormat}</if>
			<if test="fileSize!=null and fileSize!=''">and  FILE_SIZE=#{fileSize}</if>
			<if test="fileStatus!=null and fileStatus!=''">and  FILE_STATUS=#{fileStatus}</if>
			<if test="uploadTime!=null and uploadTime!=''">and  UPLOAD_TIME=#{uploadTime}</if>
			<if test="uploadPerson!=null and uploadPerson!=''">and  UPLOAD_PERSON=#{uploadPerson}</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="version!=null and version!=''">and  VERSION=#{version}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_order_document_file 
		where
		 ALIVE_FLAG='1'
			<if test="documentFileId!=null and documentFileId!=''">and  DOCUMENT_FILE_ID=#{documentFileId}</if>
			<if test="documentFileUuid!=null and documentFileUuid!=''">and  DOCUMENT_FILE_UUID=#{documentFileUuid}</if>
			<if test="orderDocumentId!=null and orderDocumentId!=''">and  ORDER_DOCUMENT_ID=#{orderDocumentId}</if>
			<if test="fileName!=null and fileName!=''">and  FILE_NAME=#{fileName}</if>
			<if test="fileCode!=null and fileCode!=''">and  FILE_CODE=#{fileCode}</if>
			<if test="originalName!=null and originalName!=''">and  ORIGINAL_NAME=#{originalName}</if>
			<if test="filePath!=null and filePath!=''">and  FILE_PATH=#{filePath}</if>
			<if test="fileFormat!=null and fileFormat!=''">and  FILE_FORMAT=#{fileFormat}</if>
			<if test="fileSize!=null and fileSize!=''">and  FILE_SIZE=#{fileSize}</if>
			<if test="fileStatus!=null and fileStatus!=''">and  FILE_STATUS=#{fileStatus}</if>
			<if test="uploadTime!=null and uploadTime!=''">and  UPLOAD_TIME=#{uploadTime}</if>
			<if test="uploadPerson!=null and uploadPerson!=''">and  UPLOAD_PERSON=#{uploadPerson}</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="version!=null and version!=''">and  VERSION=#{version}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	<select id="queryDocumentFile" parameterType="com.sinochem.crude.trade.orderexecute.query.DocumentFileQuery" resultType="map">
		SELECT
			too.ID AS "orderId"
			,too.UUID AS "uuid"
			,todf.DOCUMENT_FILE_ID AS "documentFileId"
			,tod.ORDER_DOCUMENT_ID AS "orderDocumentId"
			,too.TRADE_CATEGORY AS "tradeCategory"
			,tod.DOCUMENT_TYPE AS "documentType"
			
			,too.ORDER_NO AS "orderNo"
			,tod.CONTRACT_NO AS "contractNo"
			,(
				SELECT DISTINCT 
					CONCAT((CASE WHEN TRADE_CATEGORY = '1' THEN '原油' ELSE '成品油' END), ' - ', DOCUMENT_TYPE_DESC) 
				FROM 
					t_order_document_list 
				WHERE 
					DOCUMENT_TYPE = tod.DOCUMENT_TYPE
			) AS "documentTypeDesc"
			,todf.FILE_NAME AS "fileName"
			,tod.SHIP_NAME AS "shipName"
			,DATE_FORMAT(todf.CREATE_DATE, '%Y-%m-%d %T') AS "createDate"
		FROM
			t_order too
		INNER JOIN
			t_order_document tod 
				ON tod.ORDER_ID = too.ID 
				AND tod.ALIVE_FLAG = '1'
		INNER JOIN
			t_order_document_file todf 
				ON todf.ORDER_DOCUMENT_ID = tod.ORDER_DOCUMENT_ID
				AND todf.ALIVE_FLAG = '1'
		WHERE
			(too.BUYER_CUSTOMER_ID = #{epMemberId}
				OR too.SELLER_CUSTOMER_ID = #{epMemberId}
				OR too.AGENT_ID = #{epMemberId})
			AND too.ALIVE_FLAG = '1'
			<if test="orderNo!=null and orderNo!=''">
				AND too.ORDER_NO LIKE CONCAT('%', #{orderNo}, '%') 
			</if>
			<if test="contractNo!=null and contractNo!=''">
				AND tod.CONTRACT_NO LIKE CONCAT('%', #{contractNo}, '%') 
			</if>
			<if test="shipName!=null and shipName!=''">
				AND tod.SHIP_NAME LIKE CONCAT('%', #{shipName}, '%') 
			</if>
			<if test="documentType!=null and documentType!=''">
				AND tod.DOCUMENT_TYPE = #{documentType}
			</if>
			<if test="tradeCategory!=null and tradeCategory!=''">
			 AND too.TRADE_CATEGORY = #{tradeCategory}
			</if>
		ORDER BY
			too.ID DESC
			,todf.DOCUMENT_FILE_ID DESC
	</select>
	
	<select id="getDocumentType" resultType="map">
		SELECT DISTINCT
			DOCUMENT_TYPE AS "value"
			,CONCAT((CASE WHEN TRADE_CATEGORY = '1' THEN '原油' ELSE '成品油' END), ' - ', DOCUMENT_TYPE_DESC) AS "name"
		FROM
			t_order_document_list
		ORDER BY
			TRADE_CATEGORY ASC
			,DOCUMENT_TYPE ASC
	</select>
	
</mapper>