<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.orderexecute.dao.TradeSubjectMapper">
	<resultMap type="com.sinochem.crude.trade.orderexecute.domain.TradeSubject" id="TradeSubject">
		<result property="tradeSubjectId" column="TRADE_SUBJECT_ID" />
		<result property="productType" column="PRODUCT_TYPE" />
		<result property="tradeTerm" column="TRADE_TERM" />
		<result property="subjectName" column="SUBJECT_NAME" />
		<result property="subjectCode" column="SUBJECT_CODE" />
		<result property="langVer" column="LANG_VER" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="version" column="VERSION" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.orderexecute.domain.TradeSubject"  useGeneratedKeys="true" keyProperty="tradeSubjectId" >
		insert  into t_trade_subject (				
						 TRADE_SUBJECT_ID
						,PRODUCT_TYPE
						,TRADE_TERM
						,SUBJECT_NAME
						,SUBJECT_CODE
						,LANG_VER
						,ALIVE_FLAG
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,VERSION
						)
		values(		#{tradeSubjectId}
						,#{productType}
						,#{tradeTerm}
						,#{subjectName}
						,#{subjectCode}
						,#{langVer}
						,#{aliveFlag}
						,#{createUser}
						,#{createDate}
						,#{updateUser}
						,#{updateDate}
						,#{version}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_trade_subject
              WHERE 1=1 
                AND TRADE_SUBJECT_ID = #{tradeSubjectId}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.orderexecute.domain.TradeSubject">
        DELETE FROM t_trade_subject
              WHERE 1=1 
        <if test="tradeSubjectId!=null and tradeSubjectId!=''">AND  TRADE_SUBJECT_ID = #{tradeSubjectId}</if>
        <if test="productType!=null and productType!=''">AND  PRODUCT_TYPE = #{productType}</if>
        <if test="tradeTerm!=null and tradeTerm!=''">AND  TRADE_TERM = #{tradeTerm}</if>
        <if test="subjectName!=null and subjectName!=''">AND  SUBJECT_NAME = #{subjectName}</if>
        <if test="subjectCode!=null and subjectCode!=''">AND  SUBJECT_CODE = #{subjectCode}</if>
        <if test="langVer!=null and langVer!=''">AND  LANG_VER = #{langVer}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="createUser!=null and createUser!=''">AND  CREATE_USER = #{createUser}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="updateUser!=null and updateUser!=''">AND  UPDATE_USER = #{updateUser}</if>
        <if test="updateDate!=null and updateDate!=''">AND  UPDATE_DATE = #{updateDate}</if>
        <if test="version!=null and version!=''">AND  VERSION = #{version}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.orderexecute.domain.TradeSubject">
		update t_trade_subject
		<set>
         TRADE_SUBJECT_ID=#{tradeSubjectId}
		<if test="productType!=null">,PRODUCT_TYPE = #{productType}</if>
		<if test="tradeTerm!=null">,TRADE_TERM = #{tradeTerm}</if>
		<if test="subjectName!=null">,SUBJECT_NAME = #{subjectName}</if>
		<if test="subjectCode!=null">,SUBJECT_CODE = #{subjectCode}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
       	 TRADE_SUBJECT_ID=#{tradeSubjectId}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_trade_subject
		<set>
         TRADE_SUBJECT_ID=#{tradeSubjectId}
		<if test="productType!=null">,PRODUCT_TYPE = #{productType}</if>
		<if test="tradeTerm!=null">,TRADE_TERM = #{tradeTerm}</if>
		<if test="subjectName!=null">,SUBJECT_NAME = #{subjectName}</if>
		<if test="subjectCode!=null">,SUBJECT_CODE = #{subjectCode}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="version!=null">,VERSION = #{version}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="tradeSubjectId!=null and tradeSubjectId!=''">and  TRADE_SUBJECT_ID=#{tradeSubjectId}</if>
		<if test="productType!=null and productType!=''">and  PRODUCT_TYPE=#{productType}</if>
		<if test="tradeTerm!=null and tradeTerm!=''">and  TRADE_TERM=#{tradeTerm}</if>
		<if test="subjectName!=null and subjectName!=''">and  SUBJECT_NAME=#{subjectName}</if>
		<if test="subjectCode!=null and subjectCode!=''">and  SUBJECT_CODE=#{subjectCode}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="TradeSubject">
			select
			* from t_trade_subject
			where
		    TRADE_SUBJECT_ID=#{tradeSubjectId} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="TradeSubject">
			select
			* from t_trade_subject
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="TradeSubject" parameterType="com.sinochem.crude.trade.orderexecute.domain.TradeSubject">
		select * from t_trade_subject
			where
		 ALIVE_FLAG='1'
		<if test="tradeSubjectId!=null and tradeSubjectId!=''">and  TRADE_SUBJECT_ID=#{tradeSubjectId}</if>
		<if test="productType!=null and productType!=''">and  PRODUCT_TYPE=#{productType}</if>
		<if test="tradeTerm!=null and tradeTerm!=''">and  TRADE_TERM=#{tradeTerm}</if>
		<if test="subjectName!=null and subjectName!=''">and  SUBJECT_NAME=#{subjectName}</if>
		<if test="subjectCode!=null and subjectCode!=''">and  SUBJECT_CODE=#{subjectCode}</if>
		<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
		<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
		<if test="version!=null and version!=''">and  VERSION=#{version}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  TRADE_SUBJECT_ID as "tradeSubjectId" 
						 ,   PRODUCT_TYPE as "productType" 
						 ,   TRADE_TERM as "tradeTerm" 
						 ,   SUBJECT_NAME as "subjectName" 
						 ,   SUBJECT_CODE as "subjectCode" 
						 ,   LANG_VER as "langVer" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   CREATE_USER as "createUser" 
						 ,   CREATE_DATE as "createDate" 
						 ,   UPDATE_USER as "updateUser" 
						 ,   UPDATE_DATE as "updateDate" 
						 ,   VERSION as "version" 
						from t_trade_subject
		where
			ALIVE_FLAG='1'
			<if test="tradeSubjectId!=null and tradeSubjectId!=''">and  TRADE_SUBJECT_ID=#{tradeSubjectId}</if>
			<if test="productType!=null and productType!=''">and  PRODUCT_TYPE=#{productType}</if>
			<if test="tradeTerm!=null and tradeTerm!=''">and  TRADE_TERM=#{tradeTerm}</if>
			<if test="subjectName!=null and subjectName!=''">and  SUBJECT_NAME=#{subjectName}</if>
			<if test="subjectCode!=null and subjectCode!=''">and  SUBJECT_CODE=#{subjectCode}</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="version!=null and version!=''">and  VERSION=#{version}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_trade_subject 
		where
		 ALIVE_FLAG='1'
			<if test="tradeSubjectId!=null and tradeSubjectId!=''">and  TRADE_SUBJECT_ID=#{tradeSubjectId}</if>
			<if test="productType!=null and productType!=''">and  PRODUCT_TYPE=#{productType}</if>
			<if test="tradeTerm!=null and tradeTerm!=''">and  TRADE_TERM=#{tradeTerm}</if>
			<if test="subjectName!=null and subjectName!=''">and  SUBJECT_NAME=#{subjectName}</if>
			<if test="subjectCode!=null and subjectCode!=''">and  SUBJECT_CODE=#{subjectCode}</if>
			<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="version!=null and version!=''">and  VERSION=#{version}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>