#if($!{contractLogs.size()} > 0)
    <div class="c-mod" id="mjbwxx">
        <h3><em class="cw-ico ico-h3"></em>Operate Log<span class="cxtj-nr-an"></span></h3>
        <div class="c-tabdiv">
            <table>
                <tr>
                    <th>Type</th>
                    <th>user ID</th>
                    <th>Time</th>
                    <th>reason</th>
                </tr>

                #foreach($item in $!{contractLogs})
                    <tr class="c-tabcos1">
                        <td>$!{item.operationType}</td>
                        <td>$!{item.operName}</td>
                        <td>$dateUtil.getDateTime("yyyy-MM-dd",$!{item.createTime})</td>
                        <td>$!{item.describes}</td>
                    </tr>
                #end

            </table>
        </div>
    </div>
#end
