.iw200{ width:200px !important;}
.iw100{ width:100px !important;}
.iw10{width:10px;}
.ry-banner{ padding:15px;background-color: #eee;}
.ry-footbar{padding:0 5px;background-color: #eee;}
.ry-right{ text-align: right;}
.table-style .table-style-th{text-align: center;}
.table-style {text-align:center;}
.btw{margin-left: 50px;}
.dh120{height: 120px;}
.pp15{ padding: 15px;}
.mt10{margin-top: 10px;}
.iw150{width:150px;}
.mr{margin-left:0 !important;}