
<head>
    <title>买原油网后台管理#if($title)-${title}#end</title>

    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="$imageServer.get('layui/css/layui.css')"  media="all">
    <script src="$imageServer.get('script/lib/jquery-1.9.1.min.js')"></script>
    <script src="$imageServer.get('/layui/layui.js')"></script>
</head>