$contain.get("/buyerCenter/demandCompare.htm").put('demandList', $!{demandList}).put('bizType', $!{bizType}).put('demandRelevanter', $!{demandRelevanter}).put('demandship', $!{demandship}).put('crudeOil', $!{crudeOil}).put('productOilKindMap', $!{productOilKindMap}).put('productOilSpecsMap', $!{productOilSpecsMap}).put('valuationProidTypeMap', $!{valuationProidTypeMap}).put('tradeItemMap', $!{tradeItemMap}).put('payItemMap', $!{payItemMap}).put('purchaseModeMap', $!{purchaseModeMap}).put('valuationBaseMap', $!{valuationBaseMap}).put('authItemBaseMap', $!{authItemBaseMap}).put('measureModeMap', $!{measureModeMap})