<style>
.compare-table {
	width: 100%; 
	font-size: 16px; 
	border: 1px solid #ccc;
}

.compare-tr {
	border-bottom: 1px solid #ccc; 
	height: 55px;
}

.compare-th {
	width: 18%;
	text-align: center; 
	background: #e8ffe6; 
}

.compare-td {
	border-left: 1px solid #ccc; 
	text-align: center; 
	background: #fff;
}

.compare-btn {
	background-color: #317ee7; 
	border-radius: 4px; 
	padding: 10px 30px; 
	color: #ffffff;
}


</style>

<div class="c-mod">
    <h3><em class="cw-ico ico-h3"></em>Quotation Compare</h3>
    <div class="cg-ord-box">
        <div class="cg-ord-blo">
            <div class="cg-ord-cont clearfix">
                <div class="purchase" style="width: 100%;">
                    <table class="compare-table">
			            <tr class="compare-tr">
			                <th class="compare-th">Quotation No.</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">
			                    	#if($!bizType == "CrudeOil")
			                    		#if($!{d.dealType} == "S")
			                    			<a href="$appServer.get('/purchaseManager/biddingDetail.htm').put('demandId', $!{d.id})" style="color: #317ee7;">$!{d.uuid}</a>
			                    		#else
			                    			<a href="$appServer.get('/oilSaleBidding/biddingDetail.htm').put('demandId', $!{d.id})" style="color: #317ee7;">$!{d.uuid}</a>
			                    		#end
			                    	#else
			                    		<a href="$appServer.get('/resourceManager/biddingDetail.htm').put('demandId', $!{d.id})" style="color: #317ee7;">$!{d.uuid}</a>
			                    	#end
			                    </td>
			                #end
			            </tr>
						<tr class="compare-tr">
							#if($!bizType == "CrudeOil")
								<th class="compare-th">Seller</th>
							#else
								<th class="compare-th">Quotation Compare</th>
							#end

			                #foreach($d in $!demandRelevanter)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!{d.enterpriseName}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Grade</th>
			                #foreach($d in $!demandList)
								#if($!bizType == "CrudeOil")
									<td tdIndex="$!velocityCount" class="compare-td">$!{d.crudeOilOptions}</td>
								#else
									#if($!purchaseType == "1")
										<td tdIndex="$!velocityCount" class="compare-td">$!{productOilKindMap.get($!{d.productOilKind})}</td>
									#else
										<td tdIndex="$!velocityCount" class="compare-td">$!{productOilSpecsMap.get($!{d.productOilKind})}</td>
									#end
								#end
			                #end
			            </tr>
			            #if($!bizType == "CrudeOil")
				            <tr class="compare-tr">
				                <th class="compare-th">API</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min1 = $!{d.indicator1Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min1}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">Sulphur</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min2 = $!{d.indicator2Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min2}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">Acid</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min3 = $!{d.indicator3Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min3}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">Carbon<br>Residue/%</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min4 = $!{d.indicator4Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min4}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">Van</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min5 = $!{d.indicator5Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min5}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">Ni</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min6 = $!{d.indicator6Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min6}</td>
				                #end
				            </tr>
				            <tr class="compare-tr">
				                <th class="compare-th">>350°C mass<br>yield/%</th>
				                #foreach($d in $!crudeOil)
				                	#set($Min7 = $!{d.indicator7Min}/100.00)
				                    <td tdIndex="$!velocityCount" class="compare-td">$!{Min7}</td>
				                #end
				            </tr>
			            #end                        	
			            <tr class="compare-tr">
			                <th class="compare-th">Qty</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">#set($num = $!d.num / 10000000.0) $!{numberTool.format("#0",$!{num})}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Incoterm</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">
			                    	$!{tradeItemMap.get($!{d.tradeItem})}
			                    </td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Premium/Discount（USD/BBL）</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">#set($agio = $!d.agio / 1000.0) $!{numberTool.format("#0.000",$!{agio})}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Pricing Basis</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">
			                    	$!valuationBaseMap.get($!{d.valuationBase})
			                    </td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Pricing Period</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">
									$!{dictUtils.getValue("valuationProidTypeMap", "$!d.valuationProidType")}
									#if($!{d.valuationProidType} == 4)
			                                                    （$!dateUtil.convertDateToString('yyyy/MM/dd',$!d.valuationProidStart) - $!dateUtil.convertDateToString('yyyy/MM/dd',$!d.valuationProidEnd)）
			                        #end
									#if($!{d.valuationProidType} == 5)
										（$!d.contractKind）
									#end
                                </td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Price Fomula</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">
			                    	$!{d.valuationFormula}
			                    </td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Payment Date</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!{d.payItem}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Credit Term</th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!{authItemBaseMap.get($!{d.authItem})}</td>
			                #end
			            </tr>       
			            <tr class="compare-tr">
			                <th class="compare-th">Load Port</th>
			                #foreach($d in $!demandship)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!{d.shipmentPort}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Laycan</th>
			                #foreach($d in $!demandship)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!dateUtil.convertDateToString('yyyy/MM/dd',$!{d.shipmentStartTime}) - $!dateUtil.convertDateToString('yyyy/MM/dd',$!{d.shipmentEndTime})</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">Discharge Port</th>
			                #foreach($d in $!demandship)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!{d.dischargePort}</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th">DDR</th>
			                #foreach($d in $!demandship)
			                    <td tdIndex="$!velocityCount" class="compare-td">$!dateUtil.convertDateToString('yyyy/MM/dd',$!{d.dischargeStartTime}) - $!dateUtil.convertDateToString('yyyy/MM/dd',$!{d.dischargeEndTime})</td>
			                #end
			            </tr>
			            <tr class="compare-tr">
			                <th class="compare-th" style="background: #ffffff; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;"></th>
			                #foreach($d in $!demandList)
			                    <td tdIndex="$!velocityCount" class="compare-td" style="background: #ffffff; border-left: 1px solid #ffffff; border-bottom: 1px solid #ffffff; border-right: 1px solid #ffffff;">
			                    	<div class="detail-ibut" style="margin-top: 20px;">                 	
				                    	#if($!bizType == "CrudeOil")
				                    		<a href="$appServer.get('/purchaseManager/biddingDetail.htm').put('demandId', $!{d.id})" class="compare-btn" style="color: #ffffff;">Details</a>
				                    	#else
				                    		<a href="$appServer.get('/resourceManager/biddingDetail.htm').put('demandId', $!{d.id})" class="compare-btn" style="color: #ffffff;">Details</a>
				                    	#end
			                    	</div>
			                    </td>
			                #end
						</tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    ##绑定删除按钮事件
    $(".cg-close").click(function(){
        var index = $(this).attr("closeIndex");
        $("td[tdIndex='"+index+"']").remove();
    });
</script>