<link rel="stylesheet" href="$imageServer.get('orderexecute/css/interface/interface.css')" ></link>
<script src="$imageServer.get('orderexecute/js/interface/interfaceSystem.js')"></script>

	<div class="pp15" id="layerDemo">
		<!--搜索条件-->		
		<div class="ry-banner">
			<div class="layui-form-item layui-container">
				<div class="layui-inline">
					<label class="layui-form-label">系统别名</label>
					<div class="layui-inline">
						<input class="layui-input" name="sysName" id="sysName" placeholder="请输入系统别名"/>
					</div>
				</div>
				<div class="layui-inline">
					<label class="layui-form-label">系统描述</label>
					<div class="layui-inline">
						<input class="layui-input" name="sysDec" id="sysDec" placeholder="请输入系统描述"/>
					</div>
				</div>
				<button style="margin-top:-12px" class="layui-btn layui-btn-normal" data-type="reload" id="btn">Find</button>
				<button style="margin-top:-12px" class="layui-btn layui-btn-normal" id="add">新增</button>
			</div>
		</div>
		
		<!--列表-->
		<table class="layui-table" id="test" lay-filter="demo">
			<thead>
				<tr>
					<th lay-data="{field:'sysName',width:150}">系统别名</th>
					<th lay-data="{field:'sysDec',width:120}">系统描述</th>
					<th lay-data="{field:'memberType',width:160}">会员资质</th>
					<th lay-data="{field:'memberId',width:160}">关联会员ID</th>
					<th lay-data="{field:'memberName',width:160}">关联会员</th>
					<th lay-data="{field:'loginName',width:160}">身份识别标识</th>
					<th lay-data="{field:'password',width:120}">密码</th>
					<th lay-data="{field:'sysUrl'}">对接地址</th>
					<th lay-data="{fixed: 'right', width:150, align:'center', toolbar: '#barDemo'}">操作</th>
				</tr>
			</thead>
		</table>
	</div>
		
<script type="text/html" id="barDemo">
	<i class="layui-icon">&#xe642;</i>
	<a class="dialog-link" lay-event="edit" style="color:#0A529C">Edit</a>
	<i class="layui-icon" style="color:red">&#xe640;</i>
	<a class="dialog-link btcol" lay-event="del" style="color:#0A529C">remove</a>
</script>

