<div class="layui-header">
    <div class="layui-logo">Product Oil network backstage management</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="">Console</a></li>
        <li class="layui-nav-item"><a href="">Commodity management</a></li>
        <li class="layui-nav-item"><a href="$memberServer.get('om/welcome.htm')">user management</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">Other systems</a>
            <dl class="layui-nav-child">
                <dd><a href="">email management</a></dd>
                <dd><a href="">Message management</a></dd>
                <dd><a href="">pending for approval</a></dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                $!{user.name}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">Basic information</a></dd>
                <dd><a href="">security setting</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="$memberServer.get('logout.htm')">log out</a></li>
    </ul>
</div>
