@charset "utf-8";
/* reset */
.redicn{color:red;padding-right:5px;}
.text-overflow{width:90%; overflow: hidden; white-space:nowrap; text-overflow:ellipsis;}
.file1Fn {
    color: #3c7ed9;
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
    text-decoration: none;
    text-indent: 0;
    line-height: 32px;
    font-size: 14px;
    text-decoration: underline;
   /*  margin-left: -10px; */
}
.file1Fns {
    color: #3c7ed9;
    position: relative;
    display: inline-block;
    /* overflow: hidden; */
    text-decoration: none;
    text-indent: 0;
    line-height: 32px;
    font-size: 14px;
    text-decoration: underline;
    margin-left: -10.5px;
}
.em-x {position:relative; left:-20px;font-family:微软雅黑; font-size:14px;color: red;}
.em-shape-hand {cursor:pointer;}
