<!DOCTYPE html>
<html>
    $contain.get("/common/server.htm")
    $contain.get("/pages/back/contain/htmlhead.htm")
    $contain.get("/pages/back/contain/nav.htm")
   #* <main id="main">
        <div class="m-content center clearfix">
            $contain.get("/pages/back/contain/menu.htm")
            $screen_content
        </div>
    </main>*#

    <main id="main">
        <div class="m-content w1180 stowage-plan-content center clearfix">
            $contain.get("/pages/back/contain/menu.htm")
                $screen_content
        </div>
    </main>


    $contain.get("/pages/back/contain/htmlend.htm")
</html>