/*左侧菜单*/

.shipping-w {
	padding: 30px 0 100px;
}

.shipping-b-l {
	width: 280px;
}

.s-info {
	margin-bottom: 29px;
}

.s-info dl {
	display: block;
}

.s-info dl dd {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 19px;
}

.s-info dl dd img {
	width: 120px;
	height: 120px;
}

.s-info dl dt {
	float: left;
}

.s-info dl dt h3 {
	font-weight: normal;
	font-size: 18px;
	color: #F36523;
	line-height: 30px;
}

.s-info dl dt p {
	font-size: 16px;
	padding: 6px 0;
	color: #666;
}

.s-info dl dt p a {
	display: inline-block;
	color: #666;
}

.s-info dl dt p em.tip {
	display: inline-block;
	background: #F36523;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	font-size: 14px;
	color: #fff;
	margin-left: 3px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
}

.s-tab-one {
	width: 100%;
	font-family: arial;
}

.s-tab-one h2 {
	font-weight: normal;
	width: 260px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	background: #323338;
	font-size: 14px;
	color:#fff;
}

.trading-ul li {
	font-size: 16px;
	color: #333;
	letter-spacing: 0;
	padding-left: 20px;
	height: 49px;
	line-height: 49px;
}

.trading-ul li.active {
	color: #F36523;
	border-bottom: 1px solid #F36523;
	font-weight: 700;
}

.trading-ul li.active a {
	color: #F36523;
	font-weight: 700;
}

.s-tab-two {
	margin-top: 20px;
}


/*右侧内容*/

.shipping-w-r {
	margin-left: 20px;
	width: 880px;
	color: #666;
}

.shipping-w-r h2 {
	font-weight: normal;
	font-size: 30px;
	color: #F36523;
}
.shipping-select .select{width: 308px;}
.shipping-select .select-content{width: 272px;}
.enquiry-b {
	border-bottom: 1px solid #ececec;
	padding: 27px 0;
	font-size: 14px;
}

.enquiry-b:last-child {
	border-bottom: 0
}

.enquiry-ul li {
	line-height: 25px;
}

.enquiry-ul li span {
	display: inline-block;
	width: 20%;
	margin-right: 10px;
	text-align: right;
}

.enquiry-ul li em {
	width: 78%;
	color: #333333;
}

.enquiry-ul li em i.time {
	margin-left: 17px;
}

.check-b {
	display: inline-block;
}
.enquiry-ul li em.button-b{ float: right;}

.check-b label {
	font-size: 16px;
	cursor: pointer;
	padding-right: 12px;
}

.check-b label:last-child {
	padding-right: 0;
}

.check-b label i {
	font-size: 15px;
	font-style: normal;
	display: inline-block;
	width: 12px;
	height: 17px;
	text-align: center;
	line-height: 11px;
	color: #fff;
	font-weight: bold;
	vertical-align: middle;
	margin: -2px 3px 1px 0px;
	padding-right: 5px;
	background: #FFFFFF no-repeat center ;
	border: 1px solid #E8E8E8;
	border-radius: 50%;

}
/*.check-b>label:nth-of-type(2)>i{*/
	/*background: #FFFFFF url("../../images/tick_L.png") no-repeat center ;*/
/*}*/
input[type="radio"] {
	display: none;
}

input[type="radio"]:checked+i {
	color: #F36523;
	border-color: #F36523;
	-web-kit-color:#F36523;
}

/* select选框 */

.my-select {
	display: inline-block;
	width: 298px;
	height: 34px;
	background: #FFFFFF;
	position: relative;
	cursor: pointer;
	border: 1px solid #c1c1c1;
	margin: 0;
	padding: 0 5px;
}


.my-select p {
	width: 66%;
	line-height: 32px;
	font-size: 14px;
	font-family: "microsoft yahei";
	color: #666666;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0 0 0px;
}

.my-select i {
	display: inline-block;
	height: 100%;
	border: .5px solid #DFDFDF;
	position: absolute;
	right: 32px;
	top: 0px;
}

.my-select ul {
	width: 309px;
	display: block;
	font-size: 14px;
	background: #FFFFFF;
	position: absolute;
	top: 32px;
	left: 0px;
	max-height: 0px;
	overflow: hidden;
	transition: max-height .3s ease-in;
	z-index: 99;
}

.my-select ul li {
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	line-height: 30px;
	padding: 0px 15px;
	list-style: none;
	color: #666666;

	margin: 0 !important;
}

.my-select ul li.Selected {
	background: #F36523;
	color: #FFFFFF;
}

.my-select ul li:hover {
	background: #D0D0D0;
}

@-webkit-keyframes slide-down {
	0% {
		transform: scale(1, 0);
	}
	25% {
		transform: scale(1, 1.2);
	}
	50% {
		transform: scale(1, 0.85);
	}
	75% {
		transform: scale(1, 1.05);
	}
	100% {
		transform: scale(1, 1);
	}
}

.my-select.open ul {
	max-height: 600px;
	transform-origin: 50% 0;
	-webkit-animation: slide-down .5s ease-in;
	transition: max-height .2s ease-in;
}

.my-select.open::after {
	transform: rotate(134deg);
	transition: all .3s ease-in;
	top: 12px;
}


.check-b .c-teta {
	background: #FFFFFF;
	border: 1px solid #C1C1C1;
	box-sizing: border-box;
	vertical-align: top;
	width: 310px;
	height: 110px;
}

.drop-down {
	display: inline-block;
	width: 12px;
	height: 7px;
	background: url(../../images/arroe_d.png) no-repeat center center;
	margin-left: 10px;
}

.enter-ul li {
	padding-bottom: 20px;
}
.enter-ul li:last-child {
	padding-bottom: 0;
}
.enter-ul li span{ vertical-align: top;}
.input-name {
	padding-left: 10px;
}

.input-name:focus{
	border: 1px solid #FF9D32 ;
}

.button-b a {
	display: inline-block;
	width: 140px;
	height: 48px;
	text-align: center;
	line-height: 48px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}
.button-b a:hover{background:#FF9D32; color: #fff;}
.btn-sub {
	background: #F36523;
	margin-right: 26px;
}

.a-back {
	background: #323338;
}
.l14{left:-14px!important}
.w363{width:363px!important}
.w67{width:67px!important}
.w304{width:304px!important}
.pd0{padding:0!important}
