/*main 部分*/
a{
	text-decoration: none;
}
.welcon{margin-top: 30px;}
.welcon .m-tab{margin-right: 20px;}
.btnr:hover{
	background: #FF9D32 !important;
	cursor: pointer;
}

/*左侧菜单*/

.shipping-w {
	padding: 30px 0 100px;
}

.shipping-b-l {
	width: 280px;
}

.s-info {
	margin-bottom: 29px;
}

.s-info dl {
	display: block;
}

.s-info dl dd {
	float: left;
	width: 120px;
	height: 120px;
	margin-right: 19px;
}

.s-info dl dd img {
	width: 120px;
	height: 120px;
}

.s-info dl dt {
	float: left;
	margin-top: 34px;
}

.s-info dl dt h3 {
	font-weight: normal;
	font-size: 18px;
	color: #F36523;
	line-height: 30px;
}

.s-info dl dt p {
	font-size: 16px;
	padding: 6px 0;
	color: #666;
}

.s-info dl dt p a {
	display: inline-block;
	color: #666;
}

.s-info dl dt p em.tip {
	display: inline-block;
	background: #F36523;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	font-size: 14px;
	color: #fff;
	margin-left: 3px;
	width: 18px;
	height: 18px;
	text-align: center;
	line-height: 18px;
}

.s-tab-one {
	width: 100%;
	font-family: arial;
}

.s-tab-one h2 {
	font-weight: normal;
	width: 260px;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	background: #323338;
	font-size: 14px;
	color:#fff;
}

.trading-ul li {
	font-size: 16px;
	color: #333;
	letter-spacing: 0;
	padding-left: 20px;
	height: 49px;
	line-height: 49px;
}

.trading-ul li.active {
	color: #F36523;
	border-bottom: 1px solid #F36523;
	font-weight: 700;
}

.trading-ul li.active a {
	color: #F36523;
	font-weight: 700;
}

.s-tab-two {
	margin-top: 20px;
}
/*accountInfo 账户信息个人用户 右侧部分*/
.m-content{
	font-family: ArialMT;
	font-size: 20px;
	color: #F5650A;
	margin-left: 0;
}
.con-remind{
	font-family: ArialMT;
	font-size: 14px;
	color: #333333; 
	margin-top: 10px;
}
.remind-s2{
	color: #F5650A;
}
.remind-s2:hover,.con-mark img:hover,.con-mark p:hover{
	cursor: pointer;

}
.log-list{
	margin-top: 30px;
	border:0;
	border-collapse:collapse;
	text-align: center;
	font-family: ArialMT;
	font-size: 14px;
	color: #333333;
}
.log-list th{
	color: #666666;
	border: 1px solid #EBEBEB;
	background: #F7F7F7;
}
.list-sec{
	background: #FFFFFF;
}
.list-tr{
	background: #FCFCFC;;
}
.log-list td{
	border: 1px solid #EBEBEB;
}
.list-tr{
	height:40px; 
}
.fir,.sec{
	width:200px; 
}
.thir{
	width:154px; 
}
.forth{
	width:167px; 
}
.fifth{
	width: 162px;
}
.right-hr{
	border: 1px solid #ECECEC;
	margin-top: 30px;
}
.title-sec{
	font-family: ArialMT;
	font-size: 20px;
	margin-top:30px;
}
.con-mark{
	margin-top: 30px;
	margin-left: 300px;
	/*height: 118px;*/
}
.mark-logo{
	width: 140px;
	float: left;
}
.mark-logo img{
	width: 64px;
	height: 64px;
	margin-bottom: 15px;
	margin-left:36px; 
}
.con-mark p{
	font-family: ArialMT;
	font-size: 14px;
	color: #333333;
	text-align: center;
}
.mark-tuibiao{
	display: inline-block;
	width: 102px;
	margin-left: 60px;
}
.mark-tuibiao img{
	width:	64px;
	height: 64px;
	margin-left: 18px;
}

/*infoWait 消息代办 右侧部分*/
.con-tit1{
	font-family: ArialMT;
	font-size: 16px;
	color: #F5650A; 
	margin-bottom: 20px;
}
.check-b1>.br:hover{
    background: #FF9D32;
    color: #fff;
}
.check-b1 a {
    display: inline-block;
    width: 110px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    cursor: pointer;
    color: #FFFFFF;
}
.btn-sub {
    background: #F36523;
    margin-right: 10px;
}
.a-back {
    background: #323338;
   
}
.con-table{
	border-collapse: collapse;
	font-family: ArialMT;
	font-size: 14px;
	color: #333333;
	/*margin-top: 30px;*/
	
}
.con-table tr{
	/*height: 40px;*/
	/*line-height: 40px;*/
    padding:8px;
    margin:0;
	border: 1px solid #EBEBEB;
	border-top:0;
}
.con-table1>tbody>tr{
	display: block;
	width: 950px;
	color: #666666;
	background: #F7F7F7;
}
.con-table1>tbody>tr>td:nth-of-type(2){
	width:550px;
}
.con-table1>tbody>tr>td{
	text-align: center;
}
.con-table tr td:first-of-type{
	width: 300px;
	text-align: center;
}
.con-table td img{
	width: 16px;
	height: 16px;
	background: #fff;
}
.con-table tr td:nth-of-type(2){
	width: 242px;
	/*border-top: 1px solid #EBEBEB;*/
	/*border-bottom: 1px solid #EBEBEB;*/
	 
}
.con-table tr td:nth-of-type(3){
	width: 540px;
	border: 1px solid #EBEBEB;
	border-left: none;
}
.con-grey{
	color: #BCBCBC;
}
.content-rgh .c-page{
	margin-left:300px; 
	width:800px;
	margin-top: 30px;
	border-top: 1px solid #ECECEC;  
}

/*infoWait2 消息代办2 右侧部分*/
.content-rgh .submit-box .fr{
	float: left;
}
.content-rgh p{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #333333;
	height: 22px;
	line-height: 22px;
}
.submit-box{
	margin-top: 30px;
}
.submit-box .button, .submit-box input[type='submit'] {
    width: 143px;
    height: 48px;
    border: 0;
    background: #F36523;
    border-radius: 2px;
    font-size: 20px;
    color: #FFFFFF;
}
.submit-box .button.cancel {
	margin-left: 30px;
    background: #323338; 
    color: #fff;
}
.submit-box .button.shelf{
	margin-left: 30px;
}
/*infoWait3 消息代办3 右侧部分*/
.content-rgh .submit-box .fr{
	float: left;
}
.content-rgh p{
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: #333333;
	height: 22px;
	line-height: 22px;
}
.h3-hg{
	margin-bottom: 30px;
}
.submit-box{
	margin-top: 30px;
}
.content-rgh .info3 .button.cancel {
	width: 143px;
    height: 48px;
    border: 0;
    background: #323338; 
    color: #fff;
    margin-left: 0;
}
/*inviteCodeBound 绑定邀请码主页 右侧部分*/
.rgt-content{
	margin-left: 620px;
	margin-top: 110px;
}
.rgt-content h3{
	font-family: Arial-BoldMT;
	font-size: 32px;
	color: #333333;
	height: 36px;
	line-height: 36px;
}
.rgt-content p{
	font-family: ArialMT;
	font-family: ArialMT;
	font-size: 20px;
	color: #333333;
	margin-top: 10px;
}
.rgt-content input{
	display: block;
	width: 308px;
	height: 36px;
	margin-top: 30px;
	padding-left: 10px;

}
.rgt-content input:focus{
	width: 310px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.rgt-content a{
	display: block;
	width: 322px;
	height: 48px;
	line-height: 48px;
	margin-top: 30px;
	font-family: ArialMT;
	background: #F36523;
	text-align: center;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: normal;
	border-radius: 2px;
	text-align: center;
}
/*boundCodeFailed 绑定邀请码失败 右侧部分*/
/*boundCodeSuccess 绑定邀请码成功  右侧部分*/
.resetPassFailed .m-tab{
	margin-right: 290px;
	margin-top: 
}
.rps-l{
     width: 64px;
     height: 64px;
    float: left;
    margin-right: 35px;
 }
.rps-l>img{
    display: block;
    width: 64px;
    height: 64px;
    margin-top: -14px;
}
.resetPassSuccess .rps-l>img{
	margin-top: 0px;
}
.rps-r{
    float: left;
}
.rps-box{
    margin-left: 300px ;
    position: relative;
}
.rps-r>h2{
    font-size: 32px;
    color: #333333;
    line-height: 36px;
    margin-bottom: 14px;
}
.rps-r>p{
    font-size: 20px;
    color: #333333;
    margin-bottom: 33px;
}
.count-seconds{
	color: #F36523;
}
.rps-box>.rps-r>.com-btn-b{
    width: 320px;
    height: 48px;
}
.rps-box>.rps-r>.com-btn-b>a{
    display: block;
    width: 100%;
    height: 100%;
}
.resetFailed{
	margin-top:133px;
}
.resetPassSuccess .m-tab{
	margin-right: 150px;
}
.resetSuccess{
	margin-top: 125px;
}
 
.m-content{
	font-family: ArialMT;
	font-size: 20px;
	color: #F5650A;
	margin-left: 0;
}
.con-remind{
	font-family: ArialMT;
	font-size: 14px;
	color: #333333; 
	margin-top: 10px;
}
.remind-s2{
	color: #F5650A;
}
.log-list{
	margin-top: 30px;
	border:0;
	border-collapse:collapse;
	text-align: center;
	font-family: ArialMT;
	font-size: 14px;
	color: #333333;
}
.log-list th{
	color: #666666;
	border: 1px solid #EBEBEB;
	background: #F7F7F7;
}
.list-sec{
	background: #FFFFFF;
}
.list-tr{
	background: #FCFCFC;;
}
.log-list td{
	border: 1px solid #EBEBEB;
}
.list-tr{
	height:40px; 
}
.fir,.sec{
	width:200px; 
}
.thir{
	width:154px; 
}
.forth{
	width:167px; 
}
.fifth{
	width: 162px;
}
/*sonAccountMagIndex 子账户管理主页 右侧部分*/
.manage-con h3{
	font-family: ArialMT;
	font-size: 20px;
	color: #F36523;
}
.m-btn {
	margin-top: 20px;
    display: inline-block;
	font-family: ArialMT;
    background: #F36523;
    border-radius: 2px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    width: 152px;
    height: 36px;
    line-height: 36px;
}
.btn2{
	margin-left:5px; 
}
.unbindBtn,.editBtn {
    display:inline-block;  
    text-align: center;
    width: 100px;
    height: 36px;
    line-height: 36px;
    background: #F36523;
    color: #fff;
    font-size: 14px;
}
.unbindBtn{
	margin-left: -5px;
}
.editBtn{
	margin-left: 10px;
}
.account-mag{
	margin-top: 30px;
	border-collapse: collapse;
	text-align: center;
	font-family: ArialMT;
	font-size: 14px;
}
.tr-fir{
	height: 40px;
	background: #F7F7F7;
	color: #666666;
}
.account-mag tr:nth-of-type(2){
	height: 57px;
	background: #FFFFFF;
	color: #333333;
}
.account-mag tr:nth-of-type(3){
	background: #F7F7F7;
}
.account-mag td{
	border: 1px solid #EBEBEB;
}
.account-mag tr td:first-of-type{
	width: 240px;
}
.account-mag tr td:nth-of-type(2){
	width: 412px;
}
.account-mag tr td:nth-of-type(3){
	width: 230px;
}
.manage-con .c-page{
	margin-left:300px; 
	width:840px;
	margin-top: 30px;
	border-top: 1px solid #ECECEC;  
}

/*modSonAccount 修改子账号设置 右侧部分*/
.mang-con{
	font-family: ArialMT;
	font-size: 14px;
	color: #333333;
}
.mang-con h3{
	font-family: ArialMT;
	font-size: 20px;
	color: #F36523;
}
.mang-con .sp{
	display: inline-block;
	margin-top: 20px;
}
.mang-con .s1{
	color: #666666;
}
.mang-con .s2{
	margin-left: 13px;
}
.my-check{
	margin-top: 20px;
	margin-bottom: 30px;
}
.my-check img{
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin-right: 5px;
}
.my-check img:hover{
	cursor: pointer;
}
.my-check span{
	display: inline-block;
	margin-right: 16px;
}
.my-button{
	margin-top: 20px;
}
.mang-hr{
	background-color: #ECECEC;
	height: 1px;
	border: none;
}
.my-button input{
	width: 143px;
	height: 48px;
	background: #F36523;
	float:right;
	outline: none;
	border: none;
	font-size: 18px;
	color: #FFFFFF;
	text-align: center;
	border-radius: 2px;
}
.my-button input:nth-of-type(2){
	margin-right: 20px;
}
/*弹窗*/
.pop-win{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	background: rgba(0,0,0,0.30);
}
.pop-center{
	position: absolute;
	left: 50%;
	margin-top: -50px;
	margin-left: -435px;
	width: 870px;
	height: 275px;
	background: #FFFFFF;
	border-radius: 2px;
	z-index: 9;
}
.pop-center .closed{
	position: absolute;
	top: 25px;
	right: 20px;
}
.pop-center h3{
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid #ECECEC;
	font-family: Arial-BoldMT;
	font-size: 22px;
	padding-left: 20px;
}
.pop-center p{
	text-align: center;
	font-family: Arial-BoldMT;
	font-size: 20px;
	color: #333333;
	font-weight: bold;
}
.pop-center .cen1{
	margin-top: 30px;
}
.pop-center .cen2{
	margin-top: 10px;
	margin-bottom: 40px;
}
.pop-center .btnr{
	display: inline-block;
	background: #F36523;
	border-radius: 2px;	
	color: #FFFFFF;
	font-size: 14px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}
.pop-center .unbindCon{
	width: 138px;
	margin-left: 305px;
	
}
.pop-center .unbindCan{
	width: 100px;
	margin-left: 10px;	
}
.suc-mag .suc-table tr{
	height: 40px;
}
.suc-center{
	height: 242px;
}
.suc-center .cen1{
	margin-top: 34px;
	margin-bottom: 40px;
}
.suc-center .con{
	display: inline-block;
	width: 100px;
	height: 36px;
	background: #F36523;
	border-radius: 2px;
	margin-left: 385px;
}
.pop-win + .suc-center{
	margin-top: -30px;
}
.mang-con .iptk{
	display: inline-block;
	margin-left: 13px;
	width: 303px;
	height: 36px;
}
.mang-con .iptk:focus{
	width: 305px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.my-check .role{
	margin-right: 15px;
}
.newCode .account-mag{
	margin-top: 0;
}
.newCode .account-mag tr:nth-of-type(2){
	height: 40px;
}
.newCode .account-mag tr td:first-of-type{
	width: 382px;
}
.newCode .account-mag tr td:nth-of-type(2){
	width: 350px;
}
.newCode .account-mag tr td:nth-of-type(3){
	width: 150px;
}
.manage-con .unbind-tab tr{
	height: 40px;
}
.addCod{
	height: 266px;
}
.addCod .cen1{
	margin-top: 30px;
	margin-bottom: 0;
}
.addCod span{
	display: inline-block;
	margin-top: 30px;
	margin-bottom: 30px;
}
.addCod .sp1{
	margin-left: 336px;
}
.addCod .sp2{
	margin-left: 13px;
}
.s-right{
	float: left;
	width: 650px; 
	margin-left: 40px;
}
.det-time{
	text-align:center;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px dashed #ccc;
}
.det-con{
	margin-top: 20px;
	display:block;
}
.det-con .c-xx-but button{
	display: block;
	width: 80px;
	margin-left: 290px;
	height: 30px;
	background:#F36523;
	outline: none;
	border:none;
	font-size: 18px;
	border-radius: 2px;
	color: #fff;
	margin-top: 60px;
}
.det-con .c-xx-but button:hover{
	background: #FF9D32 !important;
	cursor: pointer;
}
.det-con a{
	color: #FF9D32!important;
}
#footer{
	margin-top: 388px;
	display: none;
}
#barcon{
	margin-top: 20px;
}
#barcon>a{
	margin: 0 5px;
}
#barcon>a:hover{
	color:#FF9D32 ;
}
.pageh{ overflow: hidden;}
.pageh .pagehL{ float:left;margin-right: 164px;}
.pageh .pagehR{ float:left;}
.pageh .pagehR a {display: inline-block;
	background: #f9f9f9;
	color: #999;
	cursor: pointer;padding: 2px 6px;
	/*line-height: 16px;
	height: 16px;*/
}


