
    <!-- 内容主体区域 -->
    <div class="s-mod">
		<div class="s-order-box">
			<ul class="clearfix   s-ship-cla">
				<li ><a href="javascript:;" class="intentionListBtn">询盘信息</a></li>
				<li class="curr"><a href="">报盘信息</a></li>
			</ul>
		</div>
		<div class="s-mod-block">
			#foreach($data in $datas)
			<div class="s-mod-btit">
				<a href="javascript:;" class="lookBtn" attr-data="$!data.uuid"  title="查看详情">报盘单号：$!{data.clauseCode}</a>
				#if($!{data.status} == '1')<span>待确认</span>#end
				#if($!{data.status} == '2')<span>已确认</span>#end
				#if($!{data.status} == '3')<span>已关闭</span>#end
			</div>
			<div class="s-mod-bcont">
				<form class="s-form s-form-cont s-form-cont2" action="">
					<ul>
						<li class="s-form-item">
							<div class="s-inline">
							  <label class="s-form-label">船名：</label>
							  <div class="s-input-inline">
								 <p title="$!{data.shipName}">$!{data.shipName}</p>
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label">意向装期LAYCAN：</label>
							  <div class="s-input-inline">
								  <p title="$!{data.loadRange}">$!{data.loadRange}</p>
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label">意向装货量（吨）：</label>
							  <div class="s-input-inline">
								  <p title="$!{data.minQuantity}">$!{data.minQuantity}</p>
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label">意向卸货地点要求：</label>
							  <div class="s-input-inline">
								<p title="$!{data.unloadRegion}">$!{data.unloadRegion}</p>
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label">允许装卸时间：</label>
							  <div class="s-input-inline">
								 <p title="$!{data.dockTime}">$!{data.dockTime} 小时</p>
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label">意向卸货地点：</label>
							  <div class="s-input-inline">
								  <p title="$!{data.loadRegion}">$!{data.loadRegion}</p>
							  </div>
							</div>
						</li>
					</ul>
				</form>
				<div class="s-but-all clearfix">
					<div class="s-all-jt"><p><i class="s-icon s-all-zk"></i></p>
						<div class="s-but-ship clearfix">
						  	  <a href="javascript:void(0);" class="s-btn lookBtn" attr-data="$!data.uuid">
						  	  #if($!{data.status} == '1')报盘详情#end
						  	  #if($!{data.status} == '2')报盘确认#end
						  	  #if($!{data.status} == '3')查看详情#end
						  	 </a>
						</div>
					</div>
				</div>
			</div>
			#end
		</div>
		$contain.get('/contain/tablePageSlider.htm').put('slider_query',$query).put('slider_target',"$shipServer.get('/clause/talkingClause.htm')")
		<div class="c-subdiv">
			<button class="c-btnsub back returnBtn">返回</button>
		</div>
	</div>
	<script src="../transport/js/clause/talkingClause.js"></script>
  
