.iw160{ width:160px !important;}
.iw320{ width:320px !important;}
.iw100{ width:100px !important;}
.iw154{ width:154px !important;}
.iw10{width:10px !important;}
.ry-banner{ padding:15px;background-color: #eee;}
.ry-footbar{padding:0 5px;background-color: #eee;}
.ry-right{ text-align: right;}
.table-style .table-style-th{text-align: center;}
.table-style {text-align:center;}
.btw{margin-left: 50px;}
.dh120{height: 120px;}
.pp15{ padding: 15px;}
.mt10{margin-top: 10px;}
.iw80{width:80px !important;}
.mr{margin-left:0 !important;}
.ml18{margin-left:18px;}
.btcol{color:#0A529C;}
.btnloc1{margin-left:630px;}
.btnloc2{margin-top:50px;}