#if($isTrigger == "1") 
	<div class="c-mod">
		<h3>
			<i class="cw-ico ico-h3"></i>Settlement
		</h3>
		<div class="c-tabdiv">
			<table>
				<tr>
					<th>Time</th>
					<th>Quantity</th>
					<th>Filled Price</th>
					<th>Premium/Discount</th>
					<th>Unit Price</th>
					<th>Amount</th>
					<th>Spread（USD）</th>
				</tr>
				#if($triggerResultList.size() > 0) 
					#foreach($item in $triggerResultList) 
						#set($class = $velocityCount%2+1) 
						#set($count = $velocityCount - 1)
						<tr class="ct-tabcos$class">
							<td>$!date.format('yyyy-MM-dd',$!item.lockTime)</td>
							<td id="lockQuantity">$!NumberTool.format($!item.lockQuantity)</td>
							<td>$!NumberTool.format($!item.lockPrice)</td>
							<td>$!NumberTool.format($!item.agio)</td>
							<td>$!NumberTool.format($!item.unitPrice)</td>
							<td id="totalAmount">$!NumberTool.format($!item.totalAmount)</td>
							<td>$!NumberTool.format($!item.differDesc)</td>
						</tr>
					#end 
				#end
			</table>
		</div>
	</div>
#end 
