DemoÊ¾Àı
<br/>
#foreach($data in $datas)
	${data}<br />
#end
$contain.get('/contain/formPageSlider.htm').put('slider_query',$query).put('slider_target',"/demo/demo.htm").put('slider_path','/contain/formPagingPageSlider')