<style type="text/css">
    label.error {
        color: red;
        padding: 3px 10px;
    }
    span.required {
        color: red;
    }
</style>
<form id="registerForm" action="$appServer.get('/login/register.htm')" method="post">
    <table>
        <tr>
            <th><span class="required">*</span>姓名：</th>
            <td>
                #springBind("user.realName")
                <input type="text" id="realName" name="${status.expression}" value="$!{status.value}" />
                <label class="error">${status.errorMessage}</label>
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>口令：</th>
            <td>
                #springBind("user.password")
                <input type="text" id="password" name="${status.expression}" value="" />
                <label class="error">${status.errorMessage}</label>
            </td>
        </tr>
        <tr>
            <th><span class="required">*</span>出生年月日：</th>
            <td>
                #springBind("user.birthday")
                <input type="text" id="birthday" name="${status.expression}" value="$!{status.value}" />
                <label class="error">${status.errorMessage}</label>
            </td>
        </tr>
        <tr>
            <th>年龄：</th>
            <td>
                #springBind("user.age")
                <input type="text" id="birthday" name="${status.expression}" value="$!{status.value}" />
                <label class="error">${status.errorMessage}</label>
            </td>
        </tr>
        <tr>
            <th>籍贯：</th>
            <td>
                #springBind("user.nativePlace.province")
                <select id="province" name="${status.expression}">
                    <option value="">请选择</option>
                    #if($!{provinces} && !${provinces.empty})
                        #foreach($e in $provinces)
                            <option value="$!{e.value}" #if($!{status.value} == $!{e.value}) selected="selected" #end>$!{e.name}</option>
                        #end
                    #end
                </select>
                #springBind("user.nativePlace.city")
                <select id="city" name="${status.expression}">
                    <option value="">请选择</option>
                    #if($!{cities} && !${cities.empty})
                        #foreach($e in $cities)
                            <option value="$!{e.value}" #if($!{status.value} == $!{e.value}) selected="selected" #end>$!{e.name}</option>
                        #end
                    #end
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <input type="submit" value="注册" />
            </th>
        </tr>
    </table>
</form>
