<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.info.dao.FabulousMapper">
	<!-- <resultMap type="com.sinochem.crude.trade.info.dao.Fabulous" id="FabulousDO" extends="com.sinochem.crude.trade.info.dao.mappers.immutable.${meta.immapperInterfaceClassName}.Fabulous">
		
	</resultMap>  -->
	<resultMap type="com.sinochem.crude.trade.info.domain.Fabulous" id="Fabulous">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="status" column="STATUS" />
		<result property="objTpye" column="OBJ_TPYE" />
		<result property="objOption" column="OBJ_OPTION" />
		<result property="objId" column="OBJ_ID" />
		<result property="fabulousUserId" column="FABULOUS_USER_ID" />
		<result property="isPersonal" column="IS_PERSONAL" />
		<result property="fabulousIp" column="FABULOUS_IP" />
		<result property="platForm" column="PLAT_FORM" />
		<result property="clientOs" column="CLIENT_OS" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="extend1" column="EXTEND1" />
		<result property="extend2" column="EXTEND2" />
		<result property="extend3" column="EXTEND3" />
		<result property="extend4" column="EXTEND4" />
		<result property="extend5" column="EXTEND5" />
		<result property="extend6" column="EXTEND6" />
		<result property="extend7" column="EXTEND7" />
		<result property="extend8" column="EXTEND8" />
		<result property="extend9" column="EXTEND9" />
		<result property="extend10" column="EXTEND10" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.Fabulous"  useGeneratedKeys="true" keyProperty="id" >
		insert  into t_cms_fabulous (				ID
						,UUID
						,STATUS
						,OBJ_TPYE
						,OBJ_OPTION
						,OBJ_ID
						,FABULOUS_USER_ID
						,IS_PERSONAL
						,FABULOUS_IP
						,PLAT_FORM
						,CLIENT_OS
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,ALIVE_FLAG
						,EXTEND1
						,EXTEND2
						,EXTEND3
						,EXTEND4
						,EXTEND5
						,EXTEND6
						,EXTEND7
						,EXTEND8
						,EXTEND9
						,EXTEND10
						)
		values(		#{id}
						,#{uuid}
						,#{status}
						,#{objTpye}
						,#{objOption}
						,#{objId}
						,#{fabulousUserId}
						,#{isPersonal}
						,#{fabulousIp}
						,#{platForm}
						,#{clientOs}
						,#{createUser}
						,#{createDate}
						,#{updateUser}
						,#{updateDate}
						,'1'
						,#{extend1}
						,#{extend2}
						,#{extend3}
						,#{extend4}
						,#{extend5}
						,#{extend6}
						,#{extend7}
						,#{extend8}
						,#{extend9}
						,#{extend10}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_cms_fabulous
              WHERE 1=1 
                AND ID = #{id}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.info.domain.Fabulous">
        DELETE FROM t_cms_fabulous
              WHERE 1=1 
        <if test="id!=null and id!=''">AND  ID = #{id}</if>
        <if test="uuid!=null and uuid!=''">AND  UUID = #{uuid}</if>
        <if test="status!=null and status!=''">AND  STATUS = #{status}</if>
        <if test="objTpye!=null and objTpye!=''">AND  OBJ_TPYE = #{objTpye}</if>
        <if test="objOption!=null and objOption!=''">AND  OBJ_OPTION = #{objOption}</if>
        <if test="objId!=null and objId!=''">AND  OBJ_ID = #{objId}</if>
        <if test="fabulousUserId!=null and fabulousUserId!=''">AND  FABULOUS_USER_ID = #{fabulousUserId}</if>
        <if test="isPersonal!=null and isPersonal!=''">AND  IS_PERSONAL = #{isPersonal}</if>
        <if test="fabulousIp!=null and fabulousIp!=''">AND  FABULOUS_IP = #{fabulousIp}</if>
        <if test="platForm!=null and platForm!=''">AND  PLAT_FORM = #{platForm}</if>
        <if test="clientOs!=null and clientOs!=''">AND  CLIENT_OS = #{clientOs}</if>
        <if test="createUser!=null and createUser!=''">AND  CREATE_USER = #{createUser}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="updateUser!=null and updateUser!=''">AND  UPDATE_USER = #{updateUser}</if>
        <if test="updateDate!=null and updateDate!=''">AND  UPDATE_DATE = #{updateDate}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="extend1!=null and extend1!=''">AND  EXTEND1 = #{extend1}</if>
        <if test="extend2!=null and extend2!=''">AND  EXTEND2 = #{extend2}</if>
        <if test="extend3!=null and extend3!=''">AND  EXTEND3 = #{extend3}</if>
        <if test="extend4!=null and extend4!=''">AND  EXTEND4 = #{extend4}</if>
        <if test="extend5!=null and extend5!=''">AND  EXTEND5 = #{extend5}</if>
        <if test="extend6!=null and extend6!=''">AND  EXTEND6 = #{extend6}</if>
        <if test="extend7!=null and extend7!=''">AND  EXTEND7 = #{extend7}</if>
        <if test="extend8!=null and extend8!=''">AND  EXTEND8 = #{extend8}</if>
        <if test="extend9!=null and extend9!=''">AND  EXTEND9 = #{extend9}</if>
        <if test="extend10!=null and extend10!=''">AND  EXTEND10 = #{extend10}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.info.domain.Fabulous">
		update t_cms_fabulous
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="status!=null">,STATUS = #{status}</if>
		<if test="objTpye!=null">,OBJ_TPYE = #{objTpye}</if>
		<if test="objOption!=null">,OBJ_OPTION = #{objOption}</if>
		<if test="objId!=null">,OBJ_ID = #{objId}</if>
		<if test="fabulousUserId!=null">,FABULOUS_USER_ID = #{fabulousUserId}</if>
		<if test="isPersonal!=null">,IS_PERSONAL = #{isPersonal}</if>
		<if test="fabulousIp!=null">,FABULOUS_IP = #{fabulousIp}</if>
		<if test="platForm!=null">,PLAT_FORM = #{platForm}</if>
		<if test="clientOs!=null">,CLIENT_OS = #{clientOs}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
       	 ID=#{id}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecordByUuid" parameterType="com.sinochem.crude.trade.info.domain.Fabulous">
		update t_cms_fabulous
		<set>
		UUID = #{uuid}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="status!=null">,STATUS = #{status}</if>
		<if test="objTpye!=null">,OBJ_TPYE = #{objTpye}</if>
		<if test="objOption!=null">,OBJ_OPTION = #{objOption}</if>
		<if test="objId!=null">,OBJ_ID = #{objId}</if>
		<if test="fabulousUserId!=null">,FABULOUS_USER_ID = #{fabulousUserId}</if>
		<if test="isPersonal!=null">,IS_PERSONAL = #{isPersonal}</if>
		<if test="fabulousIp!=null">,FABULOUS_IP = #{fabulousIp}</if>
		<if test="platForm!=null">,PLAT_FORM = #{platForm}</if>
		<if test="clientOs!=null">,CLIENT_OS = #{clientOs}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where  UUID = #{uuid} and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_cms_fabulous
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="status!=null">,STATUS = #{status}</if>
		<if test="objTpye!=null">,OBJ_TPYE = #{objTpye}</if>
		<if test="objOption!=null">,OBJ_OPTION = #{objOption}</if>
		<if test="objId!=null">,OBJ_ID = #{objId}</if>
		<if test="fabulousUserId!=null">,FABULOUS_USER_ID = #{fabulousUserId}</if>
		<if test="isPersonal!=null">,IS_PERSONAL = #{isPersonal}</if>
		<if test="fabulousIp!=null">,FABULOUS_IP = #{fabulousIp}</if>
		<if test="platForm!=null">,PLAT_FORM = #{platForm}</if>
		<if test="clientOs!=null">,CLIENT_OS = #{clientOs}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="status!=null and status!=''">and  STATUS=#{status}</if>
		<if test="objTpye!=null and objTpye!=''">and  OBJ_TPYE=#{objTpye}</if>
		<if test="objOption!=null and objOption!=''">and  OBJ_OPTION=#{objOption}</if>
		<if test="objId!=null and objId!=''">and  OBJ_ID=#{objId}</if>
		<if test="fabulousUserId!=null and fabulousUserId!=''">and  FABULOUS_USER_ID=#{fabulousUserId}</if>
		<if test="isPersonal!=null and isPersonal!=''">and  IS_PERSONAL=#{isPersonal}</if>
		<if test="fabulousIp!=null and fabulousIp!=''">and  FABULOUS_IP=#{fabulousIp}</if>
		<if test="platForm!=null and platForm!=''">and  PLAT_FORM=#{platForm}</if>
		<if test="clientOs!=null and clientOs!=''">and  CLIENT_OS=#{clientOs}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="Fabulous">
			select
			* from t_cms_fabulous
			where
		    ID=#{id} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="Fabulous">
			select
			* from t_cms_fabulous
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="Fabulous" parameterType="com.sinochem.crude.trade.info.domain.Fabulous">
		select * from t_cms_fabulous
			where
		 ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="status!=null and status!=''">and  STATUS=#{status}</if>
		<if test="objTpye!=null and objTpye!=''">and  OBJ_TPYE=#{objTpye}</if>
		<if test="objOption!=null and objOption!=''">and  OBJ_OPTION=#{objOption}</if>
		<if test="objId!=null and objId!=''">and  OBJ_ID=#{objId}</if>
		<if test="fabulousUserId!=null and fabulousUserId!=''">and  FABULOUS_USER_ID=#{fabulousUserId}</if>
		<if test="isPersonal!=null and isPersonal!=''">and  IS_PERSONAL=#{isPersonal}</if>
		<if test="fabulousIp!=null and fabulousIp!=''">and  FABULOUS_IP=#{fabulousIp}</if>
		<if test="platForm!=null and platForm!=''">and  PLAT_FORM=#{platForm}</if>
		<if test="clientOs!=null and clientOs!=''">and  CLIENT_OS=#{clientOs}</if>
		<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
		<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  ID as "id" 
						 ,   UUID as "uuid" 
						 ,   STATUS as "status" 
						 ,   OBJ_TPYE as "objTpye" 
						 ,   OBJ_OPTION as "objOption" 
						 ,   OBJ_ID as "objId" 
						 ,   FABULOUS_USER_ID as "fabulousUserId" 
						 ,   IS_PERSONAL as "isPersonal" 
						 ,   FABULOUS_IP as "fabulousIp" 
						 ,   PLAT_FORM as "platForm" 
						 ,   CLIENT_OS as "clientOs" 
						 ,   CREATE_USER as "createUser" 
						 ,   CREATE_DATE as "createDate" 
						 ,   UPDATE_USER as "updateUser" 
						 ,   UPDATE_DATE as "updateDate" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   EXTEND1 as "extend1" 
						 ,   EXTEND2 as "extend2" 
						 ,   EXTEND3 as "extend3" 
						 ,   EXTEND4 as "extend4" 
						 ,   EXTEND5 as "extend5" 
						 ,   EXTEND6 as "extend6" 
						 ,   EXTEND7 as "extend7" 
						 ,   EXTEND8 as "extend8" 
						 ,   EXTEND9 as "extend9" 
						 ,   EXTEND10 as "extend10" 
						from t_cms_fabulous
		where
			ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="status!=null and status!=''">and  STATUS=#{status}</if>
			<if test="objTpye!=null and objTpye!=''">and  OBJ_TPYE=#{objTpye}</if>
			<if test="objOption!=null and objOption!=''">and  OBJ_OPTION=#{objOption}</if>
			<if test="objId!=null and objId!=''">and  OBJ_ID=#{objId}</if>
			<if test="fabulousUserId!=null and fabulousUserId!=''">and  FABULOUS_USER_ID=#{fabulousUserId}</if>
			<if test="isPersonal!=null and isPersonal!=''">and  IS_PERSONAL=#{isPersonal}</if>
			<if test="fabulousIp!=null and fabulousIp!=''">and  FABULOUS_IP=#{fabulousIp}</if>
			<if test="platForm!=null and platForm!=''">and  PLAT_FORM=#{platForm}</if>
			<if test="clientOs!=null and clientOs!=''">and  CLIENT_OS=#{clientOs}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_cms_fabulous 
		where
		 ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="status!=null and status!=''">and  STATUS=#{status}</if>
			<if test="objTpye!=null and objTpye!=''">and  OBJ_TPYE=#{objTpye}</if>
			<if test="objOption!=null and objOption!=''">and  OBJ_OPTION=#{objOption}</if>
			<if test="objId!=null and objId!=''">and  OBJ_ID=#{objId}</if>
			<if test="fabulousUserId!=null and fabulousUserId!=''">and  FABULOUS_USER_ID=#{fabulousUserId}</if>
			<if test="isPersonal!=null and isPersonal!=''">and  IS_PERSONAL=#{isPersonal}</if>
			<if test="fabulousIp!=null and fabulousIp!=''">and  FABULOUS_IP=#{fabulousIp}</if>
			<if test="platForm!=null and platForm!=''">and  PLAT_FORM=#{platForm}</if>
			<if test="clientOs!=null and clientOs!=''">and  CLIENT_OS=#{clientOs}</if>
			<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
			<if test="updateDate!=null and updateDate!=''">and  UPDATE_DATE=#{updateDate}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	<select id="queryIfTread" resultMap="Fabulous">
			select
			* from t_cms_fabulous
			where FABULOUS_USER_ID = #{fabulousUserId} and OBJ_ID = #{objId}
	</select>
	
	<select id="findFabulousByInfoId" resultMap="Fabulous">
			select
			* from t_cms_fabulous
			where FABULOUS_USER_ID = #{fabulousUserId} and OBJ_ID = #{objId} and ALIVE_FLAG = '1'
	</select>
	
</mapper>