<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.info.dao.OilMapper">
	<!-- <resultMap type="com.sinochem.crude.trade.info.dao.Oil" id="OilDO" extends="com.sinochem.crude.trade.info.dao.mappers.immutable.${meta.immapperInterfaceClassName}.Oil">
		
	</resultMap>  -->
	<resultMap type="com.sinochem.crude.trade.info.domain.Oil" id="Oil">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="crudeNameE" column="CRUDE_NAME_E" />
		<result property="crudeNameC" column="CRUDE_NAME_C" />
		<result property="fullNameE" column="FULL_NAME_E" />
		<result property="originAreaId" column="ORIGIN_AREA_ID" />
		<result property="originId" column="ORIGIN_ID" />
		<result property="catagoryId" column="CATAGORY_ID" />
		<result property="transactionMode" column="TRANSACTION_MODE" />
		<result property="priceBaseFlag" column="PRICE_BASE_FLAG" />
		<result property="priceMode" column="PRICE_MODE" />
		<result property="priority" column="PRIORITY" />
		<result property="tonBucket" column="TON_BUCKET" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="createPerson" column="CREATE_PERSON" />
		<result property="modifyDate" column="MODIFY_DATE" />
		<result property="modifyPerson" column="MODIFY_PERSON" />
		<result property="extend1" column="EXTEND1" />
		<result property="extend2" column="EXTEND2" />
		<result property="extend3" column="EXTEND3" />
		<result property="extend4" column="EXTEND4" />
		<result property="extend5" column="EXTEND5" />
		<result property="extend6" column="EXTEND6" />
		<result property="extend7" column="EXTEND7" />
		<result property="extend8" column="EXTEND8" />
		<result property="extend9" column="EXTEND9" />
		<result property="extend10" column="EXTEND10" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.Oil"  useGeneratedKeys="true" keyProperty="id" >
		insert  into t_crude_oil (				ID
						,UUID
						,CRUDE_NAME_E
						,CRUDE_NAME_C
						,FULL_NAME_E
						,ORIGIN_AREA_ID
						,ORIGIN_ID
						,CATAGORY_ID
						,TRANSACTION_MODE
						,PRICE_BASE_FLAG
						,PRICE_MODE
						,PRIORITY
						,TON_BUCKET
						,ALIVE_FLAG
						,CREATE_DATE
						,CREATE_PERSON
						,MODIFY_DATE
						,MODIFY_PERSON
						,EXTEND1
						,EXTEND2
						,EXTEND3
						,EXTEND4
						,EXTEND5
						,EXTEND6
						,EXTEND7
						,EXTEND8
						,EXTEND9
						,EXTEND10
						)
		values(		#{id}
						,#{uuid}
						,#{crudeNameE}
						,#{crudeNameC}
						,#{fullNameE}
						,#{originAreaId}
						,#{originId}
						,#{catagoryId}
						,#{transactionMode}
						,#{priceBaseFlag}
						,#{priceMode}
						,#{priority}
						,#{tonBucket}
						,'1'
						,#{createDate}
						,#{createPerson}
						,#{modifyDate}
						,#{modifyPerson}
						,#{extend1}
						,#{extend2}
						,#{extend3}
						,#{extend4}
						,#{extend5}
						,#{extend6}
						,#{extend7}
						,#{extend8}
						,#{extend9}
						,#{extend10}
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_crude_oil
              WHERE 1=1 
                AND ID = #{id}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.info.domain.Oil">
        DELETE FROM t_crude_oil
              WHERE 1=1 
        <if test="id!=null and id!=''">AND  ID = #{id}</if>
        <if test="uuid!=null and uuid!=''">AND  UUID = #{uuid}</if>
        <if test="crudeNameE!=null and crudeNameE!=''">AND  CRUDE_NAME_E = #{crudeNameE}</if>
        <if test="crudeNameC!=null and crudeNameC!=''">AND  CRUDE_NAME_C = #{crudeNameC}</if>
        <if test="fullNameE!=null and fullNameE!=''">AND  FULL_NAME_E = #{fullNameE}</if>
        <if test="originAreaId!=null and originAreaId!=''">AND  ORIGIN_AREA_ID = #{originAreaId}</if>
        <if test="originId!=null and originId!=''">AND  ORIGIN_ID = #{originId}</if>
        <if test="catagoryId!=null and catagoryId!=''">AND  CATAGORY_ID = #{catagoryId}</if>
        <if test="transactionMode!=null and transactionMode!=''">AND  TRANSACTION_MODE = #{transactionMode}</if>
        <if test="priceBaseFlag!=null and priceBaseFlag!=''">AND  PRICE_BASE_FLAG = #{priceBaseFlag}</if>
        <if test="priceMode!=null and priceMode!=''">AND  PRICE_MODE = #{priceMode}</if>
        <if test="priority!=null and priority!=''">AND  PRIORITY = #{priority}</if>
        <if test="tonBucket!=null and tonBucket!=''">AND  TON_BUCKET = #{tonBucket}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
        <if test="createDate!=null and createDate!=''">AND  CREATE_DATE = #{createDate}</if>
        <if test="createPerson!=null and createPerson!=''">AND  CREATE_PERSON = #{createPerson}</if>
        <if test="modifyDate!=null and modifyDate!=''">AND  MODIFY_DATE = #{modifyDate}</if>
        <if test="modifyPerson!=null and modifyPerson!=''">AND  MODIFY_PERSON = #{modifyPerson}</if>
        <if test="extend1!=null and extend1!=''">AND  EXTEND1 = #{extend1}</if>
        <if test="extend2!=null and extend2!=''">AND  EXTEND2 = #{extend2}</if>
        <if test="extend3!=null and extend3!=''">AND  EXTEND3 = #{extend3}</if>
        <if test="extend4!=null and extend4!=''">AND  EXTEND4 = #{extend4}</if>
        <if test="extend5!=null and extend5!=''">AND  EXTEND5 = #{extend5}</if>
        <if test="extend6!=null and extend6!=''">AND  EXTEND6 = #{extend6}</if>
        <if test="extend7!=null and extend7!=''">AND  EXTEND7 = #{extend7}</if>
        <if test="extend8!=null and extend8!=''">AND  EXTEND8 = #{extend8}</if>
        <if test="extend9!=null and extend9!=''">AND  EXTEND9 = #{extend9}</if>
        <if test="extend10!=null and extend10!=''">AND  EXTEND10 = #{extend10}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.info.domain.Oil">
		update t_crude_oil
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="crudeNameE!=null">,CRUDE_NAME_E = #{crudeNameE}</if>
		<if test="crudeNameC!=null">,CRUDE_NAME_C = #{crudeNameC}</if>
		<if test="fullNameE!=null">,FULL_NAME_E = #{fullNameE}</if>
		<if test="originAreaId!=null">,ORIGIN_AREA_ID = #{originAreaId}</if>
		<if test="originId!=null">,ORIGIN_ID = #{originId}</if>
		<if test="catagoryId!=null">,CATAGORY_ID = #{catagoryId}</if>
		<if test="transactionMode!=null">,TRANSACTION_MODE = #{transactionMode}</if>
		<if test="priceBaseFlag!=null">,PRICE_BASE_FLAG = #{priceBaseFlag}</if>
		<if test="priceMode!=null">,PRICE_MODE = #{priceMode}</if>
		<if test="priority!=null">,PRIORITY = #{priority}</if>
		<if test="tonBucket!=null">,TON_BUCKET = #{tonBucket}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="createPerson!=null">,CREATE_PERSON = #{createPerson}</if>
		<if test="modifyDate!=null">,MODIFY_DATE = #{modifyDate}</if>
		<if test="modifyPerson!=null">,MODIFY_PERSON = #{modifyPerson}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
       	 ID=#{id}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_crude_oil
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="crudeNameE!=null">,CRUDE_NAME_E = #{crudeNameE}</if>
		<if test="crudeNameC!=null">,CRUDE_NAME_C = #{crudeNameC}</if>
		<if test="fullNameE!=null">,FULL_NAME_E = #{fullNameE}</if>
		<if test="originAreaId!=null">,ORIGIN_AREA_ID = #{originAreaId}</if>
		<if test="originId!=null">,ORIGIN_ID = #{originId}</if>
		<if test="catagoryId!=null">,CATAGORY_ID = #{catagoryId}</if>
		<if test="transactionMode!=null">,TRANSACTION_MODE = #{transactionMode}</if>
		<if test="priceBaseFlag!=null">,PRICE_BASE_FLAG = #{priceBaseFlag}</if>
		<if test="priceMode!=null">,PRICE_MODE = #{priceMode}</if>
		<if test="priority!=null">,PRIORITY = #{priority}</if>
		<if test="tonBucket!=null">,TON_BUCKET = #{tonBucket}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="createPerson!=null">,CREATE_PERSON = #{createPerson}</if>
		<if test="modifyDate!=null">,MODIFY_DATE = #{modifyDate}</if>
		<if test="modifyPerson!=null">,MODIFY_PERSON = #{modifyPerson}</if>
		<if test="extend1!=null">,EXTEND1 = #{extend1}</if>
		<if test="extend2!=null">,EXTEND2 = #{extend2}</if>
		<if test="extend3!=null">,EXTEND3 = #{extend3}</if>
		<if test="extend4!=null">,EXTEND4 = #{extend4}</if>
		<if test="extend5!=null">,EXTEND5 = #{extend5}</if>
		<if test="extend6!=null">,EXTEND6 = #{extend6}</if>
		<if test="extend7!=null">,EXTEND7 = #{extend7}</if>
		<if test="extend8!=null">,EXTEND8 = #{extend8}</if>
		<if test="extend9!=null">,EXTEND9 = #{extend9}</if>
		<if test="extend10!=null">,EXTEND10 = #{extend10}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="crudeNameE!=null and crudeNameE!=''">and  CRUDE_NAME_E=#{crudeNameE}</if>
		<if test="crudeNameC!=null and crudeNameC!=''">and  CRUDE_NAME_C=#{crudeNameC}</if>
		<if test="fullNameE!=null and fullNameE!=''">and  FULL_NAME_E=#{fullNameE}</if>
		<if test="originAreaId!=null and originAreaId!=''">and  ORIGIN_AREA_ID=#{originAreaId}</if>
		<if test="originId!=null and originId!=''">and  ORIGIN_ID=#{originId}</if>
		<if test="catagoryId!=null and catagoryId!=''">and  CATAGORY_ID=#{catagoryId}</if>
		<if test="transactionMode!=null and transactionMode!=''">and  TRANSACTION_MODE=#{transactionMode}</if>
		<if test="priceBaseFlag!=null and priceBaseFlag!=''">and  PRICE_BASE_FLAG=#{priceBaseFlag}</if>
		<if test="priceMode!=null and priceMode!=''">and  PRICE_MODE=#{priceMode}</if>
		<if test="priority!=null and priority!=''">and  PRIORITY=#{priority}</if>
		<if test="tonBucket!=null and tonBucket!=''">and  TON_BUCKET=#{tonBucket}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
		<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
		<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="Oil">
			select
			* from t_crude_oil
			where
		    ID=#{id} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="Oil">
			select
			* from t_crude_oil
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="Oil" parameterType="com.sinochem.crude.trade.info.domain.Oil">
		select * from t_crude_oil
			where
		 ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="crudeNameE!=null and crudeNameE!=''">and  CRUDE_NAME_E=#{crudeNameE}</if>
		<if test="crudeNameC!=null and crudeNameC!=''">and  CRUDE_NAME_C=#{crudeNameC}</if>
		<if test="fullNameE!=null and fullNameE!=''">and  FULL_NAME_E=#{fullNameE}</if>
		<if test="originAreaId!=null and originAreaId!=''">and  ORIGIN_AREA_ID=#{originAreaId}</if>
		<if test="originId!=null and originId!=''">and  ORIGIN_ID=#{originId}</if>
		<if test="catagoryId!=null and catagoryId!=''">and  CATAGORY_ID=#{catagoryId}</if>
		<if test="transactionMode!=null and transactionMode!=''">and  TRANSACTION_MODE=#{transactionMode}</if>
		<if test="priceBaseFlag!=null and priceBaseFlag!=''">and  PRICE_BASE_FLAG=#{priceBaseFlag}</if>
		<if test="priceMode!=null and priceMode!=''">and  PRICE_MODE=#{priceMode}</if>
		<if test="priority!=null and priority!=''">and  PRIORITY=#{priority}</if>
		<if test="tonBucket!=null and tonBucket!=''">and  TON_BUCKET=#{tonBucket}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
		<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
		<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
		<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
		<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
		<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
		<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
		<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
		<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
		<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
		<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
		<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
		<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
		<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
		<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
			</select>
	
	<select id="queryRecords" resultType="com.sinochem.crude.trade.info.query.CrudeQuery" parameterType="com.sinochem.crude.trade.info.query.CrudeQuery">
		select
						  ID as "id" 
						 ,   UUID as "uuid" 
						 ,   CRUDE_NAME_E as "crudeNameE" 
						 ,   CRUDE_NAME_C as "crudeNameC" 
						 ,   FULL_NAME_E as "fullNameE" 
						 ,   ORIGIN_AREA_ID as "originAreaId" 
						 ,   ORIGIN_ID as "originId" 
						 ,   CATAGORY_ID as "catagoryId" 
						 ,   TRANSACTION_MODE as "transactionMode" 
						 ,   PRICE_BASE_FLAG as "priceBaseFlag" 
						 ,   PRICE_MODE as "priceMode" 
						 ,   PRIORITY as "priority" 
						 ,   TON_BUCKET as "tonBucket" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						 ,   CREATE_DATE as "createDate" 
						 ,   CREATE_PERSON as "createPerson" 
						 ,   MODIFY_DATE as "modifyDate" 
						 ,   MODIFY_PERSON as "modifyPerson" 
						 ,   EXTEND1 as "extend1" 
						 ,   EXTEND2 as "extend2" 
						 ,   EXTEND3 as "extend3" 
						 ,   EXTEND4 as "extend4" 
						 ,   EXTEND5 as "extend5" 
						 ,   EXTEND6 as "extend6" 
						 ,   EXTEND7 as "extend7" 
						 ,   EXTEND8 as "extend8" 
						 ,   EXTEND9 as "extend9" 
						 ,   EXTEND10 as "extend10" 
						from t_crude_oil
		where
			ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="crudeNameE!=null and crudeNameE!=''">and  CRUDE_NAME_E=#{crudeNameE}</if>
			<if test="crudeNameC!=null and crudeNameC!=''">and  CRUDE_NAME_C=#{crudeNameC}</if>
			<if test="fullNameE!=null and fullNameE!=''">and  FULL_NAME_E=#{fullNameE}</if>
			<if test="originAreaId!=null and originAreaId!=''">and  ORIGIN_AREA_ID=#{originAreaId}</if>
			<if test="originId!=null and originId!=''">and  ORIGIN_ID=#{originId}</if>
			<if test="catagoryId!=null and catagoryId!=''">and  CATAGORY_ID=#{catagoryId}</if>
			<if test="transactionMode!=null and transactionMode!=''">and  TRANSACTION_MODE=#{transactionMode}</if>
			<if test="priceBaseFlag!=null and priceBaseFlag!=''">and  PRICE_BASE_FLAG=#{priceBaseFlag}</if>
			<if test="priceMode!=null and priceMode!=''">and  PRICE_MODE=#{priceMode}</if>
			<if test="priority!=null and priority!=''">and  PRIORITY=#{priority}</if>
			<if test="tonBucket!=null and tonBucket!=''">and  TON_BUCKET=#{tonBucket}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
			<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
			<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_crude_oil 
		where
		 ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="crudeNameE!=null and crudeNameE!=''">and  CRUDE_NAME_E=#{crudeNameE}</if>
			<if test="crudeNameC!=null and crudeNameC!=''">and  CRUDE_NAME_C=#{crudeNameC}</if>
			<if test="fullNameE!=null and fullNameE!=''">and  FULL_NAME_E=#{fullNameE}</if>
			<if test="originAreaId!=null and originAreaId!=''">and  ORIGIN_AREA_ID=#{originAreaId}</if>
			<if test="originId!=null and originId!=''">and  ORIGIN_ID=#{originId}</if>
			<if test="catagoryId!=null and catagoryId!=''">and  CATAGORY_ID=#{catagoryId}</if>
			<if test="transactionMode!=null and transactionMode!=''">and  TRANSACTION_MODE=#{transactionMode}</if>
			<if test="priceBaseFlag!=null and priceBaseFlag!=''">and  PRICE_BASE_FLAG=#{priceBaseFlag}</if>
			<if test="priceMode!=null and priceMode!=''">and  PRICE_MODE=#{priceMode}</if>
			<if test="priority!=null and priority!=''">and  PRIORITY=#{priority}</if>
			<if test="tonBucket!=null and tonBucket!=''">and  TON_BUCKET=#{tonBucket}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			<if test="createDate!=null and createDate!=''">and  CREATE_DATE=#{createDate}</if>
			<if test="createPerson!=null and createPerson!=''">and  CREATE_PERSON=#{createPerson}</if>
			<if test="modifyDate!=null and modifyDate!=''">and  MODIFY_DATE=#{modifyDate}</if>
			<if test="modifyPerson!=null and modifyPerson!=''">and  MODIFY_PERSON=#{modifyPerson}</if>
			<if test="extend1!=null and extend1!=''">and  EXTEND1=#{extend1}</if>
			<if test="extend2!=null and extend2!=''">and  EXTEND2=#{extend2}</if>
			<if test="extend3!=null and extend3!=''">and  EXTEND3=#{extend3}</if>
			<if test="extend4!=null and extend4!=''">and  EXTEND4=#{extend4}</if>
			<if test="extend5!=null and extend5!=''">and  EXTEND5=#{extend5}</if>
			<if test="extend6!=null and extend6!=''">and  EXTEND6=#{extend6}</if>
			<if test="extend7!=null and extend7!=''">and  EXTEND7=#{extend7}</if>
			<if test="extend8!=null and extend8!=''">and  EXTEND8=#{extend8}</if>
			<if test="extend9!=null and extend9!=''">and  EXTEND9=#{extend9}</if>
			<if test="extend10!=null and extend10!=''">and  EXTEND10=#{extend10}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	<select id="addCrudeRecords" resultType="com.sinochem.crude.trade.info.query.CrudeQuery">
		select
			 ID
		    ,CRUDE_NAME_E as "crudeNameE" 
			,CRUDE_NAME_C as "crudeNameC" 
		from
			t_crude_oil
		where
		 	ALIVE_FLAG='1'
		<if test="crudeNameE!=null and crudeNameE!=''">and  CRUDE_NAME_E like '%' #{crudeNameE} '%'</if>
		<if test="crudeNameC!=null and crudeNameC!=''">and  CRUDE_NAME_C like '%' #{crudeNameC} '%'</if>
	</select>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>