<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sinochem.crude.trade.info.dao.ShipPointInterfaceMapper">
	<!-- <resultMap type="com.sinochem.crude.trade.info.dao.ShipPointInterface" id="ShipPointInterfaceDO" extends="com.sinochem.crude.trade.info.dao.mappers.immutable.${meta.immapperInterfaceClassName}.ShipPointInterface">
		
	</resultMap>  -->
	<resultMap type="com.sinochem.crude.trade.info.domain.ShipPointInterface" id="ShipPointInterface">
		<result property="id" column="ID" />
		<result property="uuid" column="UUID" />
		<result property="diliveryRegion" column="DILIVERY_REGION" />
		<result property="shipType" column="SHIP_TYPE" />
		<result property="point" column="POINT" />
		<result property="releaseDate" column="RELEASE_DATE" />
		<result property="dispatchPort" column="DISPATCH_PORT" />
		<result property="dischargePort" column="DISCHARGE_PORT" />
		<result property="bucketFreight" column="BUCKET_FREIGHT" />
		<result property="remarks" column="REMARKS" />
		<result property="externalSystem" column="EXTERNAL_SYSTEM" />
		<result property="interfaceDate" column="INTERFACE_DATE" />
		<result property="processPerson" column="PROCESS_PERSON" />
		<result property="processDate" column="PROCESS_DATE" />
		<result property="status" column="STATUS" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
			</resultMap> 
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.ShipPointInterface"  useGeneratedKeys="true" keyProperty="id" >
		insert  into t_crude_ship_point_interface (				ID
						,UUID
						,DILIVERY_REGION
						,SHIP_TYPE
						,POINT
						,RELEASE_DATE
						,DISPATCH_PORT
						,DISCHARGE_PORT
						,BUCKET_FREIGHT
						,REMARKS
						,EXTERNAL_SYSTEM
						,INTERFACE_DATE
						,PROCESS_PERSON
						,PROCESS_DATE
						,STATUS
						,ALIVE_FLAG
						)
		values(		#{id}
						,#{uuid}
						,#{diliveryRegion}
						,#{shipType}
						,#{point}
						,#{releaseDate}
						,#{dispatchPort}
						,#{dischargePort}
						,#{bucketFreight}
						,#{remarks}
						,#{externalSystem}
						,#{interfaceDate}
						,#{processPerson}
						,#{processDate}
						,#{status}
						,'1'
				)
	</insert>
	
	<delete id="deleteById">
        DELETE FROM t_crude_ship_point_interface
              WHERE 1=1 
                AND ID = #{id}  
    </delete>
    
    <delete id="deleteRecords" parameterType="com.sinochem.crude.trade.info.domain.ShipPointInterface">
        DELETE FROM t_crude_ship_point_interface
              WHERE 1=1 
        <if test="id!=null and id!=''">AND  ID = #{id}</if>
        <if test="uuid!=null and uuid!=''">AND  UUID = #{uuid}</if>
        <if test="diliveryRegion!=null and diliveryRegion!=''">AND  DILIVERY_REGION = #{diliveryRegion}</if>
        <if test="shipType!=null and shipType!=''">AND  SHIP_TYPE = #{shipType}</if>
        <if test="point!=null and point!=''">AND  POINT = #{point}</if>
        <if test="releaseDate!=null and releaseDate!=''">AND  RELEASE_DATE = #{releaseDate}</if>
        <if test="dispatchPort!=null and dispatchPort!=''">AND  DISPATCH_PORT = #{dispatchPort}</if>
        <if test="dischargePort!=null and dischargePort!=''">AND  DISCHARGE_PORT = #{dischargePort}</if>
        <if test="bucketFreight!=null and bucketFreight!=''">AND  BUCKET_FREIGHT = #{bucketFreight}</if>
        <if test="remarks!=null and remarks!=''">AND  REMARKS = #{remarks}</if>
        <if test="externalSystem!=null and externalSystem!=''">AND  EXTERNAL_SYSTEM = #{externalSystem}</if>
        <if test="interfaceDate!=null and interfaceDate!=''">AND  INTERFACE_DATE = #{interfaceDate}</if>
        <if test="processPerson!=null and processPerson!=''">AND  PROCESS_PERSON = #{processPerson}</if>
        <if test="processDate!=null and processDate!=''">AND  PROCESS_DATE = #{processDate}</if>
        <if test="status!=null and status!=''">AND  STATUS = #{status}</if>
        <if test="aliveFlag!=null and aliveFlag!=''">AND  ALIVE_FLAG = #{aliveFlag}</if>
    </delete>
    
    
		
	<update id="updateRecordById" parameterType="com.sinochem.crude.trade.info.domain.ShipPointInterface">
		update t_crude_ship_point_interface
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="diliveryRegion!=null">,DILIVERY_REGION = #{diliveryRegion}</if>
		<if test="shipType!=null">,SHIP_TYPE = #{shipType}</if>
		<if test="point!=null">,POINT = #{point}</if>
		<if test="releaseDate!=null">,RELEASE_DATE = #{releaseDate}</if>
		<if test="dispatchPort!=null">,DISPATCH_PORT = #{dispatchPort}</if>
		<if test="dischargePort!=null">,DISCHARGE_PORT = #{dischargePort}</if>
		<if test="bucketFreight!=null">,BUCKET_FREIGHT = #{bucketFreight}</if>
		<if test="remarks!=null">,REMARKS = #{remarks}</if>
		<if test="externalSystem!=null">,EXTERNAL_SYSTEM = #{externalSystem}</if>
		<if test="interfaceDate!=null">,INTERFACE_DATE = #{interfaceDate}</if>
		<if test="processPerson!=null">,PROCESS_PERSON = #{processPerson}</if>
		<if test="processDate!=null">,PROCESS_DATE = #{processDate}</if>
		<if test="status!=null">,STATUS = #{status}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		</set>
		where
       	 ID=#{id}
		and ALIVE_FLAG='1'
	</update>
	
	<update id="updateRecords" parameterType="hashmap">
		update t_crude_ship_point_interface
		<set>
         ID=#{id}
		<if test="uuid!=null">,UUID = #{uuid}</if>
		<if test="diliveryRegion!=null">,DILIVERY_REGION = #{diliveryRegion}</if>
		<if test="shipType!=null">,SHIP_TYPE = #{shipType}</if>
		<if test="point!=null">,POINT = #{point}</if>
		<if test="releaseDate!=null">,RELEASE_DATE = #{releaseDate}</if>
		<if test="dispatchPort!=null">,DISPATCH_PORT = #{dispatchPort}</if>
		<if test="dischargePort!=null">,DISCHARGE_PORT = #{dischargePort}</if>
		<if test="bucketFreight!=null">,BUCKET_FREIGHT = #{bucketFreight}</if>
		<if test="remarks!=null">,REMARKS = #{remarks}</if>
		<if test="externalSystem!=null">,EXTERNAL_SYSTEM = #{externalSystem}</if>
		<if test="interfaceDate!=null">,INTERFACE_DATE = #{interfaceDate}</if>
		<if test="processPerson!=null">,PROCESS_PERSON = #{processPerson}</if>
		<if test="processDate!=null">,PROCESS_DATE = #{processDate}</if>
		<if test="status!=null">,STATUS = #{status}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		</set>
		where
		ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="diliveryRegion!=null and diliveryRegion!=''">and  DILIVERY_REGION=#{diliveryRegion}</if>
		<if test="shipType!=null and shipType!=''">and  SHIP_TYPE=#{shipType}</if>
		<if test="point!=null and point!=''">and  POINT=#{point}</if>
		<if test="releaseDate!=null and releaseDate!=''">and  RELEASE_DATE=#{releaseDate}</if>
		<if test="dispatchPort!=null and dispatchPort!=''">and  DISPATCH_PORT=#{dispatchPort}</if>
		<if test="dischargePort!=null and dischargePort!=''">and  DISCHARGE_PORT=#{dischargePort}</if>
		<if test="bucketFreight!=null and bucketFreight!=''">and  BUCKET_FREIGHT=#{bucketFreight}</if>
		<if test="remarks!=null and remarks!=''">and  REMARKS=#{remarks}</if>
		<if test="externalSystem!=null and externalSystem!=''">and  EXTERNAL_SYSTEM=#{externalSystem}</if>
		<if test="interfaceDate!=null and interfaceDate!=''">and  INTERFACE_DATE=#{interfaceDate}</if>
		<if test="processPerson!=null and processPerson!=''">and  PROCESS_PERSON=#{processPerson}</if>
		<if test="processDate!=null and processDate!=''">and  PROCESS_DATE=#{processDate}</if>
		<if test="status!=null and status!=''">and  STATUS=#{status}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
	</update>
	
	
	<select id="findByPrimaryKey" resultMap="ShipPointInterface">
			select
			* from t_crude_ship_point_interface
			where
		    ID=#{id} 
			and ALIVE_FLAG='1'
	</select>
	
	<select id="findByUuid" resultMap="ShipPointInterface">
			select
			* from t_crude_ship_point_interface
			where UUID=#{uuid} 
			and ALIVE_FLAG='1'
	</select>

	<select id="queryByEntitys" resultMap="ShipPointInterface" parameterType="com.sinochem.crude.trade.info.domain.ShipPointInterface">
		select * from t_crude_ship_point_interface
			where
		 ALIVE_FLAG='1'
		<if test="id!=null and id!=''">and  ID=#{id}</if>
		<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
		<if test="diliveryRegion!=null and diliveryRegion!=''">and  DILIVERY_REGION=#{diliveryRegion}</if>
		<if test="shipType!=null and shipType!=''">and  SHIP_TYPE=#{shipType}</if>
		<if test="point!=null and point!=''">and  POINT=#{point}</if>
		<if test="releaseDate!=null">and  RELEASE_DATE=#{releaseDate}</if>
		<if test="dispatchPort!=null and dispatchPort!=''">and  DISPATCH_PORT=#{dispatchPort}</if>
		<if test="dischargePort!=null and dischargePort!=''">and  DISCHARGE_PORT=#{dischargePort}</if>
		<if test="bucketFreight!=null and bucketFreight!=''">and  BUCKET_FREIGHT=#{bucketFreight}</if>
		<if test="remarks!=null and remarks!=''">and  REMARKS=#{remarks}</if>
		<if test="externalSystem!=null and externalSystem!=''">and  EXTERNAL_SYSTEM=#{externalSystem}</if>
		<if test="interfaceDate!=null and interfaceDate!=''">and  INTERFACE_DATE=#{interfaceDate}</if>
		<if test="processPerson!=null and processPerson!=''">and  PROCESS_PERSON=#{processPerson}</if>
		<if test="processDate!=null and processDate!=''">and  PROCESS_DATE=#{processDate}</if>
		<if test="status!=null and status!=''">and  STATUS=#{status}</if>
		<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
			</select>
	
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
		select
						  ID as "id" 
						 ,   UUID as "uuid" 
						 ,   DILIVERY_REGION as "diliveryRegion" 
						 ,   SHIP_TYPE as "shipType" 
						 ,   POINT as "point" 
						 ,   RELEASE_DATE as "releaseDate" 
						 ,   DISPATCH_PORT as "dispatchPort" 
						 ,   DISCHARGE_PORT as "dischargePort" 
						 ,   BUCKET_FREIGHT as "bucketFreight" 
						 ,   REMARKS as "remarks" 
						 ,   EXTERNAL_SYSTEM as "externalSystem" 
						 ,   INTERFACE_DATE as "interfaceDate" 
						 ,   PROCESS_PERSON as "processPerson" 
						 ,   PROCESS_DATE as "processDate" 
						 ,   STATUS as "status" 
						 ,   ALIVE_FLAG as "aliveFlag" 
						from t_crude_ship_point_interface
		where
			ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="diliveryRegion!=null and diliveryRegion!=''">and  DILIVERY_REGION=#{diliveryRegion}</if>
			<if test="shipType!=null and shipType!=''">and  SHIP_TYPE=#{shipType}</if>
			<if test="point!=null and point!=''">and  POINT=#{point}</if>
			<if test="releaseDate!=null and releaseDate!=''">and  RELEASE_DATE=#{releaseDate}</if>
			<if test="dispatchPort!=null and dispatchPort!=''">and  DISPATCH_PORT=#{dispatchPort}</if>
			<if test="dischargePort!=null and dischargePort!=''">and  DISCHARGE_PORT=#{dischargePort}</if>
			<if test="bucketFreight!=null and bucketFreight!=''">and  BUCKET_FREIGHT=#{bucketFreight}</if>
			<if test="remarks!=null and remarks!=''">and  REMARKS=#{remarks}</if>
			<if test="externalSystem!=null and externalSystem!=''">and  EXTERNAL_SYSTEM=#{externalSystem}</if>
			<if test="interfaceDate!=null and interfaceDate!=''">and  INTERFACE_DATE=#{interfaceDate}</if>
			<if test="processPerson!=null and processPerson!=''">and  PROCESS_PERSON=#{processPerson}</if>
			<if test="processDate!=null and processDate!=''">and  PROCESS_DATE=#{processDate}</if>
			<if test="status!=null and status!=''">and  STATUS=#{status}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
				</select>
	
	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_crude_ship_point_interface 
		where
		 ALIVE_FLAG='1'
			<if test="id!=null and id!=''">and  ID=#{id}</if>
			<if test="uuid!=null and uuid!=''">and  UUID=#{uuid}</if>
			<if test="diliveryRegion!=null and diliveryRegion!=''">and  DILIVERY_REGION=#{diliveryRegion}</if>
			<if test="shipType!=null and shipType!=''">and  SHIP_TYPE=#{shipType}</if>
			<if test="point!=null and point!=''">and  POINT=#{point}</if>
			<if test="releaseDate!=null and releaseDate!=''">and  RELEASE_DATE=#{releaseDate}</if>
			<if test="dispatchPort!=null and dispatchPort!=''">and  DISPATCH_PORT=#{dispatchPort}</if>
			<if test="dischargePort!=null and dischargePort!=''">and  DISCHARGE_PORT=#{dischargePort}</if>
			<if test="bucketFreight!=null and bucketFreight!=''">and  BUCKET_FREIGHT=#{bucketFreight}</if>
			<if test="remarks!=null and remarks!=''">and  REMARKS=#{remarks}</if>
			<if test="externalSystem!=null and externalSystem!=''">and  EXTERNAL_SYSTEM=#{externalSystem}</if>
			<if test="interfaceDate!=null and interfaceDate!=''">and  INTERFACE_DATE=#{interfaceDate}</if>
			<if test="processPerson!=null and processPerson!=''">and  PROCESS_PERSON=#{processPerson}</if>
			<if test="processDate!=null and processDate!=''">and  PROCESS_DATE=#{processDate}</if>
			<if test="status!=null and status!=''">and  STATUS=#{status}</if>
			<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
					 
	</select>
	
	
	
	<!-- //**************************以下方法为开发者补充*********************************/ -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
</mapper>