html,body{height:100%;width:100%;min-width:100%;}
body{line-height:inherit;}
.s-top-wrap,.s-slogan,.s-footer{display:none;}
.s-header{border:0;height:11em;padding:3em 0;width:100%;}
.s-reg-head .s-head-con{box-shadow:none;height:11em;width:100%;}
.s-head-con{background:none;}
.s-inner{width:100%;}
@media (max-width:1600px){
	.s-inner{min-width:100%;max-width:100%;}
}
.s-head-l{float:none;width:100%;}
.s-logo{background: url(../images/logo-big.png) center no-repeat;background-size:100% 100%;float:none;display:block;width:17em;height:5em;margin:0 auto;}
.s-pas-regj{padding:2em 0 5em;}
.s-regi-title{font-size:2.6em;line-height:2em;width:80%;margin:0 auto 2em;}
.s-pass-regset{width:80%;margin:0 auto;}
.s-form{width:100%;}
.s-form-item{margin-bottom:5em;}
.s-input, .s-textarea, .s-select{font-size:2.2em;height:3em;line-height:3em;padding:0 1em;}
input::-webkit-input-placeholder{font-size:1.2em;}
input::-moz-input-placeholder{font-size:1.2em;}
input::-ms-input-placeholder{font-size:1.2em;}
.s-form .s-prompt, .s-form .s-erro{font-size:2.2em;line-height:inherit;margin-left:1em;top:3.3em;}
.s-btn{height:3em;line-height:3em;font-size:2.6em;}
.s-verification{ width:100%; height:auto; padding:0; background-color:#fff; left:0; top:0; margin-top:0; margin-left:0; position:static;}