  <!-- 内容主体区域 -->
    <div class="s-mod">
		<div class="s-order-box">
			<div class="clearfix s-order-tit"><h1>Update Shipping Information</h1></div>
			<p class="s-order-jbx"></p>
			<ul class="clearfix   s-ship-cla">
				<li><a href="javascript:;" id="start" >Voyage Start</a></li>
				<li><a  href="javascript:;" id="load">Loading port</a></li>
				<li class="curr"><a  href="javascript:;"  id="transit">In transit</a></li>
				<li><a  href="javascript:;"  id="unload">discharging port</a></li>
			</ul>
		</div>
		<div class="s-mod-block">
		<div class="s-mod-btit"><a href="" title="">In transit</a><span><a href="javascript:;" class="addFn">Insert</a><a href="javascript:;" class="returnFn">Cancel</a><!-- <a href="javascript:;" class="export">导出模板</a> --><a href="javascript:;" class="exportData">Export</a><!-- <a href="javascript:;" class="import" id="imports">导入数据</a> --></span></div>
		 #foreach($data in $datas)
		<div class="s-mod-block s-mod-block4">
		<div class="s-mod-btit queryBtn"><a href="javascript:void(0);" title="">$!{data.langVer}</a></div>
		<div class="s-mod-bcont">
		<form class="s-form s-form-cont s-form-cont2" action="">
		<ul>
			<li class="s-form-item">
				<div class="s-inline" title="$!{data.langVer}">
				  <label class="s-form-label">Date (LT)：</label>
				  <div class="s-input-inline">
					  <p>$!{data.langVer}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.version}">
				  <label class="s-form-label">Time：</label>
				  <div class="s-input-inline">
					  <p>$!{data.version}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.position}">
				  <label class="s-form-label">Position：</label>
				  <div class="s-input-inline">
					  <p>$!{data.position}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.rpm}">
				  <label class="s-form-label">RPM：</label>
				  <div class="s-input-inline">
					  <p>$!{data.rpm}rad/min</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.speedAll}">
				  <label class="s-form-label">G.AVE SPD:</label>
				  <div class="s-input-inline">
					 <p>$!{data.speedAll}knot</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.speedH}">
				  <label class="s-form-label">AVG SPD (24h):</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.speedH}knot</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.sea}">
				  <label class="s-form-label">Wind/Sea：</label>
				  <div class="s-input-inline">
					  <p>$!{data.sea}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.unloadEta}">
				  <label class="s-form-label">Discharging Port：</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.unloadEta}</p>
				  </div>
				</div>
				
				<div class="s-inline" title="$!{data.ext1}">
				  <label class="s-form-label">ETA：</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.ext1}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.water}">
				  <label class="s-form-label">Free water：</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.water}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.sulfide}">
				  <label class="s-form-label">Gas Sulfuretted Hydrogen：</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.sulfide}</p>
				  </div>
				</div>
				<div class="s-inline" title="$!{data.remark}">
				  <label class="s-form-label">Remarks：</label>
				  <div class="s-input-inline s-input-inline2">
					<p>$!{data.remark}</p>
				  </div>
				</div>
			</li>
		</ul>
		</form>
		<div class="s-but-all clearfix">
			<div class="s-all-jt"><p><i class="s-icon s-all-zk"></i></p>
			<div class="s-but-ship clearfix">
				<a href="javascript:;" class="edit s-btn" data-uuid = "$!{data.uuid}">Revise</a>
				<a href="javascript:;" class="delete s-btn" data-uuid = "$!{data.uuid}">Delete</a>
				#if($!{data.accessoryPath})
				<a href="$!{data.accessoryPath}" class="s-btn" download=""  data-accessoryPath = "$!{data.accessoryPath}">Download Attachment</a>
				#end
			</div>
			</div>
		</div>
		</div>
	</div>
	#end
	</div>
  $contain.get('/contain/tablePageSlider.htm').put('slider_query',$query).put('slider_target',"$shipServer.get('/shipPactNew/shipTransit.htm')")
  </div>
  </div>
</div>
<!--新增弹框-->
<div class="ship-pop transit2" style="display:none;">
	<div class="pop_alpha"></div>
	<div class="ship-pop-box">
		<a class="s-close1 cancel">×</a>
		<div class="s-mod-block">
				<div class="s-mod-btit">In transit</div>
				<div class="s-mod-bcont s-mod-bcont4">
				<form class="s-form s-form-cont s-form-cont2 s-form-contxx form2" action="">
				<ul>
					<li class="s-form-item">
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em> Date (LT)：</label>
						  <div class="s-input-inline">
							  <input type="text" name="dateNow" placeholder="" class="s-input dateNow">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em> Time：</label>
						  <div class="s-input-inline">
							  <input type="text" name="timeNow" placeholder="" class="s-input timeNow" >
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em> Position：</label>
						  <div class="s-input-inline">
							 <input type="text" name="position" placeholder="" class="s-input position" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em>Free water：</label>
						  <div class="s-input-inline">
							 <input type="text" name="water" placeholder="" class="s-input water" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em>AVG SPD (24h)：</label>
						  <div class="s-input-inline">
							  <input type="text" name="speedH" placeholder="" class="s-input speedH" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em>G.AVE SPD：</label>
						  <div class="s-input-inline">
							  <input type="text" name="speedAll" placeholder="" class="s-input speedAll" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em>RPM(rad/min)：</label>
						  <div class="s-input-inline">
							 <input type="text" name="rpm" placeholder="" class="s-input rpm" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label"><em>*</em>Wind/Sea：</label>
						  <div class="s-input-inline">
							 <input type="text" name="sea" placeholder="" class="s-input sea" maxlength="100">
						  </div>
						</div>
					</li>
					<div class="all">
						<li class="s-form-item xiegangList">
							<div class="s-inline">
							  <label class="s-form-label"><em>*</em>Discharging Port：</label>
							  <div class="s-input-inline">
								 <input type="text" name="unloadPort" placeholder="" class="s-input unloadPort" maxlength="100">
							  </div>
							</div>
							<div class="s-inline">
							  <label class="s-form-label"><em>*</em>ETA：</label>
							  <div class="s-input-inline">
								 <input type="text" name="eta" placeholder="" class="s-input eta time">
							  </div>
							</div>
							<div class="s-but-all clearfix">
								<div class="s-all-jt"><p><i class="s-icon btnIcon s-icon-plus"></i></p></div>
							</div>
						</li>
					</div>
					<li class="s-form-item">
						
						<div class="s-inline">
						  <label class="s-form-label"><em></em>Gas Sulfuretted Hydrogen：</label>
						  <div class="s-input-inline">
							 <input type="text" name="sulfide" placeholder="" class="s-input sulfide" maxlength="100">
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label">Remarks：</label>
						  <div class="s-input-inline">
							  <input type="text" name="remark" placeholder="" class="s-input remark" maxlength="100">
						  </div>
						</div>
						<div class="s-inline s-inline100">
						  <label class="s-form-label">Upload Pics or Videos：</label>
						  <div class="s-input-inline">
							  <ul class="clearfix imgsAll">
								<li><a href="javascript:;" id="img1" class="imgClass"><img src="$shipServer.get('transport/mycrudeoil/images/s_zgplus_en.jpg')"></a></li>
							 </ul>
						  </div>
						</div>
						<div class="s-inline">
						  <label class="s-form-label">Attachment：</label>
						  <div class="s-input-inline">
 							<p>
							 	<input type="text" readonly="readonly" class="accessory1 s-input" id="file1" >
								<a href="javascript:;" id="btn1">Upload</a>
								<i class="s-icon fs-close clearFile"></i>
							 </p>	
						 </div>
						</div>	
					</li>
				</ul>
				</form>
				</div>
			</div>
	 <div class="accDivs">
		 <div id="accessory1"  style="display:none;"></div>	
		 <div id="imgDiv1"  style="display:none;"></div>	
	 </div>
			
		<div class="s-btn-box"><button class="s-btn s-btn-blue save">Submit</button><button class="s-btn s-btn-primary cancel">Back</button></div>
	</div>
	
	<script src="../transport/js/shipPactNew/shipTransit.js"></script>
<script>

//两位小数数字正则校验
function clearNoNumTwo(obj)    
{    
    //先把非数字的都替换掉，除了数字和.    
    obj.value = obj.value.replace(/[^\d.]/g,"");    
    //保证只有出现一个.而没有多个.    
    obj.value = obj.value.replace(/\.{2,}/g,".");    
    //必须保证第一个为数字而不是.    
    obj.value = obj.value.replace(/^\./g,"");    
    //保证.只出现一次，而不能出现两次以上    
    obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");    
    //只能输入两个小数  
    obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');   
} 

</script>