<div>
 <div class="s-mod">
		<div class="s-order-box">
			<div class="clearfix s-order-tit"><h1>结算单管理</h1></div>
			<p class="s-order-jbx"></p>
			<div class="s-order-sear">
			<form class="s-form s-form-cont s-form-cont2" action="">
			<ul>
				<li class="s-form-item">
					<div class="s-inline s-inline5">
					  <label class="s-form-label">发票号码</label>
					  <div class="s-input-inline">
						  <input type="text" value="$!query.receiptCode"  name="receiptCode" id="receiptCode" placeholder="" class="s-input">
					  </div>
					</div>
					<div class="s-inline s-inline5">
					  <label class="s-form-label">租船协议编号</label>
					  <div class="s-input-inline">
						  <input type="text" name="agreementCode" value="$!query.agreementCode" id="agreementCode" placeholder="" class="s-input">
					  </div>
					</div>
					<div class="searchBtn"><a><i class="s-icon s-sear-ico"></i></a></div>
				</li>
			</ul>
			</form>
			</div>
		</div>
		#foreach($data in $datas)	
		<div class="s-mod-block">
		 
			<div class="s-mod-btit">发票号码：$!{data.receiptCode}</div>
			<div class="s-mod-bcont">
			<form class="s-form s-form-cont s-form-cont2" action="">
			
			<ul>
				<li class="s-form-item">
					<div class="s-inline" title="$!{data.agreementCode}">
					  <label class="s-form-label">租船协议编号：</label>
					  <div class="s-input-inline">
						  <p>$!{data.agreementCode}</p>
						  <input type="hidden" name="uuid" id="uuid" value="$!{data.uuid}"/>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.payee}">
					  <label class="s-form-label">收款方：</label>
					  <div class="s-input-inline">
					  	  <p>$!{data.payee}</p>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.payer}">
					  <label class="s-form-label">付款方：</label>
					  <div class="s-input-inline">
					  	 <p>$!{data.payer}</p>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.freightOverageFlatrate}">
					  <label class="s-form-label">Flat Rate：</label>
					  <div class="s-input-inline">
						  <p>$!{data.freightOverageFlatrate}</p>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.freightOverageRate}">
					  <label class="s-form-label">Rate(WS)：</label>
					  <div class="s-input-inline">
						  <p>$!{data.freightOverageRate}</p>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.freightQuantily}">
					  <label class="s-form-label">C/P Quantity：</label>
					  <div class="s-input-inline s-input-inline2">
						<p>$!{data.freightQuantily}</p>
					  </div>
					</div>
					<div class="s-inline" title="$!{data.balance}">
					  <label class="s-form-label">Total Amount：</label>
					  <div class="s-input-inline s-input-inline2">
						<p>$!{data.balance}</p>
					  </div>
					</div>
				</li>
			</ul>
			</form>
			<div class="s-but-all clearfix">
				<div class="s-all-jt"><p><i class="s-icon s-all-zk"></i></p>
				<div class="s-but-ship clearfix"><a href="javascript:;" class="s-btn check">查&nbsp;看</a><a href="javascript:;" class="s-btn edit">修&nbsp;改</a><a href="javascript:;" class="s-btn delBtn">删&nbsp;除</a></div>
				</div>
			</div>
			</div>
		</div>
		 #end
				$contain.get('/contain/tablePageSlider.htm').put('slider_query',$query).put('slider_target',"$shipServer.get('/statements/agreementsStatementsList.htm')")
		</div>
		</div>
		</div>
	</div>
<script src="../transport/js/statements/agreementsStatementsList.js"></script>