<script>
layui.use(['layer','upload'], function(){
	var layer = layui.layer;
	var $ = layui.jquery
	,upload = layui.upload;
// 提示信息
$(function () {
	$("td").on("mouseenter",function() {
	    if (this.offsetWidth < this.scrollWidth) {
	        var that = this;
	        var text = $(this).text();
	        
	        if(text.indexOf(";")>-1) {
			　　text = text.split(';')[1];
			}
			
	        layer.tips("<span style='color:black'>"+text+"</span>", that,{
	            tips: [3,"#fff"],
	            time: 2000
	        });
	    }
	});
})
});
</script>

<style>
.contain {
	width:100%;
}

table { 
	width:100%; 
	text-align: left;
	border:1px solid #e3e6e8; 
	border-collapse: collapse; 
	table-layout: fixed; 
	display: table;
}

th,td {
	overflow: hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis; 
}

.layui-layer { 
	word-wrap: break-word; 
	word-break: break-all;
}
</style>

<div class="layui-table" style="padding:15px" id="layerDemo">
	<!--搜索条件-->
	<div class="ry-banner">
		<div class="layui-inline">
			<label class="layui-form-label">Vessel Name</label>
		    <div class="layui-input-inline iw300" >
		      <input id="searchName" type="text" name="searchName" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="$!searchName">   
		    </div>
		    <div class="layui-input-inline iw300" style="width:10px;"></div>
		    <button class="layui-btn layui-btn-normal layui-btn-small searchBtn">Search</button>
		    <button class="layui-btn layui-btn-normal layui-btn-small insertBtn">New</button>
		    <button class="layui-btn layui-btn-normal layui-btn-small exportBtn">Export Template</button>
		    <button class="layui-btn layui-btn-normal layui-btn-small" id="batchImportBtn">Import Vessel</button>
		</div>
	</div>
	<!--列表-->
	<div class="contain">
	<table id="sysShipList" class="layui-table table-style" lay-even lay-size="sm" lay-skin="line">
	  <thead>
	    <tr>
	      <th class="table-style-th" style="width:150px;">Vessel Name</th>
	      <th class="table-style-th">IMO</th>
		  <th class="table-style-th">Built</th>
		  <th class="table-style-th">Vessel Type</th>
		  <th class="table-style-th">Vessel Size</th>
		  <th class="table-style-th">Cubic(m³)</th>
		  <th class="table-style-th">SDWT(mt)</th>
		  <th class="table-style-th">LOA(m)</th>
		  <th class="table-style-th">Beam(m)</th>
		  <th class="table-style-th">Draft(m)</th>
		  <th class="table-style-th">Hull Type</th>
		  <th class="table-style-th">Status</th>
	      <th class="table-style-th" style="width:160px;padding-right:10px">Operate</th>
	    </tr> 
	  </thead>
	  <tbody>
	  #foreach($data in $datas)
	    <tr>
		  <td>$!data.name</td>
		  <td>$!data.imo</td>
		  <td>$!data.completeDate</td>
		  <td>$!data.useType</td>
		  <td>$!data.type</td>
		  <td><script type="text/javascript">document.write(formatNumber($!data.capacity,2,1));</script></td>
		  <td><script type="text/javascript">document.write(formatNumber($!data.loadQuantity,3,1));</script></td>
		  <td><script type="text/javascript">document.write(formatNumber($!data.length,2,1));</script></td>
		  <td><script type="text/javascript">document.write(formatNumber($!data.wide,2,1));</script></td>
		  <td><script type="text/javascript">document.write(formatNumber($!data.draft,2,1));</script></td>
		  <td>$!data.hull</td>
		  <td>	<!-- $!data.statusMsg -->
		  	#if($!data.status=='1')<span >Under Approval</span>#end
		  	#if($!data.status=='2')<span >Approved</span>#end
		  </td>
	      <td>
	      	<i class="layui-icon">&#xe605;</i>
	      	<a href="javascript:;" class="dialog-link btcol lookBtn" attr-data="$data.uuid">More</a>
	      	#if($!{data.status} != '1')
		      	<i class="layui-icon" style="margin-left:5px;">&#xe642;</i>
		      	<a href="javascript:;" class="dialog-link btcol editBtn" attr-data="$data.uuid">Edit</a>
		      	<i class="layui-icon" style="color:red;margin-left:5px;">&#xe640;</i>
		      	<a href="javascript:;" class="dialog-link btcol delBtn" attr-data="$data.uuid">Delete</a>
	      	#end
	      	#if($!{data.status} == '1')
	      		<i class="layui-icon" style="margin-left:5px;">&#xe642;</i>
				<a href="javascript:;" class="dialog-link btcol checkBtn" attr-data="$data.uuid">Approval</a>
			#end
	      </td>
	    </tr>
	  #end
	  </tbody>
	</table>
	</div>
	
    <!--底部分页-->
    <div class="ry-footbar ry-right">
		$contain.get('/contain/formPageSlider.htm').put('slider_query',$query).put('slider_target',"/sysShip/sysShipList.htm").put('slider_path','/contain/formPagingPageSlider')
	</div>
</div>
<script src="../transport/js/sysShip/sysShipList.js"></script>