
.c-ful li.c-fcos2{
    height:25px;
}
.c-fcos2{
    position: relative;
}
.c-fcos2 .my-error{
    position: absolute;
    left:41%;
    top:25px;
    color:red;
}
.c-fcos1 .my-error{
    position: absolute;
    left:21%;
    top:25px;
    color:red;
}

.notice-required {
    color: red;
    line-height: 30px;
}
