    $contain.get("/contain/html_head.htm").put('title',$a).setHost("$memberServer")

    <link rel="stylesheet" href="$imageServer.get('layui/css/layui.css')"  media="all">
    <script src="$imageServer.get('/layui/layui.js')"></script>
    <script src="$imageServer.get('/layui/layui.all.js')"></script>
    <script src="$imageServer.get('/validate/jquery.validate.min.js')"></script>
    <script src="$imageServer.get('/validate/jquery.validate.extends.js')"></script>
    <script src="$imageServer.get('/validate/jquery.validate.message.cn.js')"></script>
    <script src="$imageServer.get('js/layout_common.js')"></script>

	<link rel="stylesheet" href="$imageServer.get('/css/f_crudeoil_layer.css')">
    <script src="$appServer.get('/script/crudeOilLayer.js')"></script>
    <script src="$appServer.get('script/check.js')"></script>
    <script src="$appServer.get('script/lib/effect-productdetail.js')"></script>
    