<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinochem.crude.trade.listed.dao.DemandMapper">
  <resultMap id="BaseResultMap" type="com.sinochem.crude.trade.listed.domain.Demand">

    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="num" jdbcType="BIGINT" property="num" />
    <result column="numFloat" jdbcType="VARCHAR" property="numfloat" />
    <result column="trade_item" jdbcType="INTEGER" property="tradeItem" />
    <result column="agio" jdbcType="BIGINT" property="agio" />
    <result column="valuation_base" jdbcType="VARCHAR" property="valuationBase" />
    <result column="valuation_proid_type" jdbcType="INTEGER" property="valuationProidType" />
    <result column="pay_item" jdbcType="VARCHAR" property="payItem" />
    <result column="pay_item_json" jdbcType="VARCHAR" property="payItemJSON" />
    <result column="pay_time" jdbcType="VARCHAR" property="payTime" />
    <result column="purchase_type" jdbcType="INTEGER" property="purchaseType" />
    <result column="creater" jdbcType="BIGINT" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="updater" jdbcType="BIGINT" property="updater" />
    <result column="updater_time" jdbcType="TIMESTAMP" property="updaterTime" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="valuation_formula" jdbcType="VARCHAR" property="valuationFormula" />
    <result column="valuation_formula_json" jdbcType="VARCHAR" property="valuationFormulaJson" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="deal_type" jdbcType="VARCHAR" property="dealType" />
    <result column="biz_type" jdbcType="VARCHAR" property="bizType" />
    <result column="product_oil_id" jdbcType="VARCHAR" property="productOilId" />
    <result column="other_item" jdbcType="VARCHAR" property="otherItem" />
    <result column="auth_item" jdbcType="INTEGER" property="authItem" />
    <result column="business_check_org" jdbcType="VARCHAR" property="businessCheckOrg" />
    <result column="export_conf_file" jdbcType="VARCHAR" property="exportConfFile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="tender_out_time" jdbcType="TIMESTAMP" property="tenderOutTime" />
    <result column="stop_bid_time" jdbcType="TIMESTAMP" property="stopBidTime" />
    <result column="response_start_time" jdbcType="TIMESTAMP" property="responseStartTime" />
    <result column="response_end_time" jdbcType="TIMESTAMP" property="responseEndTime" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="crude_oil_options" jdbcType="VARCHAR" property="crudeOilOptions" />
    <result column="product_oil_classify" jdbcType="INTEGER" property="productOilClassify" />
    <result column="product_oil_kind" jdbcType="INTEGER" property="productOilKind" />
    <result column="product_oil_specs" jdbcType="INTEGER" property="productOilSpecs" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_agent" jdbcType="INTEGER" property="isAgent" />
    <result column="agenter" jdbcType="BIGINT" property="agenter" />
    <result column="export_type" jdbcType="INTEGER" property="exportType" />
    <result column="qc_report" jdbcType="VARCHAR" property="qcReport" />
    <result column="pricing_mode" jdbcType="INTEGER" property="pricingMode" />
    <result column="pricing_measure_unit" jdbcType="INTEGER" property="pricingMeasureUnit" />
    <result column="measure_mode" jdbcType="INTEGER" property="measureMode" />
    <result column="price_declare" jdbcType="VARCHAR" property="priceDeclare" />
    <result column="is_seal" jdbcType="INTEGER" property="isSeal" />
    <result column="valuation_currency" jdbcType="INTEGER" property="valuationCurrency" />
    <result column="valuation_proid_start" jdbcType="DATE" property="valuationProidStart" />
    <result column="valuation_proid_end" jdbcType="DATE" property="valuationProidEnd" />
    <result column="unit_price" jdbcType="INTEGER" property="unitPrice" />
    <result column="purchase_mode" jdbcType="INTEGER" property="purchaseMode" />
    <result column="region" jdbcType="INTEGER" property="region" />
    <result column="valuation_proid_start" jdbcType="DATE" property="valuationProidStart" />
    <result column="valuation_proid_start" jdbcType="DATE" property="valuationProidStart" />

    <result column="pub_date" jdbcType="TIMESTAMP" property="pubDate" />
    <result column="specified" jdbcType="INTEGER" property="specified" />
    <result column="publish_type" jdbcType="INTEGER" property="publishType" />
    <result column="bidding_type" jdbcType="INTEGER" property="biddingType" />
    <result column="load_and_discharge_permitted_timespan" jdbcType="INTEGER" property="loadAndDischargePermittedTimespan" />
    <result column="contract_kind" jdbcType="VARCHAR" property="contractKind" />
    <result column="inspection_fee_sharing_type" jdbcType="INTEGER" property="inspectionFeeSharingType" />
    <result column="law" jdbcType="VARCHAR" property="law" />
    <result column="gtc" jdbcType="VARCHAR" property="gtc" />
  	<result column="price_type" jdbcType="INTEGER" property="priceType" />
  </resultMap>

  <sql id="Base_Column_List">

    id, num, numFloat, trade_item, agio, valuation_base, valuation_proid_type, pay_item,pay_item_json,valuation_formula,
    pay_time, purchase_type, creater, create_time, updater, updater_time, parent_id, 
    valuation_formula_json,valuation_formula, type, deal_type, biz_type, product_oil_id, other_item, auth_item,
    business_check_org, export_conf_file, remark, tender_out_time, stop_bid_time, response_start_time,
    response_end_time, uuid, crude_oil_options, product_oil_classify, product_oil_kind, 
    product_oil_specs, status, is_agent, agenter, export_type, qc_report, pricing_mode, 
    pricing_measure_unit, measure_mode, price_declare, is_seal, valuation_currency, valuation_proid_start, 
    valuation_proid_end,unit_price,purchase_mode,pub_date, region, specified,load_and_discharge_permitted_timespan,
    publish_type, bidding_type, contract_kind, inspection_fee_sharing_type, price_type,law,gtc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from demand
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryKeyLock" parameterType="java.lang.Long" resultMap="BaseResultMap">

    select
    <include refid="Base_Column_List" />
    from demand
    where id = #{id,jdbcType=BIGINT}
    for update
  </select>
  
  <select id="getDemandsByIds" parameterType="java.util.List" resultMap="BaseResultMap">

    select 
    <include refid="Base_Column_List" />
    from demand
    where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
        #{item,jdbcType=BIGINT}  
    </foreach>
  </select>

  <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.lang.String" >

    select
    <include refid="Base_Column_List" />
    from demand
    where uuid = #{uuid,jdbcType=BIGINT}
  </select>

  <!-- 根据parent_id查询需求的报价列表 -->
  <select id="selectDemandsByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long" >

    select
    <include refid="Base_Column_List" />
    from demand
    where parent_id = #{parentId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">

    delete from demand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sinochem.crude.trade.listed.domain.Demand">

    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demand ( num, numFloat,
      trade_item, agio, valuation_base,
      valuation_proid_type, pay_item,pay_item_json, pay_time,
      purchase_type, creater,
      updater,  parent_id,
      valuation_formula_json, valuation_formula, type, deal_type,
      biz_type, product_oil_id, other_item, 
      auth_item, business_check_org, export_conf_file,
      remark, tender_out_time, stop_bid_time, 
      response_start_time, response_end_time, 
      uuid, crude_oil_options, product_oil_classify, 
      product_oil_kind, product_oil_specs, status, 
      is_agent, agenter, export_type, 
      qc_report, pricing_mode, pricing_measure_unit, 
      measure_mode, price_declare, is_seal, 
      valuation_currency, valuation_proid_start, valuation_proid_end,unit_price,purchase_mode,pub_date
      ,region, specified,load_and_discharge_permitted_timespan,bidding_type,contract_kind,
      inspection_fee_sharing_type, price_type)
    values (#{num,jdbcType=BIGINT}, #{numfloat,jdbcType=VARCHAR},
      #{tradeItem,jdbcType=INTEGER}, #{agio,jdbcType=BIGINT}, #{valuationBase,jdbcType=VARCHAR},
      #{valuationProidType,jdbcType=INTEGER}, #{payItem,jdbcType=VARCHAR}, #{payItemJSON,jdbcType=VARCHAR},#{payTime,jdbcType=VARCHAR},
      #{purchaseType,jdbcType=INTEGER}, #{creater,jdbcType=BIGINT},
      #{updater,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
      #{valuationFormulaJson,jdbcType=VARCHAR},#{valuationFormula,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{dealType,jdbcType=VARCHAR},
      #{bizType,jdbcType=VARCHAR}, #{productOilId,jdbcType=VARCHAR}, #{otherItem,jdbcType=VARCHAR}, 
      #{authItem,jdbcType=INTEGER}, #{businessCheckOrg,jdbcType=VARCHAR}, #{exportConfFile,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{tenderOutTime,jdbcType=TIMESTAMP}, #{stopBidTime,jdbcType=TIMESTAMP}, 
      #{responseStartTime,jdbcType=TIMESTAMP}, #{responseEndTime,jdbcType=TIMESTAMP}, 
      #{uuid,jdbcType=VARCHAR}, #{crudeOilOptions,jdbcType=VARCHAR}, #{productOilClassify,jdbcType=INTEGER}, 
      #{productOilKind,jdbcType=INTEGER}, #{productOilSpecs,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{isAgent,jdbcType=INTEGER}, #{agenter,jdbcType=BIGINT}, #{exportType,jdbcType=INTEGER}, 
      #{qcReport,jdbcType=VARCHAR}, #{pricingMode,jdbcType=INTEGER}, #{pricingMeasureUnit,jdbcType=INTEGER}, 
      #{measureMode,jdbcType=INTEGER}, #{priceDeclare,jdbcType=VARCHAR}, #{isSeal,jdbcType=INTEGER}, 
      #{valuationCurrency,jdbcType=INTEGER}, #{valuationProidStart,jdbcType=DATE}, #{valuationProidEnd,jdbcType=DATE},
      #{unitPrice, jdbcType=INTEGER},#{purchaseMode, jdbcType=INTEGER},#{pubDate, jdbcType=TIMESTAMP}
      ,#{region, jdbcType=INTEGER}, #{specified, jdbcType=INTEGER},#{loadAndDischargePermittedTimespan,jdbcType=VARCHAR},
      #{biddingType, jdbcType=INTEGER},#{contractKind, jdbcType=INTEGER},#{inspectionFeeSharingType, jdbcType=INTEGER},
      #{priceType, jdbcType=INTEGER},#{law, jdbcType=VARCHAR},#{gtc, jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.crude.trade.listed.domain.Demand">
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into demand
    <trim prefix="(" suffix=")" suffixOverrides=",">

      <if test="num != null">
        num,
      </if>
      <if test="numfloat != null">
        numFloat,
      </if>
      <if test="tradeItem != null">
        trade_item,
      </if>
      <if test="agio != null">
        agio,
      </if>
      <if test="valuationBase != null">
        valuation_base,
      </if>
      <if test="valuationProidType != null">
        valuation_proid_type,
      </if>
      <if test="payItem != null">
        pay_item,
      </if>
      <if test="payItemJSON != null">
        pay_item_json,
      </if>
      <if test="payTime != null">
        pay_time,
      </if>
      <if test="purchaseType != null">
        purchase_type,
      </if>
      <if test="creater != null">
        creater,
      </if>

      <if test="updater != null">
        updater,
      </if>

      <if test="parentId != null">
        parent_id,
      </if>
      <if test="valuationFormulaJson != null and valuationFormulaJson != ''">
        valuation_formula_json,
      </if>
      <if test="valuationFormula != null">
        valuation_formula,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="dealType != null">
        deal_type,
      </if>
      <if test="bizType != null">
        biz_type,
      </if>
      <if test="productOilId != null">
        product_oil_id,
      </if>
      <if test="otherItem != null">
        other_item,
      </if>
      <if test="authItem != null">
        auth_item,
      </if>
      <if test="businessCheckOrg != null">
        business_check_org,
      </if>
      <if test="exportConfFile != null">
        export_conf_file,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="tenderOutTime != null">
        tender_out_time,
      </if>
      <if test="stopBidTime != null">
        stop_bid_time,
      </if>
      <if test="responseStartTime != null">
        response_start_time,
      </if>
      <if test="responseEndTime != null">
        response_end_time,
      </if>
      <if test="uuid != null">
        uuid,
      </if>
      <if test="crudeOilOptions != null">
        crude_oil_options,
      </if>
      <if test="productOilClassify != null">
        product_oil_classify,
      </if>
      <if test="productOilKind != null">
        product_oil_kind,
      </if>
      <if test="productOilSpecs != null">
        product_oil_specs,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isAgent != null">
        is_agent,
      </if>
      <if test="agenter != null">
        agenter,
      </if>
      <if test="exportType != null">
        export_type,
      </if>
      <if test="qcReport != null">
        qc_report,
      </if>
      <if test="pricingMode != null">
        pricing_mode,
      </if>
      <if test="pricingMeasureUnit != null">
        pricing_measure_unit,
      </if>
      <if test="measureMode != null">
        measure_mode,
      </if>
      <if test="priceDeclare != null">
        price_declare,
      </if>
      <if test="isSeal != null">
        is_seal,
      </if>
      <if test="valuationCurrency != null">
        valuation_currency,
      </if>
      <if test="valuationProidStart != null">
        valuation_proid_start,
      </if>
      <if test="valuationProidEnd != null">
        valuation_proid_end,
      </if>
      <if test="unitPrice != null">
        unit_price,
      </if>
      <if test="purchaseMode != null">
        purchase_mode,
      </if>
      <if test="pubDate != null">
        pub_date,
      </if>
      <if test="region != null">
        region,
      </if>
      <if test="specified != null">
        specified,
      </if>
      <if test="publishType != null">
        publish_type,
      </if>
      <if test="loadAndDischargePermittedTimespan != null">
        load_and_discharge_permitted_timespan,
      </if>
      <if test="biddingType != null">
        bidding_type,
      </if>
      <if test="contractKind != null">
        contract_kind,
      </if>
      <if test="inspectionFeeSharingType != null">
        inspection_fee_sharing_type,
      </if>
      <if test="law != null">
        law,
      </if>
      <if test="gtc != null">
        gtc,
      </if>
      <if test="priceType != null">
        price_type,
      </if>      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="num != null">
        #{num,jdbcType=BIGINT},
      </if>
      <if test="numfloat != null">
        #{numfloat,jdbcType=VARCHAR},
      </if>
      <if test="tradeItem != null">
        #{tradeItem,jdbcType=INTEGER},
      </if>
      <if test="agio != null">
        #{agio,jdbcType=BIGINT},
      </if>
      <if test="valuationBase != null">
        #{valuationBase,jdbcType=VARCHAR},
      </if>
      <if test="valuationProidType != null">
        #{valuationProidType,jdbcType=INTEGER},
      </if>
      <if test="payItem != null">
        #{payItem,jdbcType=VARCHAR},
      </if>
      <if test="payItemJSON != null">
        #{payItemJSON,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="purchaseType != null">
        #{purchaseType,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=BIGINT},
      </if>

      <if test="updater != null">
        #{updater,jdbcType=BIGINT},
      </if>

      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="valuationFormulaJson != null and valuationFormulaJson != ''">
        #{valuationFormulaJson,jdbcType=VARCHAR},
      </if>
      <if test="valuationFormula != null">
        #{valuationFormula,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="productOilId != null">
        #{productOilId,jdbcType=VARCHAR},
      </if>
      <if test="otherItem != null">
        #{otherItem,jdbcType=VARCHAR},
      </if>
      <if test="authItem != null">
        #{authItem,jdbcType=INTEGER},
      </if>
      <if test="businessCheckOrg != null">
        #{businessCheckOrg,jdbcType=VARCHAR},
      </if>
      <if test="exportConfFile != null">
        #{exportConfFile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenderOutTime != null">
        #{tenderOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopBidTime != null">
        #{stopBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseStartTime != null">
        #{responseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseEndTime != null">
        #{responseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="crudeOilOptions != null">
        #{crudeOilOptions,jdbcType=VARCHAR},
      </if>
      <if test="productOilClassify != null">
        #{productOilClassify,jdbcType=INTEGER},
      </if>
      <if test="productOilKind != null">
        #{productOilKind,jdbcType=INTEGER},
      </if>
      <if test="productOilSpecs != null">
        #{productOilSpecs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isAgent != null">
        #{isAgent,jdbcType=INTEGER},
      </if>
      <if test="agenter != null">
        #{agenter,jdbcType=BIGINT},
      </if>
      <if test="exportType != null">
        #{exportType,jdbcType=INTEGER},
      </if>
      <if test="qcReport != null">
        #{qcReport,jdbcType=VARCHAR},
      </if>
      <if test="pricingMode != null">
        #{pricingMode,jdbcType=INTEGER},
      </if>
      <if test="pricingMeasureUnit != null">
        #{pricingMeasureUnit,jdbcType=INTEGER},
      </if>
      <if test="measureMode != null">
        #{measureMode,jdbcType=INTEGER},
      </if>
      <if test="priceDeclare != null">
        #{priceDeclare,jdbcType=VARCHAR},
      </if>
      <if test="isSeal != null">
        #{isSeal,jdbcType=INTEGER},
      </if>
      <if test="valuationCurrency != null">
        #{valuationCurrency,jdbcType=INTEGER},
      </if>
      <if test="valuationProidStart != null">
        #{valuationProidStart,jdbcType=DATE},
      </if>
      <if test="valuationProidEnd != null">
        #{valuationProidEnd,jdbcType=DATE},
      </if>
      <if test="unitPrice != null">
        #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="purchaseMode != null">
        #{purchaseMode,jdbcType=INTEGER},
      </if>
      <if test="pubDate != null">
        #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="region != null">
        #{region,jdbcType=INTEGER},
      </if>
      <if test="specified != null">
        #{specified,jdbcType=INTEGER},
      </if>
      <if test="publishType != null">
        #{publishType,jdbcType=INTEGER},
      </if>
      <if test="loadAndDischargePermittedTimespan != null">
        #{loadAndDischargePermittedTimespan,jdbcType=VARCHAR},
      </if>
      <if test="biddingType != null">
        #{biddingType, jdbcType=INTEGER},
      </if>
      <if test="contractKind != null">
        #{contractKind, jdbcType=INTEGER},
      </if>
      <if test="inspectionFeeSharingType != null">
        #{inspectionFeeSharingType, jdbcType=INTEGER},
      </if>
      <if test="law != null">
        #{law, jdbcType=VARCHAR},
      </if>
      <if test="gtc != null">
        #{gtc, jdbcType=VARCHAR},
      </if>
      <if test="priceType != null">
        #{priceType, jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.listed.domain.Demand">

    update demand
    <set>
      <if test="num != null">
        num = #{num,jdbcType=BIGINT},
      </if>
      <if test="numfloat != null">
        numFloat = #{numfloat,jdbcType=VARCHAR},
      </if>
      <if test="tradeItem != null">
        trade_item = #{tradeItem,jdbcType=INTEGER},
      </if>
      <if test="agio != null">
        agio = #{agio,jdbcType=BIGINT},
      </if>
      <if test="valuationBase != null">
        valuation_base = #{valuationBase,jdbcType=VARCHAR},
      </if>
      <if test="valuationProidType != null">
        valuation_proid_type = #{valuationProidType,jdbcType=INTEGER},
      </if>
      <if test="payItem != null">
        pay_item = #{payItem,jdbcType=VARCHAR},
      </if>
      <if test="payItemJSON != null">
        pay_item_json = #{payItemJSON,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null">
        pay_time = #{payTime,jdbcType=VARCHAR},
      </if>
      <if test="purchaseType != null">
        purchase_type = #{purchaseType,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=BIGINT},
      </if>

      <if test="updater != null">
        updater = #{updater,jdbcType=BIGINT},
      </if>

      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="valuationFormulaJson != null and valuationFormulaJson != ''">
        valuation_formula_json = #{valuationFormulaJson,jdbcType=VARCHAR},
      </if>
      <if test="valuationFormula != null">
        valuation_formula = #{valuationFormula,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="dealType != null">
        deal_type = #{dealType,jdbcType=VARCHAR},
      </if>
      <if test="bizType != null">
        biz_type = #{bizType,jdbcType=VARCHAR},
      </if>
      <if test="productOilId != null">
        product_oil_id = #{productOilId,jdbcType=VARCHAR},
      </if>
      <if test="otherItem != null">
        other_item = #{otherItem,jdbcType=VARCHAR},
      </if>
      <if test="authItem != null">
        auth_item = #{authItem,jdbcType=INTEGER},
      </if>
      <if test="businessCheckOrg != null">
        business_check_org = #{businessCheckOrg,jdbcType=VARCHAR},
      </if>
      <if test="exportConfFile != null">
        export_conf_file = #{exportConfFile,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tenderOutTime != null">
        tender_out_time = #{tenderOutTime,jdbcType=TIMESTAMP},
      </if>
      <if test="stopBidTime != null">
        stop_bid_time = #{stopBidTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseStartTime != null">
        response_start_time = #{responseStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="responseEndTime != null">
        response_end_time = #{responseEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uuid != null">
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="crudeOilOptions != null">
        crude_oil_options = #{crudeOilOptions,jdbcType=VARCHAR},
      </if>
      <if test="productOilClassify != null">
        product_oil_classify = #{productOilClassify,jdbcType=INTEGER},
      </if>
      <if test="productOilKind != null">
        product_oil_kind = #{productOilKind,jdbcType=INTEGER},
      </if>
      <if test="productOilSpecs != null">
        product_oil_specs = #{productOilSpecs,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isAgent != null">
        is_agent = #{isAgent,jdbcType=INTEGER},
      </if>
      <if test="agenter != null">
        agenter = #{agenter,jdbcType=BIGINT},
      </if>
      <if test="exportType != null">
        export_type = #{exportType,jdbcType=INTEGER},
      </if>
      <if test="qcReport != null">
        qc_report = #{qcReport,jdbcType=VARCHAR},
      </if>
      <if test="pricingMode != null">
        pricing_mode = #{pricingMode,jdbcType=INTEGER},
      </if>
      <if test="pricingMeasureUnit != null">
        pricing_measure_unit = #{pricingMeasureUnit,jdbcType=INTEGER},
      </if>
      <if test="measureMode != null">
        measure_mode = #{measureMode,jdbcType=INTEGER},
      </if>
      <if test="priceDeclare != null">
        price_declare = #{priceDeclare,jdbcType=VARCHAR},
      </if>
      <if test="isSeal != null">
        is_seal = #{isSeal,jdbcType=INTEGER},
      </if>
      <if test="valuationCurrency != null">
        valuation_currency = #{valuationCurrency,jdbcType=INTEGER},
      </if>
      <if test="valuationProidStart != null">
        valuation_proid_start = #{valuationProidStart,jdbcType=DATE},
      </if>
      <if test="valuationProidEnd != null">
        valuation_proid_end = #{valuationProidEnd,jdbcType=DATE},
      </if>
      <if test="unitPrice != null">
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="purchaseMode != null and purchaseMode != ''">
        purchase_mode = #{purchaseMode,jdbcType=INTEGER},
      </if>
      <if test="pubDate != null">
        pub_date = #{pubDate,jdbcType=TIMESTAMP},
      </if>
      <if test="region != null">
        region = #{region,jdbcType=INTEGER},
      </if>
      <if test="specified != null">
        specified = #{specified,jdbcType=INTEGER},
      </if>
      <if test="publishType != null">
        publish_type = #{publishType,jdbcType=INTEGER},
      </if>
      <if test="loadAndDischargePermittedTimespan != null">
        load_and_discharge_permitted_timespan = #{loadAndDischargePermittedTimespan,jdbcType=VARCHAR},
      </if>
      <if test="biddingType != null">
        bidding_type = #{biddingType, jdbcType=INTEGER},
      </if>
      <if test="contractKind != null">
        contract_kind = #{contractKind, jdbcType=VARCHAR},
      </if>
      <if test="inspectionFeeSharingType != null">
        inspection_fee_sharing_type = #{inspectionFeeSharingType, jdbcType=INTEGER},
      </if>
      <if test="law != null">
        law = #{law, jdbcType=VARCHAR},
      </if>
      <if test="gtc != null">
        gtc = #{gtc, jdbcType=VARCHAR},
      </if>
      <if test="priceType != null">
        price_type = #{priceType, jdbcType=INTEGER},
      </if>      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.listed.domain.Demand">

    update demand
    set num = #{num,jdbcType=BIGINT},
      numFloat = #{numfloat,jdbcType=VARCHAR},
      trade_item = #{tradeItem,jdbcType=INTEGER},
      agio = #{agio,jdbcType=BIGINT},
      valuation_base = #{valuationBase,jdbcType=VARCHAR},
      valuation_proid_type = #{valuationProidType,jdbcType=INTEGER},
      pay_item = #{payItem,jdbcType=VARCHAR},
      pay_item_json = #{payItemJSON,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=VARCHAR},
      purchase_type = #{purchaseType,jdbcType=INTEGER},
      creater = #{creater,jdbcType=BIGINT},
      updater = #{updater,jdbcType=BIGINT},
      parent_id = #{parentId,jdbcType=BIGINT},
      valuation_formula_json = #{valuationFormulaJson,jdbcType=VARCHAR},
      valuation_formula = #{valuationFormula,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      deal_type = #{dealType,jdbcType=VARCHAR},
      biz_type = #{bizType,jdbcType=VARCHAR},
      product_oil_id = #{productOilId,jdbcType=VARCHAR},
      other_item = #{otherItem,jdbcType=VARCHAR},
      auth_item = #{authItem,jdbcType=INTEGER},
      business_check_org = #{businessCheckOrg,jdbcType=VARCHAR},
      export_conf_file = #{exportConfFile,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      tender_out_time = #{tenderOutTime,jdbcType=TIMESTAMP},
      stop_bid_time = #{stopBidTime,jdbcType=TIMESTAMP},
      response_start_time = #{responseStartTime,jdbcType=TIMESTAMP},
      response_end_time = #{responseEndTime,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=VARCHAR},
      crude_oil_options = #{crudeOilOptions,jdbcType=VARCHAR},
      product_oil_classify = #{productOilClassify,jdbcType=INTEGER},
      product_oil_kind = #{productOilKind,jdbcType=INTEGER},
      product_oil_specs = #{productOilSpecs,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_agent = #{isAgent,jdbcType=INTEGER},
      agenter = #{agenter,jdbcType=BIGINT},
      export_type = #{exportType,jdbcType=INTEGER},
      qc_report = #{qcReport,jdbcType=VARCHAR},
      pricing_mode = #{pricingMode,jdbcType=INTEGER},
      pricing_measure_unit = #{pricingMeasureUnit,jdbcType=INTEGER},
      measure_mode = #{measureMode,jdbcType=INTEGER},
      price_declare = #{priceDeclare,jdbcType=VARCHAR},
      is_seal = #{isSeal,jdbcType=INTEGER},
      valuation_currency = #{valuationCurrency,jdbcType=INTEGER},
      valuation_proid_start = #{valuationProidStart,jdbcType=DATE},
      valuation_proid_end = #{valuationProidEnd,jdbcType=DATE},
      unit_price = #{unitPrice, jdbcType=INTEGER},
      purchase_mode = #{purchaseMode, jdbcType=INTEGER},
      pub_date = #{pubDate, jdbcType=TIMESTAMP},
      region = #{region, jdbcType=INTEGER},
      specified = #{specified, jdbcType=INTEGER},
      load_and_discharge_permitted_timespan = #{loadAndDischargePermittedTimespan,jdbcType=VARCHAR},
      bidding_type = #{biddingType, jdbcType=INTEGER},
      contract_kind = #{contractKind, jdbcType=VARCHAR},
      inspection_fee_sharing_type=#{inspectionFeeSharingType, jdbcType=VARCHAR},
      law=#{law, jdbcType=VARCHAR},
      gtc=#{gtc, jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>



  <!--原油大厅查询已发布全部-->
  <select id="getDemand" resultMap="BaseResultMap">
    SELECT
      d.num,
      d.id,
      d.trade_item,
      d.agio,
      d.valuation_base,
      d.valuation_proid_type,
      d.pay_item
      FROM
    demand AS d
    WHERE status = 2
    AND biz_type='CrudeOil'

  </select>

  <!--查询全部招标单-->
  <select id="getDemandByDealType" resultMap="BaseResultMap" parameterType="com.sinochem.crude.trade.listed.domain.Demand">
      SELECT
    demand.id,
    demand.num,
    demand.trade_item,
    demand.agio,
    demand.crude_oil_options,
    demand.pay_item,
    demand.valuation_proid_start,
    demand.valuation_proid_end
FROM
    demand
WHERE
demand.purchase_type = 1
AND status= 2
AND biz_type='CrudeOil'
ORDER BY
demand.updater_time DESC
limit 0, 4

  </select>
<!--查询所有询价单-->
  <select id="getDemandByDealTypeOne" resultMap="BaseResultMap" parameterType="com.sinochem.crude.trade.listed.domain.Demand">
    SELECT
    demand.id,
    demand.num,
    demand.trade_item,
    demand.agio,
    demand.crude_oil_options,
    demand.pay_item,
    demand.valuation_proid_start,
    demand.valuation_proid_end,
    demand.pub_date
    FROM
        demand
    WHERE
    demand.purchase_type = 2
    AND status= 2
    AND biz_type='CrudeOil'
    ORDER BY
    demand.updater_time DESC
    limit 0, 4

  </select>
<!--原油大厅发布总条数查询-->
  <select id="getDemandCount" resultType="Long">
     SELECT
     COUNT(id)
      FROM
    demand
    WHERE status = 2

  </select>

  <!--原油大厅根据发布日期排序查询-->
  <select id="getDemandsByPubDate" resultMap="BaseResultMap" parameterType="com.sinochem.crude.trade.listed.domain.Demand">

  </select>
  
  <select id="checkStopBid" resultType="int">
	SELECT
		(CASE WHEN d2.stop_bid_time &lt; date_sub(NOW(), interval 1 day) THEN 1 ELSE 0 END) AS stop_bid
	FROM
		demand d
	LEFT JOIN
		demand d2 ON d2.id = d.parent_id
	WHERE
		d.id = #{demandId}
  </select>
  
</mapper>
