<style>
.product-info-a {
    float: left;
    display: block;
    width: 129px;
}

.product-info-dl {
    float: left;
    width: calc(98% - 147px);
    padding-left: 3px;
    position: relative;
    margin-left: 15px;
}

.product-info-dt {
	width: 100%;
	font-size: 18px;
}

.product-info-dd {
	width: 50%; 
	float: left; 
	line-height: 26px; 
	color: #666; 
	font-size: 12px;
}

.product-info-dd span {
	font-weight: bold;
}
</style>

<div class="c-mod">
<h3><em class="cw-ico ico-h3"></em>投标信息</h3>
	<div class="c-form">
        <ul class="c-ful">
			<li class="left-cont clearfix line-none">
				<a href="cg_cgxqxq.html" class="product-info-a"><img src="$imageServer.get('/images/cg_pic1.jpg')"></a>
				<dl class="product-info-dl">
					<dt class="product-info-dt"><a href="$appServer.get('trademall/productOilDetail.htm')?demand=$!demand.id">$!{demand.productOilKindContent}</a><span>（$!{demand.productOilSpecsContent}）</span></dt>
			        <dd class="product-info-dd"><span>装船港：</span>$!ship.shipmentPort</dd>
			        <dd class="product-info-dd"><span>贸易条款：</span>$!{demand.tradeItemContent}</dd>
			        <dd class="product-info-dd"><span>数量（桶）：</span>$!{demand.numStr}</dd>
			        <dd class="product-info-dd"><span>付款日期：</span>$!{demand.payItemContent}</dd>
			        <dd class="product-info-dd"><span>装期：</span>
			        	$!dateUtil.convertDateToString('yyyy-MM-dd',$!ship.shipmentStartTime)至
			            $!dateUtil.convertDateToString('yyyy-MM-dd',$!ship.shipmentEndTime)
					</dd>
				    #if("$!demand.purchaseType" != "2")
				        <dd class="product-info-dd"><span>投标截止日期：</span>$!dateUtil.convertDateToString('yyyy-MM-dd',$!demand.stopBidTime) </dd>
				        <dd class="product-info-dd"><span>公布中标日期：</span>$!dateUtil.convertDateToString('yyyy-MM-dd',$!demand.tenderOutTime)</dd>
				    #end
				</dl>
			</li>
        </ul>
	</div>
</div>
