.con_one_4 .m-t-tab ul li .cpy-select .s-b:before {
    right: -205px;
    top: 13px;
}
.con_one_4 .m-t-tab ul li .cpy-select .s-r:before {
    right: -205px;
}
.con_one_4 .m-t-tab ul li .my-select .select {
    width: 316px;
}
.con_one_4 .m-t-tab ul li .cpy-select .select-options.open {
    width: 317px;
    margin-left: -3px;
    margin-top: 2px;
}
.w2{width: 50%!important}
.wspan{width: 154px}
.Transit-inp>li>input {
    display: inline-block;
    width: 316px;
    height: 34px;
    border: 1px solid #C1C1C1;
}
.Transit-inp>li>label {
    display: inline-block;
    width: 163px;
    height: 36px;
    text-align: right;
    margin-right: 12px;
}
.con_one_4 .m-t-tab ul li label {
    display: inline-block;
    width: 270px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    text-align: right;
    margin-right: 12px;
}
.con_one_4 .m-t-tab ul li input {
    width: 316px;
}
.mar-left-5{margin-left:5px;}
.mar-left-10{margin-left:10px;}
.mar-right-10{margin-right:10px;}
.l-34{line-height:34px;}