<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#date1' //指定元素
  });
});
</script>
<form class="layui-form layui-form-pane" style="margin-top:20px; margin-left:100px" action="ruleSave">

    <div class="layui-form-item">
    	<div class="layui-inline">
		    <label class="layui-form-label" style="width:125px">申请单编号</label>
		    <div class="layui-input-inline iw300">
		        <input class="layui-input" id="palletCode" type="text" name="palletCode" >
		    </div>
	    </div>
    </div>
    
    <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">卸港/卸港区域</label>
	    <div class="layui-input-inline iw300">
	        <input class="layui-input" id="loadPort" type="text" name="loadPort"  >
	    </div>
    </div>
    <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">装港/装港区域</label>
	    <div class="layui-input-inline iw300">
	        <input class="layui-input" id="unloadPort" type="text" name="unloadPort"  >
	        
	    </div>
    </div>
    <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">数量</label>
	    <div class="layui-input-inline iw300">
	        <input class="layui-input" id="quantity" type="text" name="quantity"  >
	    </div>
    </div>
    
   <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">装期LAYCAN</label>
	    <div class="layui-input-inline " style="width: 100px;">
	        <input class="layui-input" id="laycanBeg" type="text" name="laycanBeg" autocomplete="off">
	    </div>
	     <div class="layui-form-mid">-</div>
	     <div class="layui-input-inline" style="width: 100px;">
	          <input class="layui-input" id="laycanEnd" type="text" name="laycanEnd" autocomplete="off">
	    </div>
	 
    </div>
    
   <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">船型</label>
	    <div class="layui-input-inline iw300">
	        <input class="layui-input" id="shipType" type="text" name="shipType"  >
	    </div>
    </div>
    <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">船龄</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="shipAge" name="shipAge" >
	    </div>
    </div>
    
    <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">其他要求</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="remark" name="remark"  >
	    </div>
    </div>
    
     <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">公司</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="companyName" name="companyName"  >
	    </div>
    </div>
   <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">电话</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="tel" name="tel"  >
	    </div>
    </div>
    
     <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">邮箱</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="email" name="email" >
	    </div>
    </div>
    
     <div class="layui-form-item">
	    <label class="layui-form-label iw300" style="width:125px">联系人</label>
	    <div class="layui-input-inline iw300">
	        <input type="text" class="layui-input" id="contacts" name="contacts" >
	    </div>
    </div>
</form>