<div class="c-mr">
    <div class="c-mod">
        $contain.get('tabs.htm')
        $contain.get("center/member/enterpriseInfo.htm").setHost("$systemServer.get('')").put("layout","")
        <form action="$appServer.get('center/enterpriseCrude.htm')" method="post">
            #if($!{enterpriseCrude.id} && "" != "$!{enterpriseCrude.id}")
                <input type="hidden" name="id" value="$!{enterpriseCrude.id}"/>
                <input type="hidden" name="enterpriseId" value="$!{enterpriseCrude.enterpriseId}"/>
            #end
            <ul class="c-bczl">
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.nature")
                    <span class="c-b-txt"> The nature of the company：</span>
                    <select name="$!{status.expression}" class="form-inp sel">
                        <option>please choose from list</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>limited company</option>
                        <option value="2" #if("2" == "$!{status.value}") selected #end>public listed company</option>
                        <option value="3" #if("3" == "$!{status.value}") selected #end>state owned company</option>
                        <option value="4" #if("4" == "$!{status.value}") selected #end>private owned company</option>
                        <option value="5" #if("5" == "$!{status.value}") selected #end>Joint venture company</option>
                        <option value="6" #if("6" == "$!{status.value}") selected #end>privately or individually-owned business</option>
                        <option value="7" #if("7" == "$!{status.value}") selected #end>wholly foreign-owned company</option>
                        <option value="8" #if("8" == "$!{status.value}") selected #end>private company</option>
                    </select>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.provinceCode")
                    <span class="c-b-txt"> district or area：</span>
                    <select class="form-inp sel selwh" name="$!{status.expression}">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>Beijing</option>
                    </select>
                    #springBind("enterpriseCrude.cityCode")
                    <select class="form-inp sel selwh" name="$!{status.expression}">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>Beijing</option>
                    </select>
                    #springBind("enterpriseCrude.areaCode")
                    <select class="form-inp sel selwh1" name="$!{status.expression}">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>Xicheng District</option>
                    </select>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.addressDetail")
                    <span class="c-b-txt"> registered address：</span>
                    <input type="text" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-b-ts"></li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.legalName")
                    <span class="c-b-txt"> legal representative：</span>
                    <input type="text" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-b-ts"></li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.legalCertificateType")
                    <span class="c-b-txt"> Document type：</span>
                    <select class="form-inp sel" name="$!{status.expression}">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>ID</option>
                        <option value="2" #if("2" == "$!{status.value}") selected #end>passport</option>
                        <option value="3" #if("3" == "$!{status.value}") selected #end>military officer certificate</option>
                    </select>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.legalCertificateCode")
                    <span class="c-b-txt"> ID  Number：</span>
                    <input type="text" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.registerFund")
                    <span class="c-b-txt"> Registered capital (10,000 RMB)：</span>
                    <input type="number" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.registerFundCurrency")
                    <span class="c-b-txt"> The currency of the registered capital：</span>
                    <select name="$!{status.expression}" class="form-inp sel">
                        <option>please choose</option>
                        <option value="RMB" #if("RMB" == "$!{status.value}") selected #end>RMB</option>
                    </select>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.registerTime")
                    <span class="c-b-txt"> date of registration：</span>
                    <input type="text" class="form-inp qj-text" date="true" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.tradeType")
                    <span class="c-b-txt"> Industry：</span>
                    <select class="form-inp sel selw">
                        <option>please choose</option>
                        <option value="1">Internet</option>
                    </select>
                    <select name="$!{status.expression}" class="form-inp sel selh">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>Internet</option>
                    </select>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.mainProducts")
                    <span class="c-b-txt"> business scope：</span>
                    <textarea class="form-textarea" name="$!{status.expression}">$!{status.value}</textarea>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.description")
                    <span class="c-b-txt"> company introduction ：</span>
                    <textarea class="form-textarea" name="$!{status.expression}">$!{status.value}</textarea>
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.creditLevel")
                    <span class="c-b-txt"> credit rating：</span>
                    <select class="form-inp sel">
                        <option>please choose</option>
                        <option value="1" #if("1" == "$!{status.value}") selected #end>level 1</option>
                        <option value="2" #if("2" == "$!{status.value}") selected #end>level 2</option>
                        <option value="3" #if("3" == "$!{status.value}") selected #end>level 3</option>
                    </select>
                </li>
##                <li class="c-bcz clearfix">
##                    <span class="c-b-txt"> administrator name：</span>
##                    <input type="text" class="form-inp form-inpw" name="">
##                    <div class="c-bcz-fj c-bcz-fjw">
##                        <a href=" " class="file">Upload administrator  valid ID </a>
##                        <a href=" " class="file fi-yl">preview</a>
##                        <a href=" " class="file fi-bg">download administrator information confirmation </a>
##                    </div>
##                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.billingBankName")
                    <span class="c-b-txt"> company bank account   ：</span>
                    <input type="text" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
                <li class="c-bcz clearfix">
                    #springBind("enterpriseCrude.billingBankAccount")
                    <span class="c-b-txt"> bank account ：</span>
                    <input type="text" class="form-inp" name="$!{status.expression}" value="$!{status.value}">
                </li>
            </ul>
            <div class="c-subdiv c-mod-bc c-mod-bc2">
                <button class="c-btnsub" type="submit">Save</button>
                <button class="c-btnrel" type="reset">Reset</button>
                <button class="c-btncas" type="button" onclick="javascript:history.back();">Back</button>
            </div>
        </form>
    </div>
</div>
#set($ljs = $imageServer.get('layui/layui.js'))
#js($ljs)
#set($ujs = $imageServer.get('js/upload.js'))
#js($ujs)
<script>
    $(function () {
        //初始化time空间
        function initDateInput(elems){
            layui.use('laydate', function(){
                var laydate = layui.laydate;
                elems.each(function(){
                    laydate.render({
                        elem: this, //指定元素
                        format: 'yyyy-MM-dd'
                    });
                });
            });
        }
        // 初始化日期
        initDateInput($("input[date='true']"));
    });
</script>