#set($js_validate = "validate")##需要验证
#set($id = $info.id)
<script src="$!appServer.get('/script/lib/jquery.validate.min.js')" type="application/javascript"></script>
<script src="$!appServer.get('/script/lib/jquery.validate.min.js')" type="application/javascript"></script>
<style>
    .c-qy-tx {
        width: 100%;
        margin: 5px 155px 18px;
        color: #c7a1a1;
    }
    .c-qywb {
        width: calc(60% - 12px);
        /* color: #999; */
        font-size: 14px;
        padding-left: 12px;
    }
</style>

<div class="c-mr">
    <div class="c-mod">

        $contain.get('tabs.htm').put("menu","providerInfo")
        <form action="#" method="post" id="providerInForm">

        <ul class="c-bczl enterbox1">
            #springBind("info.id")
            <input type="hidden" name="$!{status.expression}" value="$!{status.value}" >

            #springBind("info.shipNum")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">Vessels/ships：</span>
            	#if(!$id)
	            	<input type="text" id="shipNum" class="form-inp" placeholder="Please enter the number of ships"  maxlength="10" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
            #if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
                        <span class="qx-conte">${status.errorMessage}</span>
	                #end
                </div>
           	#end
                
                
            #springBind("info.shipTonnage")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">Net tons of ships：</span>
            	#if(!$id)
            		<input type="text" id="shipTonnage" class="form-inp" placeholder="Please enter the net ton of ships" maxlength="16" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
			#if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
                        <span class="qx-conte">${status.errorMessage}</span>
	                #end
                </div>
           	#end
                
                
            #springBind("info.volumeOfFreight")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">The volume of freight transport：</span>
            	#if(!$id)
	            	<input type="text" id="volumeOfFreight" class="form-inp" placeholder="Please enter the volume of the freight" maxlength="16" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
			#if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
                        <span class="qx-conte">${status.errorMessage}</span>
	                #end
                </div>
           	#end
                
                
            #springBind("info.containerNum")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">Container：</span>
            	#if(!$id)
	            	<input type="text" id="containerNum" class="form-inp" placeholder="Please enter the number of containers" maxlength="16" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
			#if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
                        <span class="qx-conte">${status.errorMessage}</span>
	                #end
                </div>
           	#end
                
            #springBind("info.totalRevenue")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">Total revenue of the company：</span>
            	#if(!$id)
	            	<input type="text" id="totalRevenue" class="form-inp" placeholder="Please enter the company's total revenue "  maxlength="16" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
			#if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
                        <span class="qx-conte">${status.errorMessage}</span>
	                #end
                </div>
           	#end
           	
           	
            #springBind("info.shipAgencyRevenue")
            <li class="c-bcz clearfix">
            	<span class="c-b-txt">Shipping revenue：</span>
            	#if(!$id)
	            	<input type="text" id="shipAgencyRevenue" class="form-inp" placeholder="Please enter shipping revenue" maxlength="16" name="$!{status.expression}" value="$!{status.value}">
                #else
                    <span class="qx-conte">$!{status.value}</span>
                #end
            </li>
            #if(!$id)
			 	<div class="c-qy-tx"> 
					#if(!$status.isError()&&  !$!{status.value})

	                #else
	                    ${status.errorMessage}
	                #end
                </div>
           	#end
        </ul>
        
        #if(!$id)
	        <div class="c-subdiv c-mod-bc c-mod-bc2"><button class="c-btnsub">submit</button><button onclick="window.location.href='$appServer.get('/center/my.htm')'" class="c-btncas">return </button></div>
        #end
        </form>
    </div>
</div>


<script >
  $(function(){
         //表单验证及submit
        $ ("#providerInForm").validate({
            ignore: ".ignore",
            onfocusout: function(element){
		        $(element).valid();
		    },
            rules: {
                shipNum: {
                    "required":true,
                    digits:true  ,
                    maxlength:16
                  
                },
                shipTonnage: {
                    required: true,
                    number:true  ,
                    maxlength:16
                },
                volumeOfFreight: {
                    required: true,
                    number:true  ,
                    maxlength:16
                },
               
                containerNum: {
                    required: true,
                    digits:true  ,
                    maxlength:16
                },
                totalRevenue: {
                    required: true,
                    number:true  ,
                    maxlength:16
                },
                shipAgencyRevenue: {
                    required: true,
                    number:true  ,
                    maxlength:16
                } 
            },
            messages: {
                shipNum: {
                    required:"Please enter the number of ships",
                    digits:"please enter an integer"
                },
                shipTonnage: {
                    required:"Please enter the net ton of ships",
                    number:"please enter a valid number "
                },
                volumeOfFreight: {
                    required:"Please enter the volume of the freight",
                    number:"please enter a valid number "
                },
                 containerNum: {
                    required:"Please enter the number of containers",
                    digits:"please enter an integer"
                },
                 totalRevenue: {
                    required:"Please enter the company's total revenue ",
                     number:"please enter a valid number "
                },
                 shipAgencyRevenue: {
                    required:"Please enter the company's total revenue ",
                     number:"please enter a valid number "
                },
               
              },  
            errorPlacement: function(error, element) {
                var span = element.parent().next();
                span.html("");
                span.append(error)
            }
        });


        
     });
 </script> 