.iw200{ width:200px !important;}
.iw10{ width:10px !important;}
.iw1100{ width:1100px !important;}
.ry-banner{ padding:15px;background-color: #eee;}
.ry-footbar{padding:0 5px;background-color: #eee;}
.ry-right{ text-align: right;}
.bombPp{ padding: 25px 0 0;}
.table-style .table-style-th{text-align: center;}
.table-style {text-align:center;}
.btw{margin-left: 50px;}
.dh40{height: 40px;}
.ry-col{background-color:#F1F1F1;line-height:40px}
.rw-col{border-bottom:5px solid #0A529C;}
.sp-left{margin-left: 20px;}
.tb-top{margin-top: 0;}
.ic-left{ margin-left: 10px;}
.iz-center{ text-align: center;}
.ie-edit{ width:580px;height:200px;margin:10 auto;}
.ry-red{ color: red;}