$contain.get('common/title.htm').put('title', '个人注册提交')
#css($appServer.get('/product/css/work/emailSendSuccess.css'))
<div class="w1180 indReg-con clearfix">
    <div class="rps-box">
        <div class="rps-l">
            <img src="images/suc_bg.png" alt="">
        </div>
        <div class="rps-r">
            <h2>Submit successfully !</h2>
            <!-- <h2>is changed successfully.</h2> -->
            <p class="arrd">
                please active your account through email in 24 hours.
            </p>
            <!-- <div class="com-btn-b">
                <a href="javascript:;" class="br btn-c com-btn">Sign in  immediately</a>
            </div> -->
        </div>

    </div>


</div>