$contain.get('common/title.htm').put('title', '重置密码')
#css($appServer.get('/product/css/work/account.css'))


<div class="w1180 indReg-con">
    <div class="rps-box">
        <div class="rps-l">
            <img src="$appServer.get('/product/images/suc_bg.png')" alt="">
        </div>
        <div class="rps-r">
            <h2>Congratulations, your password </h2>
            <h2>is changed successfully.</h2>
            <p class="arrd">Skip to sign in after<span>&nbsp<span class="count-seconds">5</span>&nbsp</span>seconds</p>
            <div class="com-btn-b">
                <a href="javascript:;" class="br btn-c com-btn">Sign in  immediately</a>
            </div>
        </div>

    </div>

</div>

#js($appServer.get('/product/js/common/jquery-1.9.1.min.js'))
#js($appServer.get('/product/js/common/common.js'))
<script>
    var num = $('.count-seconds').text();
    var int=self.setInterval("clock(num)",1000)
    function clock(){
        num--;
        if(num<=0){
            alert('下一步跳转操作');
            clearInterval(int);
        }
        $('.count-seconds').text(num);
    }
</script>