<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">        
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Home</title>
    <link rel="stylesheet" href="$imageServer.get('/css/f_common_en.css')">
    <link rel="stylesheet" href="$imageServer.get('/css/f_front_en.css')">
    <script src="$imageServer.get('/js/jquery-1.8.3.min.js')"></script>
    <script src="$imageServer.get('/js/jquery.fullPage.min.js')"></script>
    <script src="$appServer.get('scripts/imageloaded.js')"></script>
	<script>
		$(function(){
			$('#fullpage').fullpage({
				loopBottom:true,
				verticalCentered:false,
				anchors:['page1', 'page2', 'page3', 'page4', 'page5', 'page6', 'page7', 'page8', 'page9', 'page10'],
				navigation:true,
				navigationTooltips:['Home', 'Trading', 'Smart factory', 'Financing', 'Operation', 'Shipping', 'Futures', 'News&Reports', 'Tools', 'Partner'],
				menu:'#menu',
				onLeave:function(index, nextIndex, direction){
					if(nextIndex!=1){
						$('#menu').removeClass('slideInUp').addClass('slideInDown'),
						$('.menu-list').removeClass('enlarge'),
						$('.menu-first').css('display','block'),
						$('.menu-item').css('width','10%')
					}else if(nextIndex == 1){
						$('#menu').removeClass('slideInDown').addClass('slideInUp'),
						$('.menu-list').addClass('enlarge'),
						$('.menu-first').css('display','none'),
						$('.menu-item').css('width','calc(100% / 9)')
					}
				},
			});
		$(".big_image").each(function(){
                var _this=$(this);
                $(this).imagesLoaded(function(){
                    $("[src='"+_this.attr("src").replace("bg","bg_mini") +"']").attr("src", _this.attr("src"));
                })
            })

        });

        function switchChinese() {
            document.cookie="_l_=zh|CN;domain=.mycrudeoil.com;";
            window.location.reload();
        }
	</script>
</head>
<body>
	<div class="index-menu" id="menu">
		<div class="inner">
			<ul class="menu-list enlarge clearfix">
				<li data-menuanchor="page1" class="menu-item menu-first"><a href="#page1"><i class="h-ico menu-ico10"></i><em class="menu-txt">Home</em></a></li>
				<li data-menuanchor="page2" class="menu-item"><a href="#page2"><i class="h-ico menu-ico3"></i><em class="menu-txt">Trading</em></a></li>
				<li data-menuanchor="page3" class="menu-item"><a href="#page3"><i class="h-ico menu-ico2"></i><em class="menu-txt">Smart factory</em></a></li>
				<li data-menuanchor="page4" class="menu-item"><a href="#page4"><i class="h-ico menu-ico1"></i><em class="menu-txt">Financing</em></a></li>
				<li data-menuanchor="page5" class="menu-item"><a href="#page5"><i class="h-ico menu-ico4"></i><em class="menu-txt">Operation</em></a></li>
				<li data-menuanchor="page6" class="menu-item"><a href="#page6"><i class="h-ico menu-ico5"></i><em class="menu-txt">Shipping</em></a></li>
				<li data-menuanchor="page7" class="menu-item"><a href="#page7"><i class="h-ico menu-ico6"></i><em class="menu-txt">Futures</em></a></li>
				<li data-menuanchor="page8" class="menu-item"><a href="#page8"><i class="h-ico menu-ico7"></i><em class="menu-txt">News&Reports</em></a></li>
				<li data-menuanchor="page9" class="menu-item"><a href="#page9"><i class="h-ico menu-ico8"></i><em class="menu-txt">Tools</em></a></li>
				<li data-menuanchor="page10" class="menu-item"><a href="#page10"><i class="h-ico menu-ico9"></i><em class="menu-txt">Partner</em></a></li>
			</ul>
		</div>
	</div>
	<div id="fullpage">
		<div class="section section1">
			<div class="inner index-head clearfix">
				<span class="index-logo"><em>Mycrudeoil</em>Customer Service：+86 10 59568888</span>
				<ul class="i-head-r clearfix">
					#if(!$user)
                        <li><a href="$systemServer.get('/login.htm')">Login</a></li>
					#else
                        <li><a href="$memberServer.get('center/my.htm')">Membership Center</a></li>
					#end
					<li><a href=""><i class="h-ico ico-phone1"></i>APP
					<span class="index-tc clearfix">
						<span><i class="ios"></i><em>IOS</em></span>
						    <span><i class="andriod"></i><em>Android</em></span>
						<p class="ico-sj"></p>
					</span></a></li>
					<li><a href="" onclick="switchChinese()" id="chinese">中文版</a></li>
                    <li><a href="$!{OILbankUrl}" class="index-logo-cpy"></a></li>
				</ul>
			</div>
			<p class="sec1-txt1">Always Be Steps Ahead Of The Game</p>
			<p class="sec1-txt2">The greatest combination of tools, services and data to support your crude oil trading business needs</p>
			<p class="sec1-eng-txt"></p>
			#if(!$user)
                <a class="sec1-btn" href="$!systemServer.get('login.htm')">Login</a>
			#else
                <a class="sec1-btn" href="$memberServer.get('center/my.htm')">Membership Center</a>
			#end
			<div class="star3">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
				<img src="$imageServer.get('/images/star3.png')" alt="">
			</div>
			<div class="bg"><img src="$imageServer.get('/images/mod1_bg_mini.jpg')"></div>
		</div>
		<div class="section section2">
			<div class="sec2-people"></div>
			<p class="sec2-txt1">Trading</p>
			<p class="sec2-txt2">Make your voice heard worldwide</p>
			<ul class="sec2-tag clearfix">
				<li class="t1"><a href="$listedServer.get('crudeoillobby/crudeoilsupmlist.htm')"><i class="h-ico ico-yydt"></i><em>CRUDE OIL MALL&gt;</em></a></li>
				<li class="t3"><i class="h-ico ico-yycs"></i><em>CRUDE OIL SUPERMARKET&gt;</em></li>
				<li class="t4"><i class="h-ico ico-qyzq"></i><em>ENTERPRISE ZONE&gt;</em></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod4_bg_mini.jpg')"></div>
		</div>
		<div class="section section3">
			<h2 class="mod-title">Smart factory</h2>
			<p class="sec3-txt">Improving Your Efficiency and Profit by Optimizing Formula, Manufacturing Structure, Plant Design and Operation</p>
			<ul class="sec3-tag clearfix">
				<li class="t1"><a href="$memberServer.get('sso/aso/redirectTgs.htm?Sys=GROMS')"><i class="h-ico ico-px"></i><em>GROSS PROFIT ANALYSIS</em></a></li>
				<li class="t2"><a href="$memberServer.get('sso/aso/redirectTgs.htm?Sys=GROMS')"><i class="h-ico ico-sc"></i><em>PRODUCTION OPTIMIZATION</em></a></li>
				<li class="t3"><a href="$memberServer.get('sso/aso/redirectTgs.htm?Sys=GROMS')"><i class="h-ico ico-pf"></i><em>CRUDE OIL BLEND</em></a></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod3_bg_mini.jpg')"></div>
		</div>
		<div class="section section4">
			<div class="sec4-people"></div>
			<p class="sec4-txt">Financing </p>
			<ul class="sec4-tag clearfix">
				<li class="t1"><span>SUPPLY CHAIN FINANCING</span></li>
				<li class="t2"><span>FOREIGN EXCHANGE</span></li>
				<li class="t3"><span>BLOCK CHAIN</span></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod2_bg_mini.jpg')"></div>
		</div>
		<div class="section section5">
			<h2 class="mod-title">Operation</h2>
			<p class="sec5-txt">One-Step Online Operation System Serve as Your Tailor-Made Operation System with High Efficiency and Reliability</p>
			<ul class="sec5-tag clearfix sec5-tag2">
				<li class="t1"><a href="$order-exectueServer.get('sellerCenter/order/list.htm')"><i class="h-ico ico-mytg"></i><em>DEAL MANAGEMENT</em></a></li>
##				<li class="t2"><a href="$order-exectueServer.get('/buyerCenter/contract/list.htm')"><i class="h-ico ico-dzzx"></i><em>DOCUMENTATION</em></a></li>
##				<li class="t3"><a href="$order-exectueServer.get('/buyerCenter/orderDocumentFile/documentFileList.htm')"><i class="h-ico ico-mytg"></i><em>CUSTOM CLEARANCE</em></a></li>
				<li class="t4"><a href="$order-exectueServer.get('/sellerCenter/orderStatement/listPre.htm')"><i class="h-ico ico-jsgl"></i><em>SETTLEMENT </em></a></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod5_bg_mini.jpg')"></div>
		</div>
		<div class="section section6">
			
			<p class="sec6-txt1">Shipping<br/><em>Let’s make shipping smartest</em></p>
			<p class="sec6-txt2">We work hard to create innovative solutions, provide detailed visibility on your cargo. This indeed smarter your way of shipping.<br/><a class="f-btn-link" href="$shipServer.get('page/#')">more<i class="f-btn-arrow"></i></a></p>
			<ul class="sec6-tag clearfix">
				<li class="t1"><a href="$shipServer.get('/page/#/bootPage?palletType=1')"><i class="h-ico ico-pc"></i><em>CHARTERING</em></a></li>
				<li class="t2"><a href="$shipServer.get('/shipPlate/shipAgentEditShipPlate.htm')"><i class="h-ico ico-zc"></i><em>POST VESSEL</em></a></li>
				<li class="t3"><a
                #set($href ="$shipServer.get('/pallet/agreementList.htm')")
                #foreach($role in $user.roles)
                    #if($role == "trade_executor" || $role == "sales_trader" || $role == "buy_trader" || $role == "charterer")
                            #set($href ="$shipServer.get('/pallet/agreementList.htm')")
                            #break
                    #end
                    #if($role == "ship_executor" || $role == "ship_trader")
                        #set($href ="$shipServer.get('/shipPactNew/shipPactListNew.htm')")
                    #end
                    #if($role == "ship_owner" || $role == "ship_broker")
                        #set($href ="$shipServer.get('/shipPactNew/shipPactListNewOwner.htm')")
                    #end
                    #if($role == "depa_port" || $role == "arriv_port")
                        #set($href ="$shipServer.get('/shipPactNew/shipPactListAgency.htm')")
                    #end
                #end
                    href="$!{href}"><i class="h-ico ico-chgz"></i><em>VESSEL TRACKING</em></a></li>
				<li class="t4"><a href="$shipServer.get('/page/#/routemap')"><i class="h-ico ico-hcgh"></i><em>VOYAGE INTELLIGENCE</em></a></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod6_bg_mini.jpg')"></div>
		</div>
		<div class="section section7">
            <h2 class="mod-title">PRICING</h2>
            <p class="sec8-txt sec7-txt"><a class="f-btn-link" href="">more<i class="f-btn-arrow"></i></a></p>
            <ul class="sec7-tag clearfix">
                <li class="t1"><a href="$appServer.get('/futures/index.htm?order=7')"><i class="h-ico ico-shjy"></i><em>Pricing Forecast</em></a></li>
                <li class="t2"><a href="$appServer.get('/futures/index.htm?order=7')"><i class="h-ico ico-tmdj"></i><em>Arbitrage</em></a></li>
##				<li class="t3"><i class="h-ico ico-lhfk"></i><em>Viewable open position and joint risk management</em></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod7_bg_mini.jpg')"></div>
		</div>
		<div class="section section8">
			<h2 class="mod-title">News&Reports</h2>
			<p class="sec8-txt">Know Your Business, Grow Your Business, Driving The Future of Your Business<br><a class="f-btn-link" href="$infoServer.get('page/#')">more<i class="f-btn-arrow"></i></a></p>
			<ul class="sec8-tag clearfix">
				<li class="t1"><a href="$infoServer.get('page/#')"><i class="h-ico ico-ssbj"></i><em>REAL-TIME QUOTES</em></a></li>
				<li class="t2"><a href="$infoServer.get('page/#')"><i class="h-ico ico-zsfx"></i><em>MARKET ANALYSIS</em></a></li>
				<li class="t3"><a href="$infoServer.get('page/#')"><i class="h-ico ico-yykx"></i><em>CRUDE OIL NEWS FLASH</em></a></li>
				<li class="t4"><a href="$infoServer.get('page/#/encyclopedia')"><i class="h-ico ico-sybk"></i><em>PETROLEUM ENCYCLOPEDIA</em></a></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod8_bg_mini.jpg')"></div>
		</div>
		<div class="section section9">
			<h2 class="mod-title">Tools</h2>
			<ul class="sec9-tag clearfix">
				<li class="t1"><i class="h-ico ico-qz"></i><em>GROUP</em></li>
				<li class="t2"><i class="h-ico ico-hl"></i><em>EXCHANGE</em></li>
				<li class="t3"><i class="h-ico ico-fy"></i><em>TRANSLATION</em></li>
			</ul>
			<div class="bg"><img src="$imageServer.get('/images/mod9_bg_mini.jpg')"></div>
		</div>
		<div class="section section10">
            <div class="coop-con clearfix">
                <ul class="coop-list cl1">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_01.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_02.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_03.gif')"></a></li>
                </ul>
                <ul class="coop-list cl2">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_04.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_05.gif')"></a></li>
                </ul>
                <ul class="coop-list cl3">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_06.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_10.gif')"></a></li>
                </ul>
                <ul class="coop-list cl4">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_08.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_13.gif')"></a></li>
                </ul>
                <ul class="coop-list cl5">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_07.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_11.gif')"></a></li>
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_12.gif')"></a></li>
                </ul>
                <ul class="coop-list cl6">
                    <li class="coop-item"><a href=""><img src="$imageServer.get('/images/coop_img_09.gif')"></a></li>
                </ul>
                <ul class="coop-list cl7">
                    <li class="coop-item"><span class="coop-txt"><a href="$memberServer.get('/tradeHall/partner/index_partner.htm')">MORE &gt;&gt;</a></span></li>
                </ul>
            </div>
			<div class="footer">
				<div class="inner">

                    <ul class="ft-list clearfix">
                        <li>
                            <h3><a href="">About us</a></h3>
                        </li>
                        <li>
                            <h3><a href="$infoServer.get('/page/#/helpCenter')">Help</a></h3>
                        </li>
                        <li>
                            <h3><a href="$infoServer.get('/page/#/ptStatement')">Registration Agreements</a></h3>
                        </li>
                        <li>
                            <h3><a href="$infoServer.get('/page/#/ptStatement')">Legal Statement</a></h3>
                        </li>
                    </ul>
					<p>Copyright © Sinochem Corporation All Right Reserved ICP Beijing 13009914号-6</p>
				</div>
			</div>
			<div class="bg"><img src="$imageServer.get('/images/mod10_bg_mini.jpg')"></div>
		</div>
	</div>
	<div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod1_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod3_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod4_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod5_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod6_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod7_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod8_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod9_bg.jpg')">  </div>
    <div style="display: none;"> <img class="big_image" src="$imageServer.get('/images/mod10_bg.jpg')">  </div></body>
</html>