{
	"orderexecute.code.00001":"Can’t find the order information",
	"orderexecute.code.00002":"Can’t get the file path",
	"orderexecute.code.00003":"Call upload interface error",
	"orderexecute.code.00004":"File download failed",
	"orderexecute.code.00005":"System error",
	"orderexecute.code.00006":"System alias has existed",
	"orderexecute.code.00007":"Identity information is null",
	"orderexecute.code.00008":"System alias and unique interface code have existed",
	"orderexecute.code.00009":"Alias of external system is null",
	"orderexecute.code.00010":"Member type can’t be null",
	"orderexecute.code.00011":"The external system has existed",
	"orderexecute.code.00012":"Save failed",
	"orderexecute.code.00013":"Failed to send the message",
	"orderexecute.code.00014":"Order doesn’t exist",
	"orderexecute.code.00015":"Can’t find the documents information",
	"orderexecute.code.00016":"Detail group doesn’t exist",
	"orderexecute.code.00017":"The details have existed",
	"orderexecute.code.00018":"Can’t inquire about the valid order",
	"orderexecute.code.00019":"Order ID or bank statement ID or settlement statement ID is null",
	"orderexecute.code.00020":"Please generate the bank statement first.",
	"orderexecute.code.00021":"Order UUID can’t be null",
	"orderexecute.code.00022":"Bank statement ID can’t be null",
	"orderexecute.code.00023":"Invalid order",
	"orderexecute.code.00024":"Can’t find the corresponding bank statement",
	"orderexecute.code.00025":"Current bank statement does not allow generation of settlement statement",
	"orderexecute.code.00026":"Generation of settlement statement failed",
	"orderexecute.code.00027":"Lack of parameters",
	"orderexecute.code.00028":"Quantity must be greater than 0.",
	"orderexecute.code.00029":"Order ID or bank statement ID is null",
	"orderexecute.code.00030":"Order ID can’t be null",
	"orderexecute.code.00031":"Can’t get the order expenses information, please check the maintenance charges first.",
	"orderexecute.code.00032":"Current order does not allow the operation.",
	"orderexecute.code.00033":"Can’t generate the bank statement repeatedly.",
	"orderexecute.code.00034":"Current bank statement is not allowed to modify",
	"orderexecute.code.00035":"Can’t inquire about the corresponding bank statement information.",
	"orderexecute.code.00036":"Bank statement doesn’t exist",
	"orderexecute.code.00037":"Current bank statement does not allow the operation.",
	"orderexecute.code.00038":"Quantity of triggering must be greater than 0.",
	"orderexecute.code.00039":"Price of triggering can’t be null",
	"orderexecute.code.00040":"Price of triggering must be greater than 0.",
	"orderexecute.code.00041":"Maximum triggering $1",
	"orderexecute.code.00042":"Operation failure",
	"orderexecute.code.00043":"Current state does not allow the operation.",
	"orderexecute.code.00044":"Quantity can’t be null",
	"orderexecute.code.00045":"Price can’t be null",
	"orderexecute.code.00046":"Price must be greater than 0.",
	"orderexecute.code.00047":"Application of pricing doesn’t exist",
	"orderexecute.code.00048":"Current state does not allow the operation, please refresh the page.",
	"orderexecute.code.00049":"Quantity must be greater than 0.",
	"orderexecute.code.00050":"Exceed the maximum quantity requested",
	"orderexecute.code.00051":"Please fill in the Contract Qty.",
	"orderexecute.code.00052":"Contract Qty must be greater than 0.",
	"orderexecute.code.00053":"Contract Qty can’t be modified upon final settlement.",
	"orderexecute.code.00054":"Current generated bank statement can’t conduct the operation.",
	"orderexecute.code.00055":"Illegal operation",
	"orderexecute.code.00056":"Quantity can’t be less than",
	"orderexecute.code.00057":"Contract Qty can’t exceed more or less value. ",
	"orderexecute.code.00058":"Contract ID doesn’t exist, please check the parameters. ",
	"orderexecute.code.00059":"Separate bill quantity is insufficient, maximum spilt quantity",
	"orderexecute.code.00060":"Separate bill data doesn’t exist. ",
	"orderexecute.code.00061":"Old data is lack of relevant parameters, can’t complete the operation. ",
	"orderexecute.code.00062":"Maximum modifiable quantity",
	"orderexecute.code.00063":"Deadline of switch can’t be null",
	"orderexecute.code.00064":"Spread can’t be null",
	"orderexecute.code.00065":"Quantity of rolling must be greater than 0.",
	"orderexecute.code.00066":"Deadline must be greater than current time. ",
	"orderexecute.code.00067":"Format of deadline of rolling is incorrect",
	"orderexecute.code.00068":"Parameter error: current contract doesn’t exist.",
	"orderexecute.code.00069":"Number of Filled Times has reached the upper limit.",
	"orderexecute.code.00070":"Month of rolled contract can’t be the same as self.",
	"orderexecute.code.00071":"Convertible quantity is insufficient, at most ",
	"orderexecute.code.00072":"Order information doesn’t exist.",
	"orderexecute.code.00073":"Interface information doesn’t exist.",
	"orderexecute.code.00074":"Docking system certification failed ",
	"orderexecute.code.00075":"No docking system",
	"orderexecute.code.00076":"Contract has existed ",
	"orderexecute.code.00077":"English contract ",
	"orderexecute.code.00078":"Agency agreement",
	"orderexecute.code.00079":"Signature information",
	"orderexecute.code.00080":"Can’t find the bank statement information",
	"orderexecute.code.00081":"Bank statement is not to-be-confirmed state. ",
	"orderexecute.code.00082":"ordered can’t be null",
	"orderexecute.code.00083":"It is expected to have only one, but actually returns many.  ",
	"orderexecute.code.00084":"Collection information can’t be input repeatedly. ",
	"orderexecute.code.00085":"Can’t generate the formal settlement statement, can’t confirm the collection. ",
	"orderexecute.code.00086":"Collection time is not yyyy-MM-dd HH:mm:ss format. ",
	"orderexecute.code.00087":"orderSettlementId is null, can’t be modified. ",
	"orderexecute.code.00088":"Please input the correct date form. ",
	"orderexecute.code.00089":"Bank statement state is incorrect, can’t generate the bank statement. ",
	"orderexecute.code.00090":"Format of bill date (billDate) is incorrect!",
	"orderexecute.code.00091":"System exception",
	"orderexecute.code.00092":"Roll Over expenses",
	"orderexecute.code.00093":"Deal done",
	"orderexecute.code.00094":"Chartered",
	"orderexecute.code.00095":"Shipped on board",
	"orderexecute.code.00096":"Arrived ",
	"orderexecute.code.00097":"Discharged",
	"orderexecute.code.00098":"Reconciled",
	"orderexecute.code.00099":"Fund-in ",
	"orderexecute.code.00100":"Cancel",
	"orderexecute.code.00101":"Applied ",
	"orderexecute.code.00102":"Failed ",
	"orderexecute.code.00103":"Spilt bill",
	"orderexecute.code.00104":"Withdrawn ",
	"orderexecute.code.00105":"Initial ",
	"orderexecute.code.00106":"Expired ",
	"orderexecute.code.00107":"Price formula: format of pricing formula is incorrect ",
	"orderexecute.code.00108":"Price formula: category is null! ",
	"orderexecute.code.00109":"Price formula: price source is null!",
	"orderexecute.code.00110":"Price formula: market is null!",
	"orderexecute.code.00111":"Price formula: JSON format error",
	"orderexecute.code.00112":"Commodity name can’t be null",
	"orderexecute.code.00113":"The buyer and the seller can’t be null",
	"orderexecute.code.00114":"Credit terms can’t be null",
	"orderexecute.code.00115":"Loading starting time can’t be null",
	"orderexecute.code.00116":"Loading end time can’t be null",
	"orderexecute.code.00117":"Trade terms can’t be null",
	"orderexecute.code.00118":"Payment terms can’t be null",
	"orderexecute.code.00119":"tolerance can’t be null",
	"orderexecute.code.00120":"Quantity unit can’t be null",
	"orderexecute.code.00121":"Deal time can’t be null",
	"orderexecute.code.00122":"Pricing type can’t be null",
	"orderexecute.code.00123":"Pricing formula can’t be null",
	"orderexecute.code.00124":"Wrong revocation instruction ",
	"orderexecute.code.00125":"The order hasn’t existed (order No.:$1)",
	"orderexecute.code.00126":"GTC length can’t exceed 500 characters",
	"orderexecute.code.00127":"Order number can’t be null",
	"orderexecute.code.00128":"Shipment date can’t be null",
	"orderexecute.code.00129":"Price formula can’t be null",
	"orderexecute.code.00130":"Payment due date can’t be null",
	"orderexecute.code.00131":"$1 is null, can’t be modified ",
	"orderexecute.code.00132":"Whether it is resent? ",
	"orderexecute.code.00133":"Please confirm",
	"orderexecute.code.00134":"It is resending, please wait….",
	"orderexecute.code.00135":"Whether to delete? ",
	"orderexecute.code.00136":"Failed ",
	"orderexecute.code.00137":"It can input * characters at most. ",
	"orderexecute.code.00138":"Whether to delete the row really? ",
	"orderexecute.code.00139":"Please fill in amount collected",
	"orderexecute.code.00140":"For amount collected, please input the numbers. ",
	"orderexecute.code.00141":"Length of integer part of amount collected is 10 digits at the maximum. ",
	"orderexecute.code.00142":"Format of amount collected is incorrect. ",
	"orderexecute.code.00143":"Length of decimal place part of amount collected is 8 digits at the maximum.",
	"orderexecute.code.00144":"Please fill in collection time. ",
	"orderexecute.code.00145":"Please fill in confirmor",
	"orderexecute.code.00146":"Successfully saved!",
	"orderexecute.code.00147":"Please confirm to clear all data?",
	"orderexecute.code.00148":"Prompt ",
	"orderexecute.code.00149":"Operation succeeded!",
	"orderexecute.code.00150":"Request exception",
	"orderexecute.code.00151":"Red * is required field.",
	"orderexecute.code.00152":"Port of loading",
	"orderexecute.code.00153":"Submit ",
	"orderexecute.code.00154":"back ",
	"orderexecute.code.00155":"Please confirm to delete the information?",
	"orderexecute.code.00156":"Modify the Contract Qty",
	"orderexecute.code.00157":"Contract Qty",
	"orderexecute.code.00158":"Provisional Inv Qty",
	"orderexecute.code.00159":"Final Qty",
	"orderexecute.code.00160":"Trade split",
	"orderexecute.code.00161":"Quantity ",
	"orderexecute.code.00162":"Price ",
	"orderexecute.code.00163":"Pricing result",
	"orderexecute.code.00164":"Confirm the operation? ",
	"orderexecute.code.00165":"Pricing revision ",
	"orderexecute.code.00166":"Contract",
	"orderexecute.code.00167":"Original quantity",
	"orderexecute.code.00168":"Original price",
	"orderexecute.code.00169":"Succeed ",
	"orderexecute.code.00170":"Do you confirm the deletion? ",
	"orderexecute.code.00171":"Successfully deleted!",
	"orderexecute.code.00172":"Please add the contract first!",
	"orderexecute.code.00173":"First page ",
	"orderexecute.code.00174":"Last page",
	"orderexecute.code.00175":"Previous page",
	"orderexecute.code.00176":"Next page",
	"orderexecute.code.00177":"Details of value sets (* is required field)",
	"orderexecute.code.00178":"Crude oil",
	"orderexecute.code.00179":"Refined oil",
	"orderexecute.code.00180":"Chemicals",
	"orderexecute.code.00181":"Modification information (* is required field)",
	"orderexecute.code.00182":"List of value sets",
	"orderexecute.code.00183":"Name of appendix",
	"orderexecute.code.00184":"Code of appendix",
	"orderexecute.code.00185":"Upload role",
	"orderexecute.code.00186":"Push role",
	"orderexecute.code.00187":"Confirm no pass",
	"orderexecute.code.00188":"Please fill in the reason for no pass ",
	"orderexecute.code.00189":"Reply ",
	"orderexecute.code.00190":"Please fill in the reply ",
	"orderexecute.code.00191":"Sending time",
	"orderexecute.code.00192":"Hide ",
	"orderexecute.code.00193":"Show",
	"orderexecute.code.00194":"Verified successfully",
	"orderexecute.code.00195":"Modify the ship information",
	"orderexecute.code.00196":"Discharge port",
	"orderexecute.code.00197":"ok",
	"orderexecute.code.00198":"Cancel",
	"orderexecute.code.00199":"please confirm the amount is valid",
	"orderexecute.code.00200":"invalid phone",
	"orderexecute.code.00201":"invalid email",
	
	"orderexecute.code.00206":"please upload file",
	"orderexecute.code.00207":"file not exist",
	"orderexecute.code.00208":"order cancelled",
	
	"orderexecute.code.00212":"Save ",
	
	"orderexecute.code.002008":"Add Inspection Worksheet",
	"orderexecute.code.002009":"Edit Inspection Worksheet",
	"orderexecute.code.002010":"please select Port",
	"orderexecute.code.002011":"please enter Pic",
	"orderexecute.code.002012":"please enter Office No",
	"orderexecute.code.002013":"please enter Email",
	
	"orderexecute.code.002020":"Edit contractNo",
	"orderexecute.code.002021":"please enter seller/buyer contractNo",
	
	"ITSH532":"The chartering requirement has been generated for current order.",
	"403":"you have no permission to do this",
	"9999":"system error"
}