{
	"orderexecute.code.00001":"没有找到订单信息",
	"orderexecute.code.00002":"没有取得文件路径",
	"orderexecute.code.00003":"调用上传接口出错",
	"orderexecute.code.00004":"文件下载失败",
	"orderexecute.code.00005":"系统错误",
	"orderexecute.code.00006":"系统别名已存在",
	"orderexecute.code.00007":"身份信息为空",
	"orderexecute.code.00008":"系统别名和接口唯一编码已存在",
	"orderexecute.code.00009":"外部系统别名为空",
	"orderexecute.code.00010":"会员类型不能为空",
	"orderexecute.code.00011":"该外部系统已存在",
	"orderexecute.code.00012":"保存失败",
	"orderexecute.code.00013":"消息发送失败",
	"orderexecute.code.00014":"订单不存在",
	"orderexecute.code.00015":"没有找到单证信息",
	"orderexecute.code.00016":"明细组不存在",
	"orderexecute.code.00017":"该明细已存在",
	"orderexecute.code.00018":"未查询到有效订单",
	"orderexecute.code.00019":"订单ID或对账单ID或结算单ID为空",
	"orderexecute.code.00020":"请先生成对账单",
	"orderexecute.code.00021":"订单UUID不能为空",
	"orderexecute.code.00022":"对账单ID不能为空",
	"orderexecute.code.00023":"无效订单",
	"orderexecute.code.00024":"未找到相应对账单",
	"orderexecute.code.00025":"当前对账单不允许创建结算单",
	"orderexecute.code.00026":"结算单生成失败",
	"orderexecute.code.00027":"缺少参数",
	"orderexecute.code.00028":"数必须大于0",
	"orderexecute.code.00029":"订单ID或对账单ID为空",
	"orderexecute.code.00030":"订单ID不能为空",
	"orderexecute.code.00031":"未获取到订单费用信息，请先维护费用",
	"orderexecute.code.00032":"当前订单不允许此操作",
	"orderexecute.code.00033":"不能重复生成对账单",
	"orderexecute.code.00034":"当前对账单不允许修改",
	"orderexecute.code.00035":"未查询到相应对账单信息",
	"orderexecute.code.00036":"对账单不存在",
	"orderexecute.code.00037":"当前对账单不允许此操作",
	"orderexecute.code.00038":"点价数量必须大于0",
	"orderexecute.code.00039":"点价价格不能为空",
	"orderexecute.code.00040":"点价价格必须大于0",
	"orderexecute.code.00041":"最大只能点价$1",
	"orderexecute.code.00042":"操作失败",
	"orderexecute.code.00043":"当前状态不允许此操作",
	"orderexecute.code.00044":"数量不能为空",
	"orderexecute.code.00045":"价格不能为空",
	"orderexecute.code.00046":"价格必须大于0",
	"orderexecute.code.00047":"点价申请不存在",
	"orderexecute.code.00048":"当前状态不允许此操作，请刷新页面",
	"orderexecute.code.00049":"数量必须大于0",
	"orderexecute.code.00050":"超过最大申请量",
	"orderexecute.code.00051":"请填写合约数量",
	"orderexecute.code.00052":"合约数量必须大于0",
	"orderexecute.code.00053":"合约数量为最终结算时不可修改",
	"orderexecute.code.00054":"当前已生成对账单，不能进行此操作",
	"orderexecute.code.00055":"操作非法",
	"orderexecute.code.00056":"数量不能小于",
	"orderexecute.code.00057":"合约数量不能超出溢短装值",
	"orderexecute.code.00058":"合约ID不存在，请检查参数",
	"orderexecute.code.00059":"拆单量不足，最多可拆量",
	"orderexecute.code.00060":"拆单数据不存在",
	"orderexecute.code.00061":"旧数据缺少相关参数，无法完成此操作",
	"orderexecute.code.00062":"最多可修改数量",
	"orderexecute.code.00063":"转月截止时间不能为空",
	"orderexecute.code.00064":"月差不能为空",
	"orderexecute.code.00065":"转月数量必须大于0",
	"orderexecute.code.00066":"截止时间必须大于当前时间",
	"orderexecute.code.00067":"转月截止时间格式不正确",
	"orderexecute.code.00068":"参数错误：当前合约不存在",
	"orderexecute.code.00069":"转月次数已达上限",
	"orderexecute.code.00070":"转月合约月份不能和自身相同",
	"orderexecute.code.00071":"可转数量不足，最多",
	"orderexecute.code.00072":"订单信息不存在",
	"orderexecute.code.00073":"接口信息不存在",
	"orderexecute.code.00074":"对接系统认证失败",
	"orderexecute.code.00075":"无对接系统",
	"orderexecute.code.00076":"合同已存在",
	"orderexecute.code.00077":"英文合同",
	"orderexecute.code.00078":"代理协议",
	"orderexecute.code.00079":"签名信息",
	"orderexecute.code.00080":"没有找到对账单信息",
	"orderexecute.code.00081":"对账单不是待确认状态",
	"orderexecute.code.00082":"orderId不能为空",
	"orderexecute.code.00083":"预期只有一条，实际返回多条",
	"orderexecute.code.00084":"收款信息不能重复录入",
	"orderexecute.code.00085":"没有生成正式结算单，无法确认收款",
	"orderexecute.code.00086":"收款时间不是yyyy-MM-dd HH:mm:ss格式",
	"orderexecute.code.00087":"orderSettlementId 为空，不能修改",
	"orderexecute.code.00088":"请输入正确日期形式",
	"orderexecute.code.00089":"对账单状态不对，无法生成对账单",
	"orderexecute.code.00090":"提单日【billDate】格式不正确！",
	"orderexecute.code.00091":"系统异常",
	"orderexecute.code.00092":"月差费用",
	"orderexecute.code.00093":"已成交",
	"orderexecute.code.00094":"已租船",
	"orderexecute.code.00095":"已装船",
	"orderexecute.code.00096":"已到港",
	"orderexecute.code.00097":"已卸货",
	"orderexecute.code.00098":"已对账",
	"orderexecute.code.00099":"已收款",
	"orderexecute.code.00100":"已取消",
	"orderexecute.code.00101":"已申请",
	"orderexecute.code.00102":"未成功",
	"orderexecute.code.00103":"已拆单",
	"orderexecute.code.00104":"已撤销",
	"orderexecute.code.00105":"初始",
	"orderexecute.code.00106":"已过期",
	"orderexecute.code.00107":"价格公式：点价公式格式不正确",
	"orderexecute.code.00108":"价格公式：品类为空！",
	"orderexecute.code.00109":"价格公式：价格源为空！",
	"orderexecute.code.00110":"价格公式：市场为空！",
	"orderexecute.code.00111":"价格公式JSON格式错误",
	"orderexecute.code.00112":"商品名称不能为空",
	"orderexecute.code.00113":"买卖家不能为空",
	"orderexecute.code.00114":"信用条款不能为空",
	"orderexecute.code.00115":"装货开始时间不能为空",
	"orderexecute.code.00116":"装货结束时间不能为空",
	"orderexecute.code.00117":"贸易条款不能为空",
	"orderexecute.code.00118":"付款条款不能为空",
	"orderexecute.code.00119":"溢短装不能为空",
	"orderexecute.code.00120":"数量单位不能为空",
	"orderexecute.code.00121":"成交时间不能为空",
	"orderexecute.code.00122":"计价类型不能为空",
	"orderexecute.code.00123":"计价公式不能为空",
	"orderexecute.code.00124":"撤销指令有误",
	"orderexecute.code.00125":"该订单已不存在（订单编号：$1）",
	"orderexecute.code.00126":"GTC长度不能超过500个字符",
	"orderexecute.code.00127":"合同编号不能为空",
	"orderexecute.code.00128":"装期不能为空",
	"orderexecute.code.00129":"价格公式不能为空",
	"orderexecute.code.00130":"付款期限不能为空",
	"orderexecute.code.00131":"$1为空，不能修改",
	"orderexecute.code.00132":"是否重发？",
	"orderexecute.code.00133":"请确认",
	"orderexecute.code.00134":"正在重发中,请稍后......",
	"orderexecute.code.00135":"是否删除？",
	"orderexecute.code.00136":"失败",
	"orderexecute.code.00137":"最多可以输入$1个字符",
	"orderexecute.code.00138":"确认删除吗？",
	"orderexecute.code.00139":"请填写收款金额",
	"orderexecute.code.00140":"收款金额请输入数字",
	"orderexecute.code.00141":"收款金额整数位部分长度最高为10位",
	"orderexecute.code.00142":"收款金额格式不正确",
	"orderexecute.code.00143":"收款金额小数位部分长度最高为8位",
	"orderexecute.code.00144":"请填写收款时间",
	"orderexecute.code.00145":"请填写确认人",
	"orderexecute.code.00146":"保存成功!",
	"orderexecute.code.00147":"重置后将清空所有转月及点价相关信息，确认是否重置？",
	"orderexecute.code.00148":"提示",
	"orderexecute.code.00149":"操作成功！",
	"orderexecute.code.00150":"请求异常",
	"orderexecute.code.00151":"红色*为必填项",
	"orderexecute.code.00152":"装港",
	"orderexecute.code.00153":"提交",
	"orderexecute.code.00154":"返回",
	"orderexecute.code.00155":"确认删除当前装货信息吗？",
	"orderexecute.code.00156":"修改合约数量",
	"orderexecute.code.00157":"合约数量",
	"orderexecute.code.00158":"临时结算量",
	"orderexecute.code.00159":"最终结算量",
	"orderexecute.code.00160":"拆单",
	"orderexecute.code.00161":"数量",
	"orderexecute.code.00162":"价格",
	"orderexecute.code.00163":"点价结果",
	"orderexecute.code.00164":"确认此操作吗？",
	"orderexecute.code.00165":"点价修改",
	"orderexecute.code.00166":"合约",
	"orderexecute.code.00167":"原数量",
	"orderexecute.code.00168":"原价格",
	"orderexecute.code.00169":"成功",
	"orderexecute.code.00170":"您确定删除吗？",
	"orderexecute.code.00171":"删除成功!",
	"orderexecute.code.00172":"请先添加合同!",
	"orderexecute.code.00173":"首页",
	"orderexecute.code.00174":"尾页",
	"orderexecute.code.00175":"上一页",
	"orderexecute.code.00176":"下一页",
	"orderexecute.code.00177":"值集详情（*为必填项）",
	"orderexecute.code.00178":"原油",
	"orderexecute.code.00179":"成品油",
	"orderexecute.code.00180":"化工品",
	"orderexecute.code.00181":"修改信息（*为必填项）",
	"orderexecute.code.00182":"值集列表",
	"orderexecute.code.00183":"附件名称",
	"orderexecute.code.00184":"附件代码",
	"orderexecute.code.00185":"上传角色",
	"orderexecute.code.00186":"推送角色",
	"orderexecute.code.00187":"确认不通过",
	"orderexecute.code.00188":"请填写不通过原因",
	"orderexecute.code.00189":"回复",
	"orderexecute.code.00190":"请填写回复",
	"orderexecute.code.00191":"发送时间",
	"orderexecute.code.00192":"隐藏",
	"orderexecute.code.00193":"展开",
	"orderexecute.code.00194":"验证成功",
	"orderexecute.code.00195":"修改船信息",
	"orderexecute.code.00196":"卸港",
	"orderexecute.code.00197":"确定",
	"orderexecute.code.00198":"取消",
	"orderexecute.code.00199":"请确认您输入的是有效金额",
	"orderexecute.code.00200":"电话输入不正确",
	"orderexecute.code.00201":"邮箱输入不正确",
	
	"orderexecute.code.00202":"指定商检",
	"orderexecute.code.00203":"请选择",
	"orderexecute.code.00204":"商检信息已经维护",
	"orderexecute.code.00205":"请选择商检",
	"orderexecute.code.00206":"请上传文件",
	"orderexecute.code.00207":"没有上传文件",
	"orderexecute.code.00208":"当前订单已取消",
	
	"orderexecute.code.00212":"保存",
	
	
	"orderexecute.code.002008":"新增任务",
	"orderexecute.code.002009":"修改任务",
	"orderexecute.code.002010":"请选择港口",
	"orderexecute.code.002011":"请输入联系人",
	"orderexecute.code.002012":"请输入联系电话",
	"orderexecute.code.002013":"请输入邮箱",
	
	"orderexecute.code.002020":"维护合同号",
	"orderexecute.code.002021":"请输入卖方或买方合同号",
	
	"ITSH532":"当前订单已经生成租船需求",
	"403":"没有权限",
	"9999":"系统错误"
	
}