<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinochem.crude.trade.wechat.dao.WechatSendmsgLogsMapper" >
  <resultMap id="BaseResultMap" type="com.sinochem.crude.trade.wechat.domain.WechatSendmsgLogs" >

    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memberid" property="memberid" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="receivetime" property="receivetime" jdbcType="TIMESTAMP" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="failnum" property="failnum" jdbcType="INTEGER" />
    <result column="failmsg" property="failmsg" jdbcType="VARCHAR" />
    <result column="failcode" property="failcode" jdbcType="VARCHAR" />
    <result column="sendtime" property="sendtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >

    id, memberid, openid, receivetime, content, status, failnum, failmsg, failcode, sendtime
  </sql>

  <select id="selectall" resultMap="BaseResultMap" >
    select * FROM  wechat_sendmsg_logs ORDER  BY ID DESC LIMIT #{0},#{1}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >

    select 
    <include refid="Base_Column_List" />
    from wechat_sendmsg_logs
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 14 09:43:47 CST 2018.
    -->
    delete from wechat_sendmsg_logs
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sinochem.crude.trade.wechat.domain.WechatSendmsgLogs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 14 09:43:47 CST 2018.
    -->
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into wechat_sendmsg_logs (id, memberid, openid, 
      receivetime, content, status, 
      failnum, failmsg, failcode, 
      sendtime)
    values (#{id,jdbcType=BIGINT}, #{memberid,jdbcType=BIGINT}, #{openid,jdbcType=VARCHAR}, 
      #{receivetime,jdbcType=TIMESTAMP}, #{content,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{failnum,jdbcType=INTEGER}, #{failmsg,jdbcType=VARCHAR}, #{failcode,jdbcType=VARCHAR}, 
      #{sendtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.crude.trade.wechat.domain.WechatSendmsgLogs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 14 09:43:47 CST 2018.
    -->
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into wechat_sendmsg_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="receivetime != null" >
        receivetime,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="failnum != null" >
        failnum,
      </if>
      <if test="failmsg != null" >
        failmsg,
      </if>
      <if test="failcode != null" >
        failcode,
      </if>
      <if test="sendtime != null" >
        sendtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null" >
        #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="failnum != null" >
        #{failnum,jdbcType=INTEGER},
      </if>
      <if test="failmsg != null" >
        #{failmsg,jdbcType=VARCHAR},
      </if>
      <if test="failcode != null" >
        #{failcode,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.wechat.domain.WechatSendmsgLogs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 14 09:43:47 CST 2018.
    -->
    update wechat_sendmsg_logs
    <set >
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=BIGINT},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="receivetime != null" >
        receivetime = #{receivetime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="failnum != null" >
        failnum = #{failnum,jdbcType=INTEGER},
      </if>
      <if test="failmsg != null" >
        failmsg = #{failmsg,jdbcType=VARCHAR},
      </if>
      <if test="failcode != null" >
        failcode = #{failcode,jdbcType=VARCHAR},
      </if>
      <if test="sendtime != null" >
        sendtime = #{sendtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.wechat.domain.WechatSendmsgLogs" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Apr 14 09:43:47 CST 2018.
    -->
    update wechat_sendmsg_logs
    set memberid = #{memberid,jdbcType=BIGINT},
      openid = #{openid,jdbcType=VARCHAR},
      receivetime = #{receivetime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      failnum = #{failnum,jdbcType=INTEGER},
      failmsg = #{failmsg,jdbcType=VARCHAR},
      failcode = #{failcode,jdbcType=VARCHAR},
      sendtime = #{sendtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>