.iw300{ width:300px;}
.ry-banner{ padding:15px; background-color: #eee;}
.ry-footbar{padding:0 5px;background-color: #eee;}
.ry-right{ text-align: right;}
.table-style {text-align:center;}
.table-style .table-style-th{
    text-align: center;
}