
    <div class="s-mod">
		<div class="s-order-box">
			<div class="clearfix s-order-tit"><h1>Available vessel list</h1></div>
			<p class="s-order-jbx"></p>
			<ul class="clearfix s-ship-cla">
				<li>
					<a href="javascript:;" class="statusBtn" attr-data="1">Published （$!{publishedCount}）</a>
				</li>
				<li>
					<a href="javascript:;" class="statusBtn" attr-data="2">Under Negotiation （$!{talkingCount}）</a>
				</li>
				<li>
					<a href="javascript:;" class="statusBtn" attr-data="3">On Sub （$!{confirmShipCount}）</a>
				</li>
			</ul>
			<p class="s-order-jbx"></p>
			<div class="s-order-sear">
			<form class="s-form s-form-cont s-form-cont2" action="shipAgentShipPlateList.htm">
			<ul>
				<li class="s-form-item">
					<div class="s-inline s-inline8">
					  <label class="s-form-label">Vessel Name</label>
					  <div class="s-input-inline">
						  <input id="searchName" type="text" name="name" class="s-input">
						  <input id="searchStatus" type="hidden" name="status" value="$!searchStatus">
					  </div>
					</div>
					<div class="s-inline s-inline0"><a><i class="s-icon s-sear-ico searchBtn"></i></a></div>
					<div class="s-inline s-inline-btn"><a class="s-btn insertBtn"><i class="s-icon fs-plus"></i>Add Vessel</a></div>
					<div class="s-inline s-inline-btn"><a class="s-btn exportBtn">Export Template</a></div>
					<div class="s-inline s-inline-btn"><a class="s-btn importBtn" id="importBtn">Import Data</a></div>
				</li>
			</ul>
			</form>
			</div>
		</div>
		<div class="s-mod-block">
			#foreach($data in $datas)
				<div class="s-mod-btit">
					<a href="javascript:;" class="lookBtn" attr-data="$!data.uuid" title="More Details">$!data.epMemberName &nbsp;</a>
					#if($!{data.status} == '1')<span >Published</span>#end
					#if($!{data.status} == '2')<span >Under Negotiation</span>#end
					#if($!{data.status} == '3')<span >On Sub</span>#end
				</div>
				
				<div class="s-mod-bcont">
					<form class="s-form s-form-cont s-form-cont2" action="">
						<ul>
							<li class="s-form-item">
								<div class="s-inline">
								  <label class="s-form-label">Post Date：</label>
								  <div class="s-input-inline" title="$!{data.publishTimeStr}">
									  <p>$!data.publishTimeStr</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Vessel Name：</label>
								  <div class="s-input-inline" title="$!{data.name}">
									  <p>$!data.name</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Ship Owner：</label>
								  <div class="s-input-inline" title="$!{data.shipOwner}">
									  <p>$!data.shipOwner</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Vessel Type：</label>
								  <div class="s-input-inline" title="$!{data.type}">
									  <p>$!data.type</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Position：</label>
								  <div class="s-input-inline" title="$!{data.position}">
									 <p>$!data.position</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Quantity：</label>
								  <div class="s-input-inline s-input-inline2 title3" title="$!{data.loadQuantity}">
									<p class="num3">$!data.loadQuantity</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">Open：</label>
								  <div class="s-input-inline s-input-inline2" title="$!{data.openStr}">
									<p>$!data.openStr</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">ETA Cabinda：</label>
								  <div class="s-input-inline" title="$!{data.etaCabinda}">
									  <p>$!data.etaCabinda</p>
								  </div>
								</div>
								<div class="s-inline">
								  <label class="s-form-label">ETA Fujairah：</label>
								  <div class="s-input-inline" title="$!{data.eta}">
									  <p>$!data.eta</p>
								  </div>
								</div>
							</li>
						</ul>
					</form>
					
					<div class="s-but-all clearfix">
						<div class="s-all-jt"><p><i class="s-icon s-all-zk"></i></p>
							<div class="s-but-ship clearfix">
								<a href="javascript:;" class="s-btn lookBtn" attr-data="$!data.uuid">Vessel Details</a>
								#if($!{data.status} =='1')
									<a href="javascript:;" class="s-btn editBtn" attr-data="$!data.uuid">Edit</a>
								#end
								#if($!{data.status} =='2')
									<a href="javascript:;" class="s-btn talkingListBtn" attr-data="$!data.uuid">Negotiation List</a>
								#end
								#if($!{data.status} =='3')
									<a href="javascript:;" class="s-btn shipConfirmBtn" attr-data="$!data.uuid">Chartering Details</a>
								#end
								#if($!{data.status} =='1' || $!{data.status} =='2')
									<a href="javascript:;" class="s-btn delBtn" attr-data="$!data.uuid" attr-status="$!{data.status}">Cancel</a>
								#end
							</div>
						</div>
					</div>
				</div>
			#end
		</div>
		$contain.get('/contain/tablePageSlider.htm').put('slider_query',$query).put('slider_target',"$shipServer.get('/shipPlate/shipAgentShipPlateList.htm')")
	</div>
	<script src="../transport/js/shipPlate/shipAgentShipPlateList.js"></script>
  