    <!-- 内容主体区域 -->
    <div class="s-mod">
		<div class="s-order-box">
			<div class="clearfix s-order-tit"><h1>Charter Available</h1></div>
		</div>
		<div class="s-mod-block">
			<div class="s-mod-btit">Charter Party</div>
			<div class="s-mod-bcont s-mod-bcont4">
			<form class="s-form s-form-cont s-form-cont2" action="">
			<ul>
				<li class="s-form-item">
					<div class="s-inline">
					  <label class="s-form-label">CP No：</label>
					  <div class="s-input-inline">
						  <p class="shipPactCode"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">CP Dated：</label>
					  <div class="s-input-inline">
					  	  <p class="signDate"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Charterer：</label>
					  <div class="s-input-inline">
					  	 <p class="carrierName"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Ship Owner：</label>
					  <div class="s-input-inline">
						  <p class="shipOwner"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Vessel Name：</label>
					  <div class="s-input-inline">
						 <p class="shipName"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label"><i title="0001-2359 IF BASRAH FIRST LOAD PORT - 0001-1200 IF SAUDI FIRST LOAD PORT - 0001-1600 IF NEITHER BASRAH NOR SAUDI FIRST LOAD PORT" class="shipping-ico w-ico-sl"></i>LAYCAN：</label>
					  <div class="s-input-inline">
						 <p class="pactBeg"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">LOADING：</label>
					  <div class="s-input-inline">
						 <p class="loadingArea"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">DISCHARGING：</label>
					  <div class="s-input-inline">
						 <p class="unloadingArea"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Rate：</label>
					  <div class="s-input-inline">
						 <p class="pactSpeed"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">WS Rate：</label>
					  <div class="s-input-inline">
						 <p class="wsRes"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Demurrage：</label>
					  <div class="s-input-inline">
						 <p class="demurrage"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Laytime：</label>
					  <div class="s-input-inline">
						 <p class="dockTime"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Minimum Cargo Quantity(MT)：</label>
					  <div class="s-input-inline">
						 <p class="minQuantity"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Broker：</label>
					  <div class="s-input-inline">
						 <p class="brokerName"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Remarks：</label>
					  <div class="s-input-inline">
						 <p class="remark"></p>
					  </div>
					</div>
					<div class="s-inline">
					  <label class="s-form-label">Contact：</label>
					  <div class="s-input-inline">
						  <p class="s-input-inline accessory" id="accessory" name="accessory"></p>
						  <p hidden="true" id="btn">&nbsp;&nbsp;<a href="javascript:;" class="file1 downloadFn">Download</a></p>
					  </div>
					</div>
				</li>
			</ul>
			</form>
			</div>
		</div>
		<div class="s-btn-box"><button class="s-btn s-btn-primary back">Back</button></div>
	</div>
	
	<script src="../transport/js/shipPact/shipPactDetailQuery.js"></script>
