#set($a = "原油-长协采购需求")
<form  id="orderAddForm" action="$!appServer.get('/create/OilLongCrude.htm')" method="post">
	$contain.get("/longTermContractContain/longFormPurchase.htm").put("tradeItemMap",$tradeItemMap).put("inspectionFeeSharingTypeMap",$inspectionFeeSharingTypeMap).put("creditItemMap",$creditItemMap).put("payItemMap",$payItemMap).put("contract",$!{contract})
	$contain.get("/longTermContractContain/longFormPlan.htm").put("contract",$!{contract})
	$contain.get("/longTermContractContain/longEditBuyerForValid.htm").put("buyerRelevanter", $!{contract.buyerRelevanter})
#*
    $contain.get("/longTermContractContain/longEditAgencyForValid.htm").put("traderRelevanter", $!{contract.traderRelevanter})
*#
	$contain.get("/longTermContractContain/longEditSupplyForValid.htm").put("supplierRelevanter", $!{contract.supplierRelevanter})
    <div class="c-mod" id="cgxx">
        <h3><em class="cw-ico ico-h3"></em>Upload Attachment</h3>
        <div class="c-form">
			<ul class="c-ful">
				<li class="c-fcos1">
					<span class="c-fn">Upload Attachmeng：</span>
					<input type="hidden" name="filePath" id="file_path" value="$!{contract.filePath}"/>
					<input type="text" class="c-int" style="width:41%;" id="file_name" name="originalName" value="$!{contract.originalName}" readonly/>
                    <a class="fileUpload btn-more" name="fileUpload" id="fileUpload">Upload</a>
                    <a class="fileUpload btn-more" id="fileDownload" #if($!contract.filePath) style="display: inline;"#else style="display: none;"  #end
                       href="$appServer.get('/common/doc/download.htm')?path=$!{contract.filePath}&fileName=$!{contract.originalName}">Download</a>
                    <a class="fileUpload btn-more" id="del_file" #if($!contract.filePath) style="display: inline;" #else style="display: none;"  #end>Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <script>
        $("#del_file").click(function(){
            $('#file_name').val('');
            $('#fileDownload').hide();
            $('#del_file').hide();
        })
    </script>
    <input type="hidden" class="c-int" id="is_submit" name="isSubmit" value=""/>
    <!--保存-->
    <div class="c-subdiv">
        <button  id="checkbtn" type="button" class="c-btnsub">Submit</button>
        <button  id="checkbtn2" type="button" class="c-btnsub">Save</button>
        <script>
        	$(function(){
		        $("#checkbtn").click(function(){
		        	var flag = dataValidation();
		            if(flag){
		//              表单提交前给payItem赋值
		                setValue();
		                $("#is_submit").val("1");
		                $('#orderAddForm')[0].submit();
		            }else{
		            	return;
		            }
		        });
	        
	            $("#checkbtn2").click(function(){
	            	var flag = dataValidation();
	            	if(flag){ 
	//                  表单提交前给payItem赋值
	                    setValue();
	                    $("#is_submit").val("0");
	                    $('#orderAddForm')[0].submit();
	                }else{
		            	return;
		            }
	            });
	            
	            function dataValidation () {	                   	
	            	if($("#v_oilName").val() == "" || $("#v_num").val() == "" 
	            			|| $(".tradeItemVal").val() == "" || $(".authItem").val() == ""
	            			|| $("#eventDays").val() == "" 
	            			|| $("#company-name").val() == "" || $("#company-contacter").val() == "" 
	            			|| $("#company-famil").val() == "" || $("#company-phoneNo").val() == "" 
	            			|| $("#companySupply").val() == "" || $("#companySupply-contacter").val() == "" 
	            			|| $("#companySupply-famil").val() == "" || $("#companySupply-phoneNo").val() == "" ) {
		            	
	        			layer.alert('Red * is required',{title:"Notice",btn:"OK"});
	        			return false;
	        		}
	            	if( $(".dataStr").val() == "" || $(".dataStr2").val() == "" ){
	            		layer.alert('Please enter the correct year for the purchase of goods information ',{title:"Notice",btn:"OK"});
	        			return false;
	            	}
	           	   if($(".v_number").val() == "") {
	        			layer.alert('Please enter the number',{title:"Notice",btn:"OK"});
	        			return false;
	        		}
	           	 /*  if(!checkTel($("#company-phoneNo").val()) || !checkTel($("#companySupply-phoneNo").val())){
    				layer.alert('Please input the phone number format is not correct, please input again. ',{title:"Notice",btn:"OK"});
    				return false;
    			 } */
    			 if(!checkEmail($("#company-famil").val()) || !checkEmail($("#companySupply-famil").val())){
    				layer.alert('Please enter the mailbox in the wrong format, please reenter it',{title:"Notice",btn:"OK"});
    				return false;
    			 }
	           	    return true;
	            }
        	})
			//校验电话号码
        	function checkTel(value){
//        		var flag =true;
//        		var isPhone = /^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\\d{8}$/;
//        	    var isMob=/^((\+?86)|(\+86))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|17[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;
//        	    if(isMob.test(value)||isPhone.test(value)){
//        	    	flag=true;
//        	    } else{
//        	    	flag=false;
//        	    }
//        	    return flag;
        	 }  
        	//校验邮箱
        	function checkEmail(value){  
        		var flag =true;
        		var isEmail = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/; 	
        		if(!isEmail.test(value)){  
        			flag=false;  
        		}  
        		 return flag;
        	} 
        </script>
        <button id="checkbtn1" type="button" class="c-btncas">Cancel</button>
        <script>
            $("#checkbtn1").click(function(){
                window.history.go(-1);
            });
        </script>
    </div>
</form>

<script>
    layui.use("ossUpload", function(){
        var $ = layui.jquery,upload = layui.ossUpload;
        upload.render({
            elem: "fileUpload",
            done: function(res, index){
                if(res.status == 0){
                    $("#file_path").val(res.datas.path);
                    $("#file_name").val(res.datas.originalName);
                    $("#fileUpload").text("upload");
                    $("#fileDownload").attr('href',"$appServer.get('/common/doc/download.htm')?path="+ res.datas.path +"&fileName="+ res.datas.originalName);
                    $('#fileDownload').show();
                    $('#del_file').show();
                }else{
                    layer.alert(res.message);
                }
            }
        })
    })
</script>