{
	"9999":"系统异常",
	"001":"提示",
	"002":"确定",
	"003":"取消",
	"sys004":"暂无相关记录",
	
	"ITSH001":"用户信息为空",
	"ITSH002":"uuid为空",
	"ITSH003":"运单数据为空",
	"ITSH004":"船货装港信息为空",
	"ITSH005":"运单id为空",
	"ITSH006":"运单uuid为空",
	"ITSH007":"航次开始信息为空",
	"ITSH008":"船货卸港信息为空",
	"ITSH009":"在途数据为空",
	"ITSH010":"货物装港信息为空",
	
	"ITSH011":"货物卸港信息为空",
	"ITSH012":"船盘uuid为空",
	"ITSH013":"船盘数据为空",
	"ITSH014":"船盘状态发生改变，请刷新重试",
	"ITSH015":"操作人类型为空",
	"ITSH016":"货盘uuid为空",
	"ITSH017":"货盘数据为空",
	"ITSH018":"货盘状态发生改变，请刷新重试",
	"ITSH019":"运单状态发生改变，请刷新重试",
	"ITSH020":"货盘id为空",
	
	"ITSH021":"甲方信息为空",
	"ITSH022":"乙方信息为空",
	"ITSH023":"船舶信息为空",
	"ITSH024":"租约日为空",
	"ITSH025":"船舶库船舶未找到",
	"ITSH026":"租船协议uuid为空",
	"ITSH027":"租船协议数据为空",
	"ITSH028":"租船人信息为空",
	"ITSH029":"船东为空",
	"ITSH030":"船名为空",
	
	"ITSH031":"装期为空",
	"ITSH032":"最小货量为空",
	"ITSH033":"WS点为空",
	"ITSH034":"合同规定航速为空",
	"ITSH035":"滞期费率为空",
	"ITSH036":"经纪人为空",
	"ITSH037":"允许装卸时间为空",
	"ITSH038":"船合同uuid为空",
	"ITSH039":"船合同数据为空",
	"ITSH040":"航次开始list为空",
	
	"ITSH041":"油种为空",
	"ITSH047":"装港list为空",
	"ITSH048":"装港为空",
	"ITSH049":"ETA为空",
	
	"ITSH060":"请先至少选择一个租船协议",	
	"ITSH061":"请选维护航次开始信息",
	"ITSH062":"请选维护船舶装港信息",
	"ITSH063":"请选至少维护一条在途信息",
	"ITSH064":"日期为空",
	
	"ITSH074":"船舶在途uuid为空",
	"ITSH075":"卸港为空",
	
	"ITSH085":"卸港list为空",
	"ITSH086":"租船协议状态发生改变，请刷新重试",
	"ITSH087":"船合同状态发生改变，请刷新重试",
	"ITSH088":"协议数据异常",
	"ITSH089":"值集类型为空",
	
	"ITSH101":"租船信息已作废",
	
	"ITSH104":"租船信息未发布不可作废",
	"ITSH105":"租船信息不可确认",
	"ITSH106":"订单编号为空",
	"ITSH109":"卸港和卸港区域不能同时为空",
	"ITSH110":"装港和装港区域不能同时为空",
	"ITSH113":"租船list为空",
	
	"ITSH200":"船舶uuid为空",
	"ITSH202":"船舶代码 IMO为空",
	"ITSH203":"船名为空",
	"ITSH204":"船旗为空",
	"ITSH205":"船型为空",
	"ITSH206":"建造商为空",
	"ITSH207":"船级社为空",
	"ITSH208":"建造年份为空",
	"ITSH209":"船体为空",
	"ITSH210":"船长为空",
	
	"ITSH211":"船宽为空",
	"ITSH212":"吃水为空",
	"ITSH213":"载重吨为空",
	"ITSH214":"总吨为空",
	"ITSH215":"载重容积为空",
	"ITSH216":"附件为空",
	"ITSH217":"船舶ID为空",
	"ITSH218":"附件uuid为空",
	"ITSH220":"潮汐uuid为空",
	
	"ITSH221":"潮汐信息为空",
	"ITSH222":"港口code为空",
	"ITSH223":"港口名称为空",
	"ITSH224":"潮汐小时为空",
	"ITSH225":"潮汐分钟为空",
	"ITSH226":"潮高为空",
	"ITSH227":"潮汐日期为空",
	
	"ITSH235":"船东为空",
	"ITSH237":"船位为空",
	"ITSH239":"经纪人为空",
	"ITSH240":"备注为空",
	
	"ITSH301":"查询单位对象为空",
	"ITSH302":"查询单位比率对象为空",
	"ITSH303":"查询单位uuid为空",
	"ITSH304":"查询单位比率uuid为空",
	"ITSH305":"单位类型为空",
	"ITSH306":"单位名称为空",
	"ITSH307":"单位是否为参考为空",
	"ITSH308":"单位比率参考单位为空",
	"ITSH309":"单位比率对比单位为空",
	"ITSH310":"单位比率底数为空",
	
	"ITSH311":"单位比率指数为空",
	"ITSH312":"基础运价对象为空",
	"ITSH313":"基础运价对象第一装港港口名为空",
	"ITSH314":"基础运价对象第一卸港港口名为空",
	"ITSH315":"基础运价对象基础为空",
	"ITSH316":"基础运价对象运价年份为空",
	"ITSH317":"基础运价对象里程为空",
	"ITSH318":"基础运价对象UUID为空",
	"ITSH330":"基础运价对象地区为空",
	"ITSH319":"成交点数对象为空",
	"ITSH320":"成交点数对象的uuid为空",
	
	"ITSH321":"成交点数对象的地区名为空",
	"ITSH322":"成交点数对象的船型为空",
	"ITSH323":"成交点数对象的价格为空",
	"ITSH324":"成交点数对象的名称为空",
	"ITSH325":"成交点数对象的日期为空",
	"ITSH326":"成交点数对象的预估单桶运费为空",
	"ITSH327":"成交点数对象的参考路线为空",
	"ITSH328":"已经存在的数据",
	"ITSH329":"插入成交点数数据失败",
	
	"ITSH331":"结算单发票号为空",
	"ITSH332":"结算单租船协议编号为空",
	"ITSH333":"结算单收款方为空",
	"ITSH334":"结算单付款方为空",
	"ITSH335":"结算单发票附件为空",
	"ITSH336":"结算单发票附件路径为空",
	"ITSH337":"结算单Freight Quantily为空",
	"ITSH338":"结算单Freight overage Quantily为空",
	"ITSH339":"结算单Freight overage Flatrate为空",
	"ITSH340":"结算单Freight overage Rate为空",
	
	"ITSH341":"结算单Freight overage Pct为空",
	"ITSH342":"结算单Address Commission Pct为空",
	"ITSH343":"结算单Address Commission Quantily为空",
	"ITSH344":"结算单Freight Total为空",
	"ITSH345":"结算单Freight overage Total为空",
	"ITSH346":"结算单Address Commission Total为空",
	"ITSH347":"结算单Freight Amount为空",
	"ITSH348":"结算单Freight overage Amount为空",
	"ITSH349":"结算单Address Commission Amount为空",
	"ITSH350":"结算单Balance in USD为空",
	"ITSH351":"结算单协议uuid为空",
	"ITSH352":"结算单船合同uuid为空",
	
	"ITSH400":"询盘信息多条异常",
	"ITSH401":"船舶保存类型为空",
	"ITSH402":"船舶审核标识为空",
	"ITSH403":"船舶审核驳回信息为空",
	"ITSH404":"询盘uuid为空",
	"ITSH405":"询盘信息为空",
	"ITSH406":"询盘状态发生改变，请刷新重试",
	"ITSH407":"用户角色信息为空",
	"ITSH408":"发布操作，时效为空",
	"ITSH409":"excel文件数据格式不正确",
	"ITSH410":"数据保存失败，船名匹配异常",
	
	"ITSH411":"open为空",
	"ITSH412":"ETA Fujairah和ETA Cabinda都为空",
	"ITSH413":"时效为空",
	"ITSH414":"导出类别异常",
	"ITSH415":"用户具有多角色",
	"ITSH416":"船舶代码imo已存在",
	"ITSH417":"当前租船需求已指定承运商，不能再进行询盘操作",
	
	"ITSH519":"货物装港信息多条异常",
	"ITSH520":"货物卸港信息多条异常",
	"ITSH521":"一条协议只能维护一条装港信息",
	"ITSH522":"一条协议只能维护一条卸港信息",
	"ITSH524":"船装港uuid为空",
	"ITSH525":"船卸港uuid为空",
	"ITSH526":"查询编号为空",
	"ITSH527":"装港油种名称不能重复",
	"ITSH528":"卸港油种名称不能重复",
	"ITSH529":"航次已结束",
	"ITSH530":"有订单租船必须维护货物装港信息",
	
	"ITSH531":"有订单租船必须维护货物卸港信息",
	"ITSH532":"当前订单已经生成租船需求",
	"ITSH533":"需求类型为空",
	"ITSH534":"需求类型错误",
	"ITSH535":"当前用户公司信息为空",
	"ITSH536":"在途信息一天只能维护一条",
	"ITSH537":"请先维护装货信息",
	"ITSH538":"同步订单装港信息接口异常",
	"ITSH539":"同步订单卸港信息接口异常",
	
	"ITSH543":"订单详情查询接口异常",
	"ITSH544":"卸港指定为空",
	"ITSH545":"查询企业信息接口异常",
	"ITSH546":"此租船需求指定承运商不是您，请刷新需求列表",
	"ITSH548":"请先维护航次开始信息",
	
	"ITSH550":"类型为空",
	"ITSH551":"日期格式不正确",
	"ITSH552":"系统异常",
	"ITSH553":"航次开始信息已存在",
	"ITSH554":"会员资质类型为空",
	"ITSH555":"会员根据epMemberI查询企业信息接口异常",
	"ITSH556":"根据装港和油种未找到船务装港信息",
	"ITSH557":"根据卸港和油种未找到船务卸港信息",
	"ITSH558":"根据订单编号未找到租船信息",
	"ITSH559":"租船状态发送改变，请重新进入该页面",
	"ITSH560":"此需求已生成协议",
	"ITSH561":"同步订单船舶信息失败",
	
	"ITSH601":"船意向UUID为空",
	"ITSH602":"报盘信息为空",
	"ITSH603":"报盘状态发生改变，请刷新重试",
	"ITSH604":"港口地区关系为空",
	"ITSH605":"第一装港为空",
	"ITSH606":"企业全称为空",
	"ITSH607":"角色flag为空",
	"ITSH608":"报盘UUID为空",
	
	
	"ITSH701":"关键字不能为空",
	
	
	
	
	"CONSTANTS001":"附件信息新增成功",
	"CONSTANTS002":"船舶附件信息删除成功",
	"CONSTANTS003":"此数据已经不存在",
	"CONSTANTS004":"请不要插入重复数据",
	"CONSTANTS005":"您要删除的数据已经被操作，请刷新后重试",
	"CONSTANTS006":"报盘新增成功",
	"CONSTANTS007":"确认报盘成功",
	"CONSTANTS008":"撤销成功",
	"CONSTANTS009":"您操作的数据已经发生变化，请刷新后重试",
	"CONSTANTS010":"询盘成功",
	"CONSTANTS011":"终止成功",
	"CONSTANTS012":"询盘信息修改成功",
	"CONSTANTS013":"确认询盘成功",
	"CONSTANTS014":"船盘信息新增成功",
	"CONSTANTS015":"船盘信息修改成功",
	"CONSTANTS016":"船盘撤销成功",
	"CONSTANTS017":"船盘发布成功",
	"CONSTANTS018":"船盘删除成功",
	"CONSTANTS019":"船舶信息新增成功",
	"CONSTANTS020":"船舶信息修改成功",
	"CONSTANTS021":"船舶状态修改成功",
	"CONSTANTS022":"船舶信息删除成功",
	"CONSTANTS023":"潮汐信息新增成功",
	"CONSTANTS024":"潮汐信息修改成功",
	"CONSTANTS025":"潮汐信息删除成功",
	"CONSTANTS026":"已经存在该中文名称的单位，无法重复添加",
	"CONSTANTS027":"该对象存在关联关系，请删除关系后再操作",
	"CONSTANTS028":"您操作的数据正在被修改，请稍后再试",
	"CONSTANTS029":"已经存在比例，无需重复插入",
	"CONSTANTS030":"您刚操作的数据已经改变，请重新操作",
	"CONSTANTS031":"无此比率",
	"CONSTANTS032":"洽谈中",
	"CONSTANTS033":"已成交",
	
	
	
	
	
	
	"JAVASCRIPT001":"请选择日期",
	"JAVASCRIPT002":"结束日期不能小于开始日期",
	"JAVASCRIPT003":"系统异常",
	"JAVASCRIPT004":"租船需求uuid为空",
	"JAVASCRIPT005":"请输入数量",
	"JAVASCRIPT006":"请选择油种",
	"JAVASCRIPT007":"请选择装港",
	"JAVASCRIPT008":"请选择卸港",
	"JAVASCRIPT009":"请选择装期",
	"JAVASCRIPT0010":"装期开始时间不能大于结束时间",
	
	"JAVASCRIPT0011":"修改租船协议成功",
	"JAVASCRIPT0012":"添加租船协议成功",
	"JAVASCRIPT0013":"请选择租约日",
	"JAVASCRIPT0014":"请输入甲方",
	"JAVASCRIPT0015":"请输入乙方",
	"JAVASCRIPT0016":"请选择船名",
	"JAVASCRIPT0017":"请输入数量",
	"JAVASCRIPT0018":"确定删除吗",
	"JAVASCRIPT0019":"删除成功",
	"JAVASCRIPT0020":"船合同uuid为空",
	
	"JAVASCRIPT0021":"成功",
	"JAVASCRIPT0022":"确定取消吗",
	"JAVASCRIPT0023":"报盘信息",
	"JAVASCRIPT0024":"报盘确认",
	"JAVASCRIPT0025":"返回",
	"JAVASCRIPT0026":"完善租船协议",
	"JAVASCRIPT0027":"失败",
	"JAVASCRIPT0028":"装期开始日期不能大于结束日期",
	"JAVASCRIPT0029":"请填写意向货量",
	"JAVASCRIPT0030":"请填写意向装货地点",
	
	"JAVASCRIPT0031":"请填写意向卸货地点",
	"JAVASCRIPT0032":"请填写WS点",
	"JAVASCRIPT0033":"请输滞期费率",
	"JAVASCRIPT0034":"请输入允许装卸时间",
	"JAVASCRIPT0035":"请输入航速",
	"JAVASCRIPT0036":"请输入佣金",
	"JAVASCRIPT0037":"该商品已经加入对比",
	"JAVASCRIPT0038":"隐藏",
	"JAVASCRIPT0039":"展开",
	"JAVASCRIPT0040":"商品加入对比成功",
	
	"JAVASCRIPT0041":"商品取消对比成功",
	"JAVASCRIPT0042":"对比栏已全部清除",
	"JAVASCRIPT0043":"错误",
	"JAVASCRIPT0044":"确定成交吗",
	"JAVASCRIPT0045":"确定终止吗",
	"JAVASCRIPT0046":"还盘装期开始不能为空",
	"JAVASCRIPT0047":"还盘装期结束不能为空",
	"JAVASCRIPT0048":"意向装货量不能为空",
	"JAVASCRIPT0049":"意向装货量格式必须为数字",
	"JAVASCRIPT0050":"还盘意向装货地点不能为空",
	
	"JAVASCRIPT0051":"还盘意向卸货地点不能为空",
	"JAVASCRIPT0052":"WS点不能为空",
	"JAVASCRIPT0053":"WS点格式必须为数字",
	"JAVASCRIPT0054":"滞期费率不能为空",
	"JAVASCRIPT0055":"滞期费率格式必须为数字",
	"JAVASCRIPT0056":"允许装卸时间不能为空",
	"JAVASCRIPT0057":"允许装卸时间格式必须为数字",
	"JAVASCRIPT0058":"航速不能为空",
	"JAVASCRIPT0059":"佣金格式必须为数字",
	"JAVASCRIPT0060":"确定提交吗",

	"JAVASCRIPT0061":"还盘提交成功",
	"JAVASCRIPT0062":"还盘提交失败",
	"JAVASCRIPT0063":"意向装期开始不能为空",
	"JAVASCRIPT0064":"意向装期结束不能为空",
	"JAVASCRIPT0065":"意向装货量不能为空",
	"JAVASCRIPT0066":"意向装货量格式必须为数字",
	"JAVASCRIPT0067":"意向装货地点不能为空",
	"JAVASCRIPT0068":"意向卸货地点不能为空",
	"JAVASCRIPT0069":"意向允许装卸时间格式必须为数字",
	"JAVASCRIPT0070":"确定询盘吗",														
	
	"JAVASCRIPT0071":"提交",
	"JAVASCRIPT0072":"添加信息（*为必填项）",
	"JAVASCRIPT0073":"地区必填 10个字符以内",
	"JAVASCRIPT0074":"船型必选",
	"JAVASCRIPT0075":"自定义船型必填,且10个字符以内",
	"JAVASCRIPT0076":"ws点必填 10位数以内",
	"JAVASCRIPT0077":"名称必填",
	"JAVASCRIPT0078":"参考路线限制长度255个字符以内",
	"JAVASCRIPT0079":"价格必填 10位数以内",
	"JAVASCRIPT0080":"日期必填",	
	
	"JAVASCRIPT0081":"描述内容过长",
	"JAVASCRIPT0082":"保存成功保存成功",
	"JAVASCRIPT0083":"放弃保存吗",
	"JAVASCRIPT0084":"修改信息（*为必填项）",
	"JAVASCRIPT0085":"类型不能为空",
	"JAVASCRIPT0086":"船舶信息已关联船盘，不能删除",
	"JAVASCRIPT0087":"确定删除附件吗",
	"JAVASCRIPT0088":"船舶代码不能为空",
	"JAVASCRIPT0089":"船名不能为空",
	"JAVASCRIPT0090":"建造年份不能为空",														
														
	"JAVASCRIPT0091":"船长请输入数字",
	"JAVASCRIPT0092":"船宽请输入数字",
	"JAVASCRIPT0093":"吃水请输入数字",
	"JAVASCRIPT0094":"载重吨请输入数字",
	"JAVASCRIPT0095":"载重容积请输入数字",
	"JAVASCRIPT0096":"您已提交船舶信息，待平台审核通过后，即可发布船盘信息，请您耐心等待，大约2-3天，系统将给您反馈审核结果",
	"JAVASCRIPT0097":"船合同uuid为空",
	"JAVASCRIPT0098":"状态改变，请刷新页面重试",
	"JAVASCRIPT0099":"维护货物卸港信息成功",
	"JAVASCRIPT00100":"请先维护船舶卸港信息",				
													
	"JAVASCRIPT00101":"运单uuid为空",
	"JAVASCRIPT00102":"维护货物装港信息成功",
	"JAVASCRIPT00103":"请先维护船舶装港信息",
	"JAVASCRIPT00104":"结束日期不能小于开始日期",
	"JAVASCRIPT00105":"请输入ws点",
	"JAVASCRIPT00106":"BASIS开始日期不能大于结束日期",
	"JAVASCRIPT00107":"装期开始时间不能大于结束时间",
	"JAVASCRIPT00108":"修改租船信息成功",
	"JAVASCRIPT00109":"添加租船信息成功",
	"JAVASCRIPT00110":"请选择租约日",													
	
	"JAVASCRIPT00111":"请填写租船人",
	"JAVASCRIPT00112":"请填写装期信息",
	"JAVASCRIPT00113":"请填写最小货量",
	"JAVASCRIPT00114":"请选择船名",
	"JAVASCRIPT00115":"请填写滞期费率",
	"JAVASCRIPT00116":"请选择船东",
	"JAVASCRIPT00117":"请填写合同航速",
	"JAVASCRIPT00118":"请选择经纪人",
	"JAVASCRIPT00119":"请填写允许装卸时间",
	"JAVASCRIPT00120":"船盘uuid为空",				
	
	"JAVASCRIPT00121":"请输入油种",
	"JAVASCRIPT00122":"维护船航次开始信息成功",
	"JAVASCRIPT00123":"维护船装港信息成功",
	"JAVASCRIPT00124":"每条装港至少选择一条协议",
	"JAVASCRIPT00125":"成功导入数据2条",
	"JAVASCRIPT00126":"确定航次结束吗",
	"JAVASCRIPT00127":"维护船卸港信息成功",
	"JAVASCRIPT00128":"请选择卸港商检",
	"JAVASCRIPT00129":"请选择卸港船代",
	"JAVASCRIPT00130":"请选择卸港监卸",												
													
	"JAVASCRIPT00131":"请选择油种信息",
	"JAVASCRIPT00132":"每条卸港至少选择一条协议",
	"JAVASCRIPT00133":"删除船在途信息成功",
	"JAVASCRIPT00134":"请输入卸港",
	"JAVASCRIPT00135":"请选择ETA",
	"JAVASCRIPT00136":"维护船在途信息成功",
	"JAVASCRIPT00137":"请输入位置",
	"JAVASCRIPT00138":"请输入平均速度(24H)",
	"JAVASCRIPT00139":"请输入平均速度（全程）",
	"JAVASCRIPT00140":"请输入RPM",	
	
	"JAVASCRIPT00141":"请输入海况",
	"JAVASCRIPT00142":"协议uuid为空",
	"JAVASCRIPT00143":"匹配成功",
	"JAVASCRIPT00144":"运单uuid为空",
	"JAVASCRIPT00145":"船位不能为空",
	"JAVASCRIPT00146":"船型不能为空",
	"JAVASCRIPT00147":"ETA Cabinda 和 ETA Cabinda 必须填写一个",
	"JAVASCRIPT00148":"船东不能为空",
	"JAVASCRIPT00149":"添加船盘（*为必填项）",
	"JAVASCRIPT00150":"ETA不能为空",	
	
	"JAVASCRIPT00151":"船盘保存成功",
	"JAVASCRIPT00152":"编辑船盘（*为必填项）",
	"JAVASCRIPT00153":"确定撤销吗",
	"JAVASCRIPT00154":"未发布",
	"JAVASCRIPT00155":"结算单租船协议uuid为空",
	"JAVASCRIPT00156":"租船协议编号为空",
	"JAVASCRIPT00157":"发票号码必填",
	"JAVASCRIPT00158":"收款方必填",
	"JAVASCRIPT00159":"付款方必填",
	"JAVASCRIPT00160":"请选择港口",													
													
	"JAVASCRIPT00161":"添加潮汐（*为必填项）",
	"JAVASCRIPT00162":"港口名称不能为空",
	"JAVASCRIPT00163":"潮汐时间不能为空",
	"JAVASCRIPT00164":"小时请输入数字",
	"JAVASCRIPT00165":"分钟请输入数字",
	"JAVASCRIPT00166":"潮高请输入数字",
	"JAVASCRIPT00167":"潮汐保存成功",
	"JAVASCRIPT00168":"编辑潮汐（*为必填项）",
	"JAVASCRIPT00169":"查看潮汐",
	"JAVASCRIPT00170":"值集错误",														
													
	"JAVASCRIPT00171":"添加船舶（*为必填项）",
	"JAVASCRIPT00172":"船舶保存成功",
	"JAVASCRIPT00173":"编辑船舶（*为必填项）",
	"JAVASCRIPT00174":"查看船舶",
	"JAVASCRIPT00175":"审核通过",
	"JAVASCRIPT00176":"驳回",
	"JAVASCRIPT00177":"审核船舶",
	"JAVASCRIPT00178":"审核已通过",
	"JAVASCRIPT00179":"驳回信息不能为空",
	"JAVASCRIPT00180":"审核已驳回",																	
														
	"JAVASCRIPT00181":"下载",
	"JAVASCRIPT00182":"终止",	
	"JAVASCRIPT00183":"数量",	
	"JAVASCRIPT00184":"装货区域",	
	"JAVASCRIPT00185":"装港",	
	"JAVASCRIPT00186":"卸货区域",
	"JAVASCRIPT00187":"卸港",
	"JAVASCRIPT00188":"装期layCan",
	"JAVASCRIPT00189":"船型",
	"JAVASCRIPT00190":"船龄",	
	
	"JAVASCRIPT00191":"其他要求",
	"JAVASCRIPT00192":"公司",	
	"JAVASCRIPT00193":"联系人",	
	"JAVASCRIPT00194":"邮箱",	
	"JAVASCRIPT00195":"电话",	
	"JAVASCRIPT00196":"删除",	
	"JAVASCRIPT00197":"open 不能为空",
	"JAVASCRIPT00198":"确认发送报盘",	
	"JAVASCRIPT00199":"是否确认报盘",	
	"JAVASCRIPT00200":"货盘或船盘UUID为空",	
																
	"JAVASCRIPT00201":"请选择数量单位",	
	"JAVASCRIPT00202":"请阅读并同意协议",	
	"JAVASCRIPT00203":"最小船龄不能大于最大船龄",	
	"JAVASCRIPT00204":"租船申请信息新增成功",	
	"JAVASCRIPT00205":"租船申请信息修改成功",	
	"JAVASCRIPT00206":"请选择最小船龄",	
	"JAVASCRIPT00207":"请选择最大船龄",	
	"JAVASCRIPT00208":"请输入公司名称",	
	"JAVASCRIPT00209":"请输入联系人",	
	"JAVASCRIPT00210":"请输入邮箱",	
														
	"JAVASCRIPT00211":"请输入电话",	
	"JAVASCRIPT00212":"邮箱输入不正确",	
	"JAVASCRIPT00213":"电话输入不正确",	
	"JAVASCRIPT00214":"指定转租船东成功",	
	"JAVASCRIPT00215":"请选择数量单位",	
	"JAVASCRIPT00216":"撤销操作会终止当前船盘洽谈中的信息，继续？",	
	"JAVASCRIPT00217":"请输入装港信息",	
	"JAVASCRIPT00218":"请输入卸港信息",	
	"JAVASCRIPT00219":"确定匹配完成吗？",	
	"JAVASCRIPT00220":"匹配完成",	
	
	
	
	"JAVASCRIPT00221":"请选择时间",	
	"JAVASCRIPT00222":"确认指定转租船东",	
	"JAVASCRIPT00223":"询盘确认信息",	
	"JAVASCRIPT00224":"报盘确认信息",	
	"JAVASCRIPT00225":"其它",
	"JAVASCRIPT00226":"最小船龄不能大于最大船龄",
	"JAVASCRIPT00227":"放弃保存吗？",
	"JAVASCRIPT00228":"请输入最小船龄",
	"JAVASCRIPT00229":"请输入最大船龄",
	"JAVASCRIPT00230":"请输入公司名称",	
	
	"JAVASCRIPT00231":"请输入联系人",	
	"JAVASCRIPT00232":"请输入邮箱",	
	"JAVASCRIPT00233":"请输入电话",	
	"JAVASCRIPT00234":"邮箱输入不正确",	
	"JAVASCRIPT00235":"电话输入不正确",
	"JAVASCRIPT00236":"操作失败",
	"JAVASCRIPT00237":"询盘信息",
	"JAVASCRIPT00238":"租船确认信息",
	"JAVASCRIPT00239":"当前需求已询过当前船盘!",
	"JAVASCRIPT00240":"s_zgplus.jpg",
	
	"JAVASCRIPT00241":"请选择装港",
	"JAVASCRIPT00242":"请选择卸港",
	"JAVASCRIPT00243":"请选择船代",
	"JAVASCRIPT00244":"请选择客户",
	"JAVASCRIPT00245":"导出模板",
	"JAVASCRIPT00246":"批量导入船盘",
	"JAVASCRIPT00247":"油种",
	
	"":""
	
	
	
}