{
	"9999":"The system is abnormal.",
	"001":"Prompt",
	"002":"ok",
	"003":"cancel",
	"sys004":"No Record",
	
	"ITSH001":"The identity information is empty.",
	"ITSH002":"uuid is empty.",
	"ITSH003":"The waybill data is empty.",
	"ITSH004":"The port of loading information of ship and goods is empty.",
	"ITSH005":"The waybill id is empty.",
	"ITSH006":"The waybill uuid is empty.",
	"ITSH007":"The voyage beginning information is empty.",
	"ITSH008":"The port of unloading information of ship and goods is empty.",
	"ITSH009":"The in-transit data is empty.",
	"ITSH010":"The port of loading information of goods is empty.",
	"ITSH011":"The port of unloading information of goods is empty.",
	"ITSH012":"The ship uuid is empty.",
	"ITSH013":"The ship data is empty.",
	"ITSH014":"The ship status has changed, please refresh and try again.",
	"ITSH015":"The operator type is empty.",
	"ITSH016":"The goods uuid is empty.",
	"ITSH017":"The goods data is empty.",
	"ITSH018":"The goods  status has changed, please refresh and try again.",
	"ITSH019":"The waybill  status has changed, please refresh and try again.",
	"ITSH020":"The goods id is empty.",
	"ITSH021":"Party A's information is empty.",
	"ITSH022":"Party B's information is empty.",
	"ITSH023":"The ship information is empty.",
	"ITSH024":"The lease date is empty.",
	"ITSH025":"The ship is not found in the ship database.",
	"ITSH026":"The agency agreement uuid is empty.",
	"ITSH027":"The agency agreement data is empty.",
	"ITSH028":"The charterer information is empty.",
	"ITSH029":"The shipowner is empty.",
	"ITSH030":"The ship name is empty.",
	"ITSH031":"The date of shipment is empty.",
	"ITSH032":"The minimum quantity of goods is empty.",
	"ITSH033":"The WS point is empty.",
	"ITSH034":"The contract specified speed  is empty.",
	"ITSH035":"The demurrage rate is empty.",
	"ITSH036":"The broker is empty.",
	"ITSH037":"The permissible handling time is empty.",
	"ITSH038":"The ship contract uuid is empty.",
	"ITSH039":"The ship contract data is empty.",
	"ITSH040":"The voyage beginning list is empty.",
	"ITSH041":"The oil type is empty.",
	"ITSH047":"The port of shipment list is empty.",
	"ITSH048":"The port of shipment is empty.",
	"ITSH049":"ETA is empty.",
	"ITSH060":"Please first select at least one agency agreement. ",
	"ITSH061":"Please select the maintenance of voyage beginning information.",
	"ITSH062":"Please select the maintenance of ship port of shipment information.",
	"ITSH063":"Please select the maintenance of at least one piece of in-transit information.",
	"ITSH064":"The date is empty.",
	"ITSH074":"The ship in-transit uuid is empty.",
	"ITSH075":"The port of unloading is empty.",
	"ITSH085":"The port of unloading list is empty.",
	"ITSH086":"The chartering agreement status has changed, please refresh and try again.",
	"ITSH087":"The ship contract status has changed, please refresh and try again.",
	"ITSH088":"The agreement data is abnormal.",
	"ITSH089":"The value set type is empty.",
	"ITSH101":"The chartering information has been annulled.",
	"ITSH104":"The chartering information not released cannot be annulled .",
	"ITSH105":"The chartering information cannot be confirmed.",
	"ITSH106":"The order No is empty.",
	"ITSH109":"Load and discharge port cannot be empty same time",
	"ITSH110":"Load and discharge area cannot be empty same time",
	"ITSH113":"The chartering list is empty.",
	"ITSH200":"The ship uuid is empty.",
	"ITSH202":"The ship code IMO is empty.",
	"ITSH203":"The ship name is empty.",
	"ITSH204":"The flag is empty.",
	"ITSH205":"The ship type is empty.",
	"ITSH206":"The builder is empty.",
	"ITSH207":"The classification society is empty.",
	"ITSH208":"The building year is empty.",
	"ITSH209":"The hull is empty.",
	"ITSH210":"The ship length is empty.",
	"ITSH211":"The ship width is empty.",
	"ITSH212":"The draft is empty.",
	"ITSH213":"The deadweight ton is empty.",
	"ITSH214":"The gross ton is empty.",
	"ITSH215":"The load capacity is empty.",
	"ITSH216":"The attachment is empty.",
	"ITSH217":"The ship ID is empty.",
	"ITSH218":"The attachment uuid is empty.",
	"ITSH220":"The tide uuid is empty.",
	"ITSH221":"The tide information is empty.",
	"ITSH222":"The port code is empty.",
	"ITSH223":"The port name is empty.",
	"ITSH224":"The tide hour is empty.",
	"ITSH225":"The tide minute is empty.",
	"ITSH226":"The tide height  is empty.",
	"ITSH227":"The tide date is empty.",
	"ITSH235":"The ship owner is empty.",
	"ITSH237":"The position is empty.",
	"ITSH239":"The broker is empty.",
	"ITSH240":"The remarks is empty.",
	"ITSH301":"The query unit object is empty.",
	"ITSH302":"The query unit rate object is empty.",
	"ITSH303":"The query unit uuid is empty.",
	"ITSH304":"The query unit rate uuid is empty.",
	"ITSH305":"The unit type is empty.",
	"ITSH306":"The unit name is empty.",
	"ITSH307":"Whether the unit is used for reference is empty.",
	"ITSH308":"The unit rate reference unit is empty.",
	"ITSH309":"The unit rate comparison unit is empty.",
	"ITSH310":"The unit rate base number is empty.",
	"ITSH311":"The unit rate index is empty.",
	"ITSH312":"The basic freight rate object  is empty.",
	"ITSH313":"The first port of shipment name of basic freight rate object is empty.",
	"ITSH314":"The first port of unloading name of basic freight rate object is empty.",
	"ITSH315":"The basis of basic freight rate object is empty.",
	"ITSH316":"The freight rate year of basic freight rate object is empty.",
	"ITSH317":"The mileage of basic freight rate object is empty.",
	"ITSH318":"The basic freight rate object UUID is empty.",
	"ITSH330":"The region of basic freight rate object is empty.",
	"ITSH319":"The deal point object is empty.",
	"ITSH320":"The deal point object uuid is empty.",
	"ITSH321":"The region name of deal point object is empty.",
	"ITSH322":"The ship type of deal point object is empty.",
	"ITSH323":"The price of deal point object is empty.",
	"ITSH324":"The deal point object name is empty.",
	"ITSH325":"The deal point object date is empty.",
	"ITSH326":"The  estimated single barrel freight of deal point object is empty.",
	"ITSH327":"The reference route of deal point object is empty.",
	"ITSH328":"Existed data",
	"ITSH329":"The insertion of deal point data failed.",
	"ITSH331":"The invoice No. on the settlement statement  is empty.",
	"ITSH332":"The agency agreement No. on the settlement statement is empty.",
	"ITSH333":"The payee on the settlement statement is empty.",
	"ITSH334":"The payer on the settlement statement is empty.",
	"ITSH335":"The invoice attachment on the settlement statement is empty.",
	"ITSH336":"The invoice attachment path on the settlement statement is empty.",
	"ITSH337":"The Freight Quantily on the settlement statement is empty.",
	"ITSH338":"The Freight overage Quantily on the settlement statement is empty.",
	"ITSH339":"The Freight overage Flatrate on the settlement statement is empty.",
	"ITSH340":"The Freight overage Rate on the settlement statement is empty.",
	"ITSH341":"The Freight overage Pct on the settlement statement is empty.",
	"ITSH342":"The Address Commission Pct on the settlement statement is empty.",
	"ITSH343":"The Address Commission Quantily on the settlement statement is empty.",
	"ITSH344":"The Freight Total on the settlement statement is empty.",
	"ITSH345":"The Freight overage Total on the settlement statement is empty.",
	"ITSH346":"The Address Commission Total on the settlement statement is empty.",
	"ITSH347":"The Freight Amount on the settlement statement is empty.",
	"ITSH348":"The Freight overage Amount on the settlement statement is empty.",
	"ITSH349":"The Address Commission Amount on the settlement statement is empty.",
	"ITSH350":"The Balance in USD on the settlement statement is empty.",
	"ITSH351":"The agreement uuid on the settlement statement is empty.",
	"ITSH352":"The ship contract uuid on the settlement statement is empty.",
	"ITSH400":"Multiple pieces of inquiry information are abnormal.",
	"ITSH401":"The ship save type is empty.",
	"ITSH402":"The ship examination ID is empty.",
	"ITSH403":"The ship examination rejection information is empty.",
	"ITSH404":"The inquiry uuid is empty.",
	"ITSH405":"The inquiry information is empty.",
	"ITSH406":"The inquiry status has changed, please refresh and try again.",
	"ITSH407":"The user role information is empty.",
	"ITSH408":"The time limit of issue operation is empty.",
	"ITSH409":"The data format of excel file is incorrect.",
	"ITSH410":"Data save failed, ship name match is abnormal.",
	"ITSH411":"open is empty.",
	"ITSH412":"ETA Fujairah and ETA Cabinda are both empty.",
	"ITSH413":"The time limit is empty.",
	"ITSH414":"The export type is abnormal.",
	"ITSH415":"The user has multiple roles.",
	"ITSH416":"The ship code imo has existed.",
	"ITSH417":"This vessel demand is appointed to disponent owner, cannot inquiry again",
	"ITSH519":"Multiple pieces of goods port of shipment information are abnormal.",
	"ITSH520":"Multiple pieces of goods port of unloading information are abnormal.",
	"ITSH521":"Only one piece of port of shipment information can be maintained for one agreement.",
	"ITSH522":"Only one piece of port of unloading information can be maintained for one agreement.",
	"ITSH524":"The ship port of shipment uuid is empty.",
	"ITSH525":"The ship port of unloading uuid is empty.",
	"ITSH526":"The query No. is empty.",
	"ITSH527":"The port of shipment oil type name cannot be repeated.",
	"ITSH528":"The port of unloading oil type name cannot be repeated.",
	"ITSH529":"The voyage has ended.",
	"ITSH530":"The goods port of shipment information must be maintained in case of a chartering order.",
	"ITSH531":"The goods port of unloading information must be maintained in case of a chartering order.",
	"ITSH532":"The chartering requirement has been generated for current order.",
	"ITSH533":"The requirement type is empty.",
	"ITSH534":"The requirement type is wrong.",
	"ITSH535":"Current user company information is empty.",
	"ITSH536":"Only one piece of in-transit information can be maintained each day.",
	"ITSH537":"Please first maintain the loading information.",
	"ITSH538":"The order port of shipment information synchronization interface is abnormal.",
	"ITSH539":"The order port of unloading information synchronization interface abnormal.",
	"ITSH543":"The order details query interface is abnormal.",
	"ITSH544":"The port of unloading designation is empty.",
	"ITSH545":"The enterprise information query interface is abnormal.",
	"ITSH546":"You are not the designated carrier of this chartering requirement, please refresh the requirement list.",
	"ITSH548":"Please first maintain the voyage beginning information.",
	"ITSH550":"The type is empty.",
	"ITSH551":"The date format is incorrect.",
	"ITSH552":"The system is abnormal.",
	"ITSH553":"The voyage beginning information has existed.",
	"ITSH554":"The member qualification type is empty.",
	"ITSH555":"The interface is abnormal when a member queries the enterprise information according to epMemberId.",
	"ITSH556":"The port of shipment information is not found according to the port of shipment and oil type.",
	"ITSH557":"The port of unloading information is not found according to the port of unloading and oil type.",
	"ITSH558":"The chartering information is not found according to the order No.",
	"ITSH559":"The chartering status has changed, please enter this page anew.",
	"ITSH560":"This demand has been on sub",
	"ITSH561":"The order shipt information synchronization interfacn is abnormal.",
	"ITSH601":"The ship intention UUID is empty.",
	"ITSH602":"The offer information is empty.",
	"ITSH603":"The offer status has changed, please refresh and try again.",
	"ITSH604":"The port region relation is empty.",
	"ITSH605":"The first port of shipment is empty.",
	"ITSH606":"The enterprise full name is empty.",
	"ITSH607":"The role flag is empty.",
	"ITSH608":"Offer UUID is empty",
	
	"ITSH701":"The keyword  is  empty.",
	
	
	
	
	"CONSTANTS001":"The attachment information has been successfully added.",
	"CONSTANTS002":"The ship attachment information has been successfully deleted.",
	"CONSTANTS003":"This data hasn't existed.",
	"CONSTANTS004":"Don't insert the repeated data, please.",
	"CONSTANTS005":"The data to be deleted has been operated, please try again after refresh.",
	"CONSTANTS006":"The new offer has been added successfully.",
	"CONSTANTS007":"The offer has been confirmed successfully.",
	"CONSTANTS008":"Cancellation is successful.",
	"CONSTANTS009":"The data operated by you has changed, please try again after refresh.",
	"CONSTANTS010":"The inquiry is successful.",
	"CONSTANTS011":"The termination is successful.",
	"CONSTANTS012":"The inquiry information has been successfully modified.",
	"CONSTANTS013":"The inquiry  confirmation is successful.",
	"CONSTANTS014":"The ship information has been successfully added.",
	"CONSTANTS015":"The ship information  has been successfully modified.",
	"CONSTANTS016":"The ship has been successfully cancelled.",
	"CONSTANTS017":"The ship has been successfully issued.",
	"CONSTANTS018":"The ship has been successfully deleted.",
	"CONSTANTS019":"The ship information has been successfully added.",
	"CONSTANTS020":"The ship information has been successfully modified.",
	"CONSTANTS021":"The ship status has been successfully modified.",
	"CONSTANTS022":"The ship information has been successfully deleted.",
	"CONSTANTS023":"The tide information has been successfully added.",
	"CONSTANTS024":"The tide information has been successfully modified.",
	"CONSTANTS025":"The tide information has been successfully deleted.",
	"CONSTANTS026":"The unit in Chinese name has existed, and cannot be added repeatedly.",
	"CONSTANTS027":"This object has the association relationship, please operate after deleting such relationship.",
	"CONSTANTS028":"The data operated by you is being modified, please try again later.",
	"CONSTANTS029":"The ratio has existed, and there is no need to insert it repeatedly.",
	"CONSTANTS030":"The data just operated by you has changed, please operate anew.",
	"CONSTANTS031":"No such ratio",
	"CONSTANTS032":"during negotiation",
	"CONSTANTS033":"A deal has been concluded.",
	
	
	
	
	
	
	"JAVASCRIPT001":"Please select a date.",
	"JAVASCRIPT002":"The end date cannot be less than the beginning date.",
	"JAVASCRIPT003":"The system is abnormal.",
	"JAVASCRIPT004":"The chartering requirement uuid is empty.",
	"JAVASCRIPT005":"Please enter the quantity.",
	"JAVASCRIPT006":"Please select the oil type.",
	"JAVASCRIPT007":"Please select the port of shipment.",
	"JAVASCRIPT008":"Please select the port of unloading.",
	"JAVASCRIPT009":"Please select the date of shipment.",
	"JAVASCRIPT0010":"The beginning time of the date of shipment cannot be larger than the end time.",
	
	"JAVASCRIPT0011":"The agency agreement has been successfully modified.",
	"JAVASCRIPT0012":"The agency agreement has been successfully added.",
	"JAVASCRIPT0013":"Please select the lease date.",
	"JAVASCRIPT0014":"Please enter Party A.",
	"JAVASCRIPT0015":"Please enter Party B.",
	"JAVASCRIPT0016":"Please select the ship name.",
	"JAVASCRIPT0017":"Please enter the quantity.",
	"JAVASCRIPT0018":"Confirm deleting",
	"JAVASCRIPT0019":"Deleting is successful.",
	"JAVASCRIPT0020":"The ship contract uuid is empty.",
	
	"JAVASCRIPT0021":"Successful",
	"JAVASCRIPT0022":"Confirm cancelling",
	"JAVASCRIPT0023":"Offer information",
	"JAVASCRIPT0024":"Offer confirm",
	"JAVASCRIPT0025":"Back",
	"JAVASCRIPT0026":"Supplement the chartering agreement",
	"JAVASCRIPT0027":"Failed",
	"JAVASCRIPT0028":"The beginning time of the date of shipment cannot be larger than the end time.",
	"JAVASCRIPT0029":"Please fill the intended quantity of goods.",
	"JAVASCRIPT0030":"Please fill the intended place of loading.",
	
	"JAVASCRIPT0031":"Please fill the intended place of unloading.",
	"JAVASCRIPT0032":"Please fill the WS point.",
	"JAVASCRIPT0033":"Please enter the demurrage rate.",
	"JAVASCRIPT0034":"Please enter the permissible handling time.",
	"JAVASCRIPT0035":"Please enter the speed.",
	"JAVASCRIPT0036":"Please enter the commission.",
	"JAVASCRIPT0037":"This commodity has been added for comparison.",
	"JAVASCRIPT0038":"Hide",
	"JAVASCRIPT0039":"Unfold",
	"JAVASCRIPT0040":"The commodity has been successfully added for comparison.",
	
	"JAVASCRIPT0041":"The commodity has been successfully cancelled for comparison.",
	"JAVASCRIPT0042":"The comparison column has been cleared.",
	"JAVASCRIPT0043":"Wrong",
	"JAVASCRIPT0044":"Are you sure to conclude the transaction?",
	"JAVASCRIPT0045":"Are you sure to terminate?",
	"JAVASCRIPT0046":"The beginning date of shipment in the counter offer cannot be empty.",
	"JAVASCRIPT0047":"The ending date of shipment in the counter offer cannot be empty.",
	"JAVASCRIPT0048":"The intended quantity of goods cannot be empty.",
	"JAVASCRIPT0049":"The intended quantity of goods must be in figures.",
	"JAVASCRIPT0050":"The intended place of loading in the counter offer cannot be empty.",
	
	"JAVASCRIPT0051":"The intended place of unloading in the counter offer cannot be empty.",
	"JAVASCRIPT0052":"The WS point cannot be empty.",
	"JAVASCRIPT0053":"The WS point must be in figures.",
	"JAVASCRIPT0054":"The demurrage rate cannot be empty.",
	"JAVASCRIPT0055":"The demurrage rate must be in figures.",
	"JAVASCRIPT0056":"The permissible handling time cannot be empty.",
	"JAVASCRIPT0057":"The permissible handling time must be in figures.",
	"JAVASCRIPT0058":"The speed cannot be empty.",
	"JAVASCRIPT0059":"The commission must be in figures.",
	"JAVASCRIPT0060":"Are you sure to submit?",

	"JAVASCRIPT0061":"The counter offer has been successfully submitted.",
	"JAVASCRIPT0062":"The submission of counter offer failed.",
	"JAVASCRIPT0063":"The intended beginning date of shipment cannot be empty.",
	"JAVASCRIPT0064":"The intended end date of shipment cannot be empty.",
	"JAVASCRIPT0065":"The intended quantity of goods cannot be empty.",
	"JAVASCRIPT0066":"The intended quantity of goodsmust be in figures.",
	"JAVASCRIPT0067":"The intended place of loading cannot be empty.",
	"JAVASCRIPT0068":"he intended place of unloading cannot be empty.",
	"JAVASCRIPT0069":"The intended permissible handling time must be in figures.",
	"JAVASCRIPT0070":"Is inquiry confirmed?",														
	
	"JAVASCRIPT0071":"Submit",
	"JAVASCRIPT0072":"Add information (* is optional)",
	"JAVASCRIPT0073":"The region must be within 10 characters.",
	"JAVASCRIPT0074":"The ship type is mandatory.",
	"JAVASCRIPT0075":"The self-defined ship type is mandatory, and within 10 characters.",
	"JAVASCRIPT0076":"The ws point is mandatory and within 10-bit figures.",
	"JAVASCRIPT0077":"The name is mandatory.",
	"JAVASCRIPT0078":"The limited length of reference route is within 255 characters.",
	"JAVASCRIPT0079":"The price is mandatory and within 10-bit figures.",
	"JAVASCRIPT0080":"The date is mandatory",	
	
	"JAVASCRIPT0081":"The description content is too long.",
	"JAVASCRIPT0082":"save successful",
	"JAVASCRIPT0083":"No save?",
	"JAVASCRIPT0084":"Modification information (* is optional)",
	"JAVASCRIPT0085":"The type cannot be empty.",
	"JAVASCRIPT0086":"The ship information has been associated with the ship and cannot be deleted.",
	"JAVASCRIPT0087":"Are you sure to delete the attachment?",
	"JAVASCRIPT0088":"The ship code cannot be empty.",
	"JAVASCRIPT0089":"The ship name cannot be empty.",
	"JAVASCRIPT0090":"The building year cannot be empty.",														
						
	"JAVASCRIPT0091":"Please enter the ship length in figures.",
	"JAVASCRIPT0092":"Please enter the ship width in figures.",
	"JAVASCRIPT0093":"Please enter the draft in figures.",
	"JAVASCRIPT0094":"Please enter deadweight ton in figures.",
	"JAVASCRIPT0095":"Please enter loading capacity in figures.",
	"JAVASCRIPT0096":"You have submitted the ship information. After it passed the platform examination, the ship information may be issued. Please wait patiently. For about 2-3days, the system will feed back the examination result to you.",
	"JAVASCRIPT0097":"The ship contract uuid is empty.",
	"JAVASCRIPT0098":"The status has changed, please refresh the page and try again.",
	"JAVASCRIPT0099":"Cargo information at discharging port updated successfully.",
	"JAVASCRIPT00100":"Please first maintain the ship port of unloading information.",				
													
	"JAVASCRIPT00101":"The waybill uuid is empty.",
	"JAVASCRIPT00102":"Cargo information at loading port updated successfully.",
	"JAVASCRIPT00103":"Please first maintain the ship port of shipment information.",
	"JAVASCRIPT00104":"The end date cannot be less than the beginning date.",
	"JAVASCRIPT00105":"Please enter the ws point.",
	"JAVASCRIPT00106":"The BASIS beginning date cannot be larger than the end date.",
	"JAVASCRIPT00107":"The beginning time of the date of shipment cannot be larger than the end time.",
	"JAVASCRIPT00108":"The modification of ship contract is successful.",
	"JAVASCRIPT00109":"The ship contract has been successfully added.",
	"JAVASCRIPT00110":"Please select the lease date.",	
	
	"JAVASCRIPT00111":"Please fill the charterer.",
	"JAVASCRIPT00112":"Please fill the date of shipment information.",
	"JAVASCRIPT00113":"Please fill the minimum quantity of goods.",
	"JAVASCRIPT00114":"Please select the ship name.",
	"JAVASCRIPT00115":"Please fill the demurrage rate.",
	"JAVASCRIPT00116":"Please select the shipowner.",
	"JAVASCRIPT00117":"Please fill the contract speed.",
	"JAVASCRIPT00118":"Please select the broker.",
	"JAVASCRIPT00119":"Please fill the permissible handling time.",
	"JAVASCRIPT00120":"The ship uuid is empty.",				
	
	"JAVASCRIPT00121":"Please enter oil type.",
	"JAVASCRIPT00122":"The maintenance of ship voyage beginning information is successful.",
	"JAVASCRIPT00123":"The maintenance of ship port of shipment information is successful.",
	"JAVASCRIPT00124":"At least one agreement should be selected for each port of shipment.",
	"JAVASCRIPT00125":"2 data have been successfully imported.",
	"JAVASCRIPT00126":"Is the end of voyage confirmed?",
	"JAVASCRIPT00127":"The maintenance of ship port of unloading information is successful.",
	"JAVASCRIPT00128":"Please select the commodity inspection at the port of unloading.",
	"JAVASCRIPT00129":"Please select the shipping agent at the port of unloading.",
	"JAVASCRIPT00130":"Please select the unloading supervision at the port of unloading.",												
													
	"JAVASCRIPT00131":"Please select the oil type information.",
	"JAVASCRIPT00132":"At least one agreement should be selected for each port of unloading.",
	"JAVASCRIPT00133":"The deletion of ship in-transit information is successful.",
	"JAVASCRIPT00134":"Please enter port of unloading.",
	"JAVASCRIPT00135":"Please select the ETA.",
	"JAVASCRIPT00136":"The maintenance of ship in-transit information  is successful.",
	"JAVASCRIPT00137":"Please enter the location.",
	"JAVASCRIPT00138":"Please enter average speed (24H).",
	"JAVASCRIPT00139":"Please enter average speed (whole journey).",
	"JAVASCRIPT00140":"Please enter RPM.",	
	
	"JAVASCRIPT00141":"Please enter sea condition.",
	"JAVASCRIPT00142":"The agreement uuid is empty.",
	"JAVASCRIPT00143":"Matching is successful.",
	"JAVASCRIPT00144":"The waybill uuid is empty.",
	"JAVASCRIPT00145":"The position cannot be empty.",
	"JAVASCRIPT00146":"The ship type cannot be empty.",
	"JAVASCRIPT00147":"Either ETA Cabinda or ETA Cabinda must be filled.",
	"JAVASCRIPT00148":"The shipowner cannot be empty.",
	"JAVASCRIPT00149":"Add the ship  (* is optional)",
	"JAVASCRIPT00150":"ETA cannot be empty.",	
	
	"JAVASCRIPT00151":"The ship is saved successfully.",
	"JAVASCRIPT00152":"Edit ship  (* is optional)",
	"JAVASCRIPT00153":"Are you sure to cancel?",
	"JAVASCRIPT00154":"Not issued.",
	"JAVASCRIPT00155":"The settlement statement agency agreement uuid is empty.",
	"JAVASCRIPT00156":"The agency agreement No. is empty.",
	"JAVASCRIPT00157":"The invoice No. is mandatory.",
	"JAVASCRIPT00158":"The payee is mandatory.",
	"JAVASCRIPT00159":"The payer is mandatory.",
	"JAVASCRIPT00160":"Please select the  port.",	
													
	"JAVASCRIPT00161":"Add tide (* is optional)",
	"JAVASCRIPT00162":"The port name cannot be empty.",
	"JAVASCRIPT00163":"The tide time cannot be empty.",
	"JAVASCRIPT00164":"Please enter hour in figures.",
	"JAVASCRIPT00165":"Please enter minute in figures.",
	"JAVASCRIPT00166":"Please enter tide height in figures.",
	"JAVASCRIPT00167":"Tide is saved successfully.",
	"JAVASCRIPT00168":"Edit tide (* is optional)",
	"JAVASCRIPT00169":"View tide",
	"JAVASCRIPT00170":"Value set error",														
													
	"JAVASCRIPT00171":"Add ship  (* is optional)",
	"JAVASCRIPT00172":"Ship is saved successfully.",
	"JAVASCRIPT00173":"Edit ship  (* is optional)",
	"JAVASCRIPT00174":"View ship",
	"JAVASCRIPT00175":"Pass the examination.",
	"JAVASCRIPT00176":"Rejected.",
	"JAVASCRIPT00177":"Examine ship",
	"JAVASCRIPT00178":"Pass the examination.",
	"JAVASCRIPT00179":"Rejection information cannot be empty.",
	"JAVASCRIPT00180":"Examination has been rejected.",																	
														
	"JAVASCRIPT00181":"Download",
	"JAVASCRIPT00182":"Cancel",							
	"JAVASCRIPT00183":"QUANTITY",
	"JAVASCRIPT00184":"LOADING",	
	"JAVASCRIPT00185":"Loading Port",	
	"JAVASCRIPT00186":"DISCHARGING",
	"JAVASCRIPT00187":"Discharging Port",	
	"JAVASCRIPT00188":"LAYCAN",	
	"JAVASCRIPT00189":"Vessel Type",
	"JAVASCRIPT00190":"Vessel Age",
	
	"JAVASCRIPT00191":"Other Requirements",
	"JAVASCRIPT00192":"Company",
	"JAVASCRIPT00193":"Contact Person",	
	"JAVASCRIPT00194":"Email",
	"JAVASCRIPT00195":"Tel",	
	"JAVASCRIPT00196":"Delete",	
	"JAVASCRIPT00197":"Open cannot be empty",
	"JAVASCRIPT00198":"Confirm send offer?",	
	"JAVASCRIPT00199":"Confirm offer?",	
	"JAVASCRIPT00200":"Cargo or Vessel UUID is empty",	
																
	"JAVASCRIPT00201":"Please choose unit (MT/BBL)",	
	"JAVASCRIPT00202":"Please read accept agreement",	
	"JAVASCRIPT00203":"Minimum age cannot exceed Maximum age",	
	"JAVASCRIPT00204":"Chartering application added successfully",	
	"JAVASCRIPT00205":"Chartering application modified successfully",	
	"JAVASCRIPT00206":"Please choose minimum vessel age",	
	"JAVASCRIPT00207":"Please choose maximum vessel age",	
	"JAVASCRIPT00208":"Please input company name",	
	"JAVASCRIPT00209":"Please input PIC information",	
	"JAVASCRIPT00210":"Please input email address",	
														
	"JAVASCRIPT00211":"Please input phone no.",	
	"JAVASCRIPT00212":"Email not correct",	
	"JAVASCRIPT00213":"Phone Number not correct",	
	"JAVASCRIPT00214":"Appointed disponent owner successfully",	
	"JAVASCRIPT00215":"Please choose unit (MT/BBL)",	
	"JAVASCRIPT00216":"“Cancel” will terminate the vessel negotiation, confirm to continue?",	
	"JAVASCRIPT00217":"Please input load port information",	
	"JAVASCRIPT00218":"Please input discharge port information",	
	"JAVASCRIPT00219":"Confirm Allocation completed?",	
	"JAVASCRIPT00220":"Allocation Complete",	
	
	"JAVASCRIPT00221":"Please choose time",	
	"JAVASCRIPT00222":"Confirm to appoint disponent owner",		
	"JAVASCRIPT00223":"Inquiry confirmed information",		
	"JAVASCRIPT00224":"Offer confirmed information",	
	"JAVASCRIPT00225":"Others",
	"JAVASCRIPT00226":"Minimum age cannot exceed Maximum age",
	"JAVASCRIPT00227":"Give up preservation?",
	"JAVASCRIPT00228":"Please input minimum vessel age",
	"JAVASCRIPT00229":"Please input maximum vessel age",
	"JAVASCRIPT00230":"Please input company name",	
	
	"JAVASCRIPT00231":"Please input PIC information",	
	"JAVASCRIPT00232":"Please input email address",	
	"JAVASCRIPT00233":"Please input phone no",	
	"JAVASCRIPT00234":"Email not correct",	
	"JAVASCRIPT00235":"Phone Number not correct",
	"JAVASCRIPT00236":"Operation failed",
	"JAVASCRIPT00237":"Inquiry",
	"JAVASCRIPT00238":"Details of Charter Party",
	"JAVASCRIPT00239":"Current demand has been asked for the current ship",
	"JAVASCRIPT00240":"s_zgplus_en.jpg",
	
	"JAVASCRIPT00241":"Please choose Load port",
	"JAVASCRIPT00242":"Please choose discharge port",
	"JAVASCRIPT00243":"Please choose shipping agent",
	"JAVASCRIPT00244":"Please choose shipping company",
	"JAVASCRIPT00245":"Export Template",
	"JAVASCRIPT00246":"Import Data",
	"JAVASCRIPT00247":"OilType",
	
	
	
	
	
	"":""
	
	
	
	
	
	
	
}