.box{
	border: 1px solid #ccc;
	padding: 20px;
}
.inquire{
	height: 40px;	
	background-color: #ccc;

}
.inquire1{
	margin-top:20px;
	height: 40px;	
	background-color: #ccc;
	border-bottom: 2px solid #0a529c;
}
.inquire1 h3{
	font-size: 16px;
	padding-left:10px ;
	line-height: 40px;
} 
.inquire h3{
	font-size: 16px;
	padding-left:10px ;
	line-height: 40px;
}
.index-name{
	margin: 20px 0 0 100px;
}
.industry-name{
	margin: 25px 0 0 50px;
}
.btn{
	text-align: right;
	margin-right: 300px;
}
 .one thead tr th{
	text-align: center;
}

.one tbody tr td{
	text-align: center;
}
.mr5{
	color: #014f99;
}
.lypage{
	text-align: right;
}

/*分割*/

.wd{
	width: 218px !important;
}
.btn1{
	margin: 20px 0 0 30px;
}

.w{
	width: 50px;
} 
.w1{
	width: 100px;
}
 .two thead tr th{
	text-align: center;
}

.two tbody tr td{
	text-align: center;
}
.foot{
	height: 60px;
	background-color: #ccc;
	border-top: 2px solid #0e509a;
	text-align: center;
	
	
}
.foot a{
	border-radius: 5px;
	width: 50px;
	height: 25px;
	display: inline-block;
	margin: 20px 10px 0 0;
	border: 1px solid #ccc;
	background-color: #0e509a;
	color: #fff;
	padding-top: 5px;
	
}
.mr5{
	margin-top:5px;
}
.btnloc1{
	margin-left:210px;
}
.btnloc2{
	margin-top:50px;
}

/*弹出表单*/
.form-w{
	width: 80px !important;
}
