<div class="cg-trad clearfix">
    <div class="inner">
        <!--实时转计价-->
        <a name="sszjj"></a>
        <div class="cg-trad-t clearfix">
            $contain.get("/crudeoilhallform/oilPriceConvertion.htm")
        </div>
        <div class="cg-trad-line"></div>
        <!--内外贸价格转换-->
        <a name="nwmjg"></a>
        <div class="cg-trad-t cg-trats clearfix">
            $contain.get("/crudeoilhallform/oilTradePriceConvertion.htm")
        </div>
    </div>
</div>