<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sinochem.crude.trade.transaction.dao.PricingInfoMapper" >
    <resultMap id="pricingInfo" type="com.sinochem.crude.trade.transaction.domain.po.PricingInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="uuid" property="uuid" jdbcType="VARCHAR" />
        <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
        <result column="user_created" property="userCreated" jdbcType="BIGINT" />
        <result column="user_modified" property="userModified" jdbcType="BIGINT" />
        <result column="alive_flag" property="aliveFlag" jdbcType="INTEGER" />
        <result column="version" property="version" jdbcType="BIGINT" />
        <result column="currency_code" property="currencyCode" jdbcType="VARCHAR" />
        <result column="pricing_benchmark_code" property="pricingBenchmarkCode" jdbcType="VARCHAR" />
        <result column="pricing_benchmark_code2" property="pricingBenchmarkCode2" jdbcType="VARCHAR" />
        <result column="pricing_unit_code" property="pricingUnitCode" jdbcType="VARCHAR" />
        <result column="price_source_code" property="priceSourceCode" jdbcType="VARCHAR" />
        <result column="price_source_code2" property="priceSourceCode2" jdbcType="VARCHAR" />
        <result column="price_region_code" property="priceRegionCode" jdbcType="VARCHAR" />
        <result column="price_region_code2" property="priceRegionCode2" jdbcType="VARCHAR" />
        <result column="settlement_quantity" property="settlementQuantity" jdbcType="VARCHAR" />
        <result column="pricing_period" property="pricingPeriod" jdbcType="VARCHAR" />
        <result column="payment_term" property="paymentTerm" jdbcType="VARCHAR" />
        <result column="premiums_and_discounts" property="premiumsAndDiscounts" jdbcType="DECIMAL" />
        <result column="inspection_code" property="inspectionCode" jdbcType="VARCHAR" />
        <result column="law" property="law" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="insert" parameterType="com.sinochem.crude.trade.transaction.domain.po.PricingInfo"
            useGeneratedKeys="true" keyProperty="id">
        insert into t_pricing_info (
            uuid,
            gmt_created,
            gmt_modified,
            user_created,
            user_modified,
            alive_flag,
            version,
            currency_code,
            pricing_benchmark_code,
            pricing_benchmark_code2,
            pricing_unit_code,
            price_source_code,
            price_source_code2,
            price_region_code,
            price_region_code2,
            settlement_quantity,
            pricing_period,
            payment_term,
            premiums_and_discounts,
            inspection_code,
            law)
        values (
            #{uuid, jdbcType=VARCHAR},
            #{gmtCreated, jdbcType=TIMESTAMP},
            #{gmtModified, jdbcType=TIMESTAMP},
            #{userCreated, jdbcType=BIGINT},
            #{userModified, jdbcType=BIGINT},
            #{aliveFlag, jdbcType=INTEGER},
            #{version, jdbcType=BIGINT},
            #{currencyCode, jdbcType=VARCHAR},
            #{pricingBenchmarkCode, jdbcType=VARCHAR},
            #{pricingBenchmarkCode2, jdbcType=VARCHAR},
            #{pricingUnitCode, jdbcType=VARCHAR},
            #{priceSourceCode, jdbcType=VARCHAR},
            #{priceSourceCode2, jdbcType=VARCHAR},
            #{priceRegionCode, jdbcType=VARCHAR},
            #{priceRegionCode2, jdbcType=VARCHAR},
            #{settlementQuantity, jdbcType=VARCHAR},
            #{pricingPeriod, jdbcType=VARCHAR},
            #{paymentTerm, jdbcType=VARCHAR},
            #{premiumsAndDiscounts, jdbcType=DECIMAL},
            #{inspectionCode, jdbcType=VARCHAR},
            #{law, jdbcType=VARCHAR})
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
        DELETE FROM t_pricing_info
        WHERE id = #{id, jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.transaction.domain.po.PricingInfo" >
        update t_pricing_info
        <set >
            <if test="uuid != null" >
                uuid = #{uuid, jdbcType=VARCHAR},
            </if>
            <if test="gmtCreated != null" >
                gmt_created = #{gmtCreated, jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null" >
                gmt_modified = #{gmtModified, jdbcType=TIMESTAMP},
            </if>
            <if test="userCreated != null" >
                user_created = #{userCreated, jdbcType=BIGINT},
            </if>
            <if test="userModified != null" >
                user_modified = #{userModified, jdbcType=BIGINT},
            </if>
            <if test="aliveFlag != null" >
                alive_flag = #{aliveFlag, jdbcType=INTEGER},
            </if>
            <if test="version != null" >
                version = #{version, jdbcType=BIGINT},
            </if>
            <if test="currencyCode != null" >
                currency_code = #{currencyCode, jdbcType=VARCHAR},
            </if>
            <if test="pricingBenchmarkCode != null" >
                pricing_benchmark_code = #{pricingBenchmarkCode, jdbcType=VARCHAR},
            </if>
            <if test="pricingBenchmarkCode2 != null" >
                pricing_benchmark_code2 = #{pricingBenchmarkCode2, jdbcType=VARCHAR},
            </if>
            <if test="pricingUnitCode != null" >
                pricing_unit_code = #{pricingUnitCode, jdbcType=VARCHAR},
            </if>
            <if test="priceSourceCode != null" >
                price_source_code = #{priceSourceCode, jdbcType=VARCHAR},
            </if>
            <if test="priceSourceCode2 != null" >
                price_source_code2 = #{priceSourceCode2, jdbcType=VARCHAR},
            </if>
            <if test="priceRegionCode != null" >
                price_region_code = #{priceRegionCode, jdbcType=VARCHAR},
            </if>
            <if test="priceRegionCode2 != null" >
                price_region_code2 = #{priceRegionCode2, jdbcType=VARCHAR},
            </if>
            <if test="settlementQuantity != null" >
                settlement_quantity = #{settlementQuantity, jdbcType=VARCHAR},
            </if>
            <if test="pricingPeriod != null" >
                pricing_period = #{pricingPeriod, jdbcType=VARCHAR},
            </if>
            <if test="paymentTerm != null" >
                payment_term = #{paymentTerm, jdbcType=VARCHAR},
            </if>
            <if test="premiumsAndDiscounts != null">
                premiums_and_discounts = #{premiumsAndDiscounts, jdbcType=DECIMAL}
            </if>
        </set>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.transaction.domain.po.PricingInfo" >
        UPDATE t_pricing_info
        SET
            uuid = #{uuid, jdbcType=VARCHAR},
            gmt_created = #{gmtCreated, jdbcType=TIMESTAMP},
            gmt_modified = #{gmtModified, jdbcType=TIMESTAMP},
            user_created = #{userCreated, jdbcType=BIGINT},
            user_modified = #{userModified, jdbcType=BIGINT},
            alive_flag = #{aliveFlag, jdbcType=INTEGER},
            version = #{version, jdbcType=BIGINT},
            currency_code = #{currencyCode, jdbcType=VARCHAR},
            pricing_benchmark_code = #{pricingBenchmarkCode, jdbcType=VARCHAR},
            pricing_benchmark_code2 = #{pricingBenchmarkCode2, jdbcType=VARCHAR},
            pricing_unit_code = #{pricingUnitCode, jdbcType=VARCHAR},
            price_source_code = #{priceSourceCode, jdbcType=VARCHAR},
            price_source_code2 = #{priceSourceCode2, jdbcType=VARCHAR},
            price_region_code = #{priceRegionCode, jdbcType=VARCHAR},
            price_region_code2 = #{priceRegionCode2, jdbcType=VARCHAR},
            settlement_quantity = #{settlementQuantity, jdbcType=VARCHAR},
            pricing_period = #{pricingPeriod, jdbcType=VARCHAR},
            payment_term = #{paymentTerm, jdbcType=VARCHAR},
            premiums_and_discounts = #{premiumsAndDiscounts, jdbcType=DECIMAL}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <select id="selectByPrimaryKey" resultMap="pricingInfo" parameterType="java.lang.Long" >
        SELECT * FROM t_pricing_info
        WHERE id = #{id, jdbcType=BIGINT}
        AND alive_flag = 1
    </select>

    <select id="selectByUuid" resultMap="pricingInfo" parameterType="java.lang.String">
        SELECT * FROM t_pricing_info
        WHERE uuid = #{uuid, jdbcType=VARCHAR}
        AND alive_flag = 1
    </select>
</mapper>