<span class="c-logo" onclick="window.location.href='index.html'"></span>
<div class="c-nav">
	<ul class="c-nav-top clearfix">
		<li class="li-search"><i class="cw-ico ico-search-n"></i><input type="text" ></li>
		<li class="li-features"><a href="#"><i class="cw-ico ico-email-n"></i></a><a href="#"><i class="cw-ico ico-remind-n"><span>2</span></i></a><a href="#"><i class="cw-ico ico-set-n"></i></a><a href="front_login.html"><i class="cw-ico ico-exit-n"></i></a></li>
	</ul>
</div>
