<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--本文件内为系统生成文件，不允许人工修改， 如果被覆盖后果自负-->
<mapper namespace="com.sinochem.crude.trade.info.dao.immt.MemMemberImmtMapper">
	<resultMap type="com.sinochem.crude.trade.info.domain.MemMember" id="MemMember">
		<result property="id" column="ID" />
		<result property="memberId" column="MEMBER_ID" />
		<result property="epMemberId" column="EP_MEMBER_ID" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="memberNameShort" column="MEMBER_NAME_SHORT" />
		<result property="memberNameEn" column="MEMBER_NAME_EN" />
		<result property="loginName" column="LOGIN_NAME" />
		<result property="nickName" column="NICK_NAME" />
		<result property="imgurl" column="IMGURL" />
		<result property="personalNote" column="PERSONAL_NOTE" />
		<result property="createUser" column="CREATE_USER" />
		<result property="createDate" column="CREATE_DATE" />
		<result property="updateUser" column="UPDATE_USER" />
		<result property="updateDate" column="UPDATE_DATE" />
		<result property="aliveFlag" column="ALIVE_FLAG" />
		<result property="marketId" column="MARKET_ID" />
		<result property="langVer" column="LANG_VER" />
		<result property="ext1" column="EXT1" />
		<result property="ext2" column="EXT2" />
		<result property="ext3" column="EXT3" />
		<result property="ext4" column="EXT4" />
		<result property="ext5" column="EXT5" />
		<result property="ext6" column="EXT6" />
		<result property="ext7" column="EXT7" />
		<result property="ext8" column="EXT8" />
		<result property="ext9" column="EXT9" />
		<result property="ext10" column="EXT10" />
			</resultMap> 

	<select id="queryByEntitys" resultMap="MemMember" parameterType="com.sinochem.crude.trade.info.domain.MemMember">
	select * from t_mem_member
	where
		 ALIVE_FLAG='1'
								<if test="id!=null and id!=''">and  ID=#{id}</if>
											<if test="memberId!=null and memberId!=''">and  MEMBER_ID=#{memberId}</if>
											<if test="epMemberId!=null and epMemberId!=''">and  EP_MEMBER_ID=#{epMemberId}</if>
											<if test="memberName!=null and memberName!=''">and  MEMBER_NAME=#{memberName}</if>
											<if test="memberNameShort!=null and memberNameShort!=''">and  MEMBER_NAME_SHORT=#{memberNameShort}</if>
											<if test="memberNameEn!=null and memberNameEn!=''">and  MEMBER_NAME_EN=#{memberNameEn}</if>
											<if test="loginName!=null and loginName!=''">and  LOGIN_NAME=#{loginName}</if>
											<if test="nickName!=null and nickName!=''">and  NICK_NAME=#{nickName}</if>
											<if test="imgurl!=null and imgurl!=''">and  IMGURL=#{imgurl}</if>
											<if test="personalNote!=null and personalNote!=''">and  PERSONAL_NOTE=#{personalNote}</if>
											<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
											<if test="createDate!=null">and  CREATE_DATE=#{createDate}</if>
											<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
											<if test="updateDate!=null">and  UPDATE_DATE=#{updateDate}</if>
											<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
											<if test="marketId!=null and marketId!=''">and  MARKET_ID=#{marketId}</if>
											<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
											<if test="ext1!=null and ext1!=''">and  EXT1=#{ext1}</if>
											<if test="ext2!=null and ext2!=''">and  EXT2=#{ext2}</if>
											<if test="ext3!=null and ext3!=''">and  EXT3=#{ext3}</if>
											<if test="ext4!=null and ext4!=''">and  EXT4=#{ext4}</if>
											<if test="ext5!=null and ext5!=''">and  EXT5=#{ext5}</if>
											<if test="ext6!=null and ext6!=''">and  EXT6=#{ext6}</if>
											<if test="ext7!=null and ext7!=''">and  EXT7=#{ext7}</if>
											<if test="ext8!=null and ext8!=''">and  EXT8=#{ext8}</if>
											<if test="ext9!=null and ext9!=''">and  EXT9=#{ext9}</if>
											<if test="ext10!=null and ext10!=''">and  EXT10=#{ext10}</if>
						</select>
	
	<select id="findByPrimaryKey" resultMap="MemMember">
			select
			* from t_mem_member
			where
							 ID=#{id} 
																																																																																					and ALIVE_FLAG='1'
	</select>
	
	<update id="updateRecord" parameterType="com.sinochem.crude.trade.info.domain.MemMember">
		update t_mem_member
		<set>
         ID=#{id}
		<if test="memberId!=null">,MEMBER_ID = #{memberId}</if>
		<if test="epMemberId!=null">,EP_MEMBER_ID = #{epMemberId}</if>
		<if test="memberName!=null">,MEMBER_NAME = #{memberName}</if>
		<if test="memberNameShort!=null">,MEMBER_NAME_SHORT = #{memberNameShort}</if>
		<if test="memberNameEn!=null">,MEMBER_NAME_EN = #{memberNameEn}</if>
		<if test="loginName!=null">,LOGIN_NAME = #{loginName}</if>
		<if test="nickName!=null">,NICK_NAME = #{nickName}</if>
		<if test="imgurl!=null">,IMGURL = #{imgurl}</if>
		<if test="personalNote!=null">,PERSONAL_NOTE = #{personalNote}</if>
		<if test="createUser!=null">,CREATE_USER = #{createUser}</if>
		<if test="createDate!=null">,CREATE_DATE = #{createDate}</if>
		<if test="updateUser!=null">,UPDATE_USER = #{updateUser}</if>
		<if test="updateDate!=null">,UPDATE_DATE = #{updateDate}</if>
		<if test="aliveFlag!=null">,ALIVE_FLAG = #{aliveFlag}</if>
		<if test="marketId!=null">,MARKET_ID = #{marketId}</if>
		<if test="langVer!=null">,LANG_VER = #{langVer}</if>
		<if test="ext1!=null">,EXT1 = #{ext1}</if>
		<if test="ext2!=null">,EXT2 = #{ext2}</if>
		<if test="ext3!=null">,EXT3 = #{ext3}</if>
		<if test="ext4!=null">,EXT4 = #{ext4}</if>
		<if test="ext5!=null">,EXT5 = #{ext5}</if>
		<if test="ext6!=null">,EXT6 = #{ext6}</if>
		<if test="ext7!=null">,EXT7 = #{ext7}</if>
		<if test="ext8!=null">,EXT8 = #{ext8}</if>
		<if test="ext9!=null">,EXT9 = #{ext9}</if>
		<if test="ext10!=null">,EXT10 = #{ext10}</if>
		</set>
				where
								         ID=#{id}
																																																																																																																and ALIVE_FLAG='1'
	</update>
	
	<insert id="insertRecord" parameterType="com.sinochem.crude.trade.info.domain.MemMember" >
		insert  into t_mem_member (				ID
						,MEMBER_ID
						,EP_MEMBER_ID
						,MEMBER_NAME
						,MEMBER_NAME_SHORT
						,MEMBER_NAME_EN
						,LOGIN_NAME
						,NICK_NAME
						,IMGURL
						,PERSONAL_NOTE
						,CREATE_USER
						,CREATE_DATE
						,UPDATE_USER
						,UPDATE_DATE
						,ALIVE_FLAG
						,MARKET_ID
						,LANG_VER
						,EXT1
						,EXT2
						,EXT3
						,EXT4
						,EXT5
						,EXT6
						,EXT7
						,EXT8
						,EXT9
						,EXT10
						)
		values(		#{id}		
						,#{memberId}		
						,#{epMemberId}		
						,#{memberName}		
						,#{memberNameShort}		
						,#{memberNameEn}		
						,#{loginName}		
						,#{nickName}		
						,#{imgurl}		
						,#{personalNote}		
						,#{createUser}		
						,#{createDate}		
						,#{updateUser}		
						,#{updateDate}		
						,'1'		
						,#{marketId}		
						,#{langVer}		
						,#{ext1}		
						,#{ext2}		
						,#{ext3}		
						,#{ext4}		
						,#{ext5}		
						,#{ext6}		
						,#{ext7}		
						,#{ext8}		
						,#{ext9}		
						,#{ext10}		
				)
	</insert>

	<update id="deleteRecordByKey">
		update t_mem_member
			<set>
			ALIVE_FLAG='0'
	 		,UPDATE_USER = #{updateUser}
			,UPDATE_DATE = SYSDATE()
			</set> 
		where
													 ID=#{id} 
																																																																																																																																													
	</update>


    <!--
	<select id="queryRecords" resultType="java.util.HashMap" parameterType="hashmap">
	select
			  ID as "id" 
			 ,   MEMBER_ID as "memberId" 
			 ,   EP_MEMBER_ID as "epMemberId" 
			 ,   MEMBER_NAME as "memberName" 
			 ,   MEMBER_NAME_SHORT as "memberNameShort" 
			 ,   MEMBER_NAME_EN as "memberNameEn" 
			 ,   LOGIN_NAME as "loginName" 
			 ,   NICK_NAME as "nickName" 
			 ,   IMGURL as "imgurl" 
			 ,   PERSONAL_NOTE as "personalNote" 
			 ,   CREATE_USER as "createUser" 
			 ,   CREATE_DATE as "createDate" 
			 ,   UPDATE_USER as "updateUser" 
			 ,   UPDATE_DATE as "updateDate" 
			 ,   ALIVE_FLAG as "aliveFlag" 
			 ,   MARKET_ID as "marketId" 
			 ,   LANG_VER as "langVer" 
			 ,   EXT1 as "ext1" 
			 ,   EXT2 as "ext2" 
			 ,   EXT3 as "ext3" 
			 ,   EXT4 as "ext4" 
			 ,   EXT5 as "ext5" 
			 ,   EXT6 as "ext6" 
			 ,   EXT7 as "ext7" 
			 ,   EXT8 as "ext8" 
			 ,   EXT9 as "ext9" 
			 ,   EXT10 as "ext10" 
			from t_mem_member
	where
		ALIVE_FLAG='1'
								<if test="id!=null and id!=''">and  ID=#{id}</if>
											<if test="memberId!=null and memberId!=''">and  MEMBER_ID=#{memberId}</if>
											<if test="epMemberId!=null and epMemberId!=''">and  EP_MEMBER_ID=#{epMemberId}</if>
											<if test="memberName!=null and memberName!=''">and  MEMBER_NAME=#{memberName}</if>
											<if test="memberNameShort!=null and memberNameShort!=''">and  MEMBER_NAME_SHORT=#{memberNameShort}</if>
											<if test="memberNameEn!=null and memberNameEn!=''">and  MEMBER_NAME_EN=#{memberNameEn}</if>
											<if test="loginName!=null and loginName!=''">and  LOGIN_NAME=#{loginName}</if>
											<if test="nickName!=null and nickName!=''">and  NICK_NAME=#{nickName}</if>
											<if test="imgurl!=null and imgurl!=''">and  IMGURL=#{imgurl}</if>
											<if test="personalNote!=null and personalNote!=''">and  PERSONAL_NOTE=#{personalNote}</if>
											<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
											<if test="createDate!=null">and  CREATE_DATE=#{createDate}</if>
											<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
											<if test="updateDate!=null">and  UPDATE_DATE=#{updateDate}</if>
											<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
											<if test="marketId!=null and marketId!=''">and  MARKET_ID=#{marketId}</if>
											<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
											<if test="ext1!=null and ext1!=''">and  EXT1=#{ext1}</if>
											<if test="ext2!=null and ext2!=''">and  EXT2=#{ext2}</if>
											<if test="ext3!=null and ext3!=''">and  EXT3=#{ext3}</if>
											<if test="ext4!=null and ext4!=''">and  EXT4=#{ext4}</if>
											<if test="ext5!=null and ext5!=''">and  EXT5=#{ext5}</if>
											<if test="ext6!=null and ext6!=''">and  EXT6=#{ext6}</if>
											<if test="ext7!=null and ext7!=''">and  EXT7=#{ext7}</if>
											<if test="ext8!=null and ext8!=''">and  EXT8=#{ext8}</if>
											<if test="ext9!=null and ext9!=''">and  EXT9=#{ext9}</if>
											<if test="ext10!=null and ext10!=''">and  EXT10=#{ext10}</if>
						</select>

	<select id="countRecords" resultType="int" parameterType="hashmap">
		select
		count(*) from t_mem_member 
		where
		 ALIVE_FLAG='1'
											<if test="id!=null and id!=''">and  ID=#{id}</if>
															<if test="memberId!=null and memberId!=''">and  MEMBER_ID=#{memberId}</if>
															<if test="epMemberId!=null and epMemberId!=''">and  EP_MEMBER_ID=#{epMemberId}</if>
															<if test="memberName!=null and memberName!=''">and  MEMBER_NAME=#{memberName}</if>
															<if test="memberNameShort!=null and memberNameShort!=''">and  MEMBER_NAME_SHORT=#{memberNameShort}</if>
															<if test="memberNameEn!=null and memberNameEn!=''">and  MEMBER_NAME_EN=#{memberNameEn}</if>
															<if test="loginName!=null and loginName!=''">and  LOGIN_NAME=#{loginName}</if>
															<if test="nickName!=null and nickName!=''">and  NICK_NAME=#{nickName}</if>
															<if test="imgurl!=null and imgurl!=''">and  IMGURL=#{imgurl}</if>
															<if test="personalNote!=null and personalNote!=''">and  PERSONAL_NOTE=#{personalNote}</if>
															<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
															<if test="createDate!=null">and  CREATE_DATE=#{createDate}</if>
															<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
															<if test="updateDate!=null">and  UPDATE_DATE=#{updateDate}</if>
															<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
															<if test="marketId!=null and marketId!=''">and  MARKET_ID=#{marketId}</if>
															<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
															<if test="ext1!=null and ext1!=''">and  EXT1=#{ext1}</if>
															<if test="ext2!=null and ext2!=''">and  EXT2=#{ext2}</if>
															<if test="ext3!=null and ext3!=''">and  EXT3=#{ext3}</if>
															<if test="ext4!=null and ext4!=''">and  EXT4=#{ext4}</if>
															<if test="ext5!=null and ext5!=''">and  EXT5=#{ext5}</if>
															<if test="ext6!=null and ext6!=''">and  EXT6=#{ext6}</if>
															<if test="ext7!=null and ext7!=''">and  EXT7=#{ext7}</if>
															<if test="ext8!=null and ext8!=''">and  EXT8=#{ext8}</if>
															<if test="ext9!=null and ext9!=''">and  EXT9=#{ext9}</if>
															<if test="ext10!=null and ext10!=''">and  EXT10=#{ext10}</if>
								</select>

	<update id="deleteRecord" parameterType="com.sinochem.crude.trade.info.domain.MemMember">
	update t_mem_member
		<set>
		ALIVE_FLAG='0'
 		,UPDATE_USER = #{updateUser}
		,UPDATE_DATE = SYSDATE()
		</set> 
	where
			ALIVE_FLAG='1'
											<if test="id!=null and id!=''">and  ID=#{id}</if>
															<if test="memberId!=null and memberId!=''">and  MEMBER_ID=#{memberId}</if>
															<if test="epMemberId!=null and epMemberId!=''">and  EP_MEMBER_ID=#{epMemberId}</if>
															<if test="memberName!=null and memberName!=''">and  MEMBER_NAME=#{memberName}</if>
															<if test="memberNameShort!=null and memberNameShort!=''">and  MEMBER_NAME_SHORT=#{memberNameShort}</if>
															<if test="memberNameEn!=null and memberNameEn!=''">and  MEMBER_NAME_EN=#{memberNameEn}</if>
															<if test="loginName!=null and loginName!=''">and  LOGIN_NAME=#{loginName}</if>
															<if test="nickName!=null and nickName!=''">and  NICK_NAME=#{nickName}</if>
															<if test="imgurl!=null and imgurl!=''">and  IMGURL=#{imgurl}</if>
															<if test="personalNote!=null and personalNote!=''">and  PERSONAL_NOTE=#{personalNote}</if>
															<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
															<if test="createDate!=null">and  CREATE_DATE=#{createDate}</if>
															<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
															<if test="updateDate!=null">and  UPDATE_DATE=#{updateDate}</if>
															<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
															<if test="marketId!=null and marketId!=''">and  MARKET_ID=#{marketId}</if>
															<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
															<if test="ext1!=null and ext1!=''">and  EXT1=#{ext1}</if>
															<if test="ext2!=null and ext2!=''">and  EXT2=#{ext2}</if>
															<if test="ext3!=null and ext3!=''">and  EXT3=#{ext3}</if>
															<if test="ext4!=null and ext4!=''">and  EXT4=#{ext4}</if>
															<if test="ext5!=null and ext5!=''">and  EXT5=#{ext5}</if>
															<if test="ext6!=null and ext6!=''">and  EXT6=#{ext6}</if>
															<if test="ext7!=null and ext7!=''">and  EXT7=#{ext7}</if>
															<if test="ext8!=null and ext8!=''">and  EXT8=#{ext8}</if>
															<if test="ext9!=null and ext9!=''">and  EXT9=#{ext9}</if>
															<if test="ext10!=null and ext10!=''">and  EXT10=#{ext10}</if>
								</update>

	<delete id="deleteRecord" parameterType="com.sinochem.crude.trade.info.domain.MemMember">
	delete from t_mem_member
	<where>						<if test="id!=null and id!=''">and  ID=#{id}</if>
										<if test="memberId!=null and memberId!=''">and  MEMBER_ID=#{memberId}</if>
										<if test="epMemberId!=null and epMemberId!=''">and  EP_MEMBER_ID=#{epMemberId}</if>
										<if test="memberName!=null and memberName!=''">and  MEMBER_NAME=#{memberName}</if>
										<if test="memberNameShort!=null and memberNameShort!=''">and  MEMBER_NAME_SHORT=#{memberNameShort}</if>
										<if test="memberNameEn!=null and memberNameEn!=''">and  MEMBER_NAME_EN=#{memberNameEn}</if>
										<if test="loginName!=null and loginName!=''">and  LOGIN_NAME=#{loginName}</if>
										<if test="nickName!=null and nickName!=''">and  NICK_NAME=#{nickName}</if>
										<if test="imgurl!=null and imgurl!=''">and  IMGURL=#{imgurl}</if>
										<if test="personalNote!=null and personalNote!=''">and  PERSONAL_NOTE=#{personalNote}</if>
										<if test="createUser!=null and createUser!=''">and  CREATE_USER=#{createUser}</if>
										<if test="createDate!=null">and  CREATE_DATE=#{createDate}</if>
										<if test="updateUser!=null and updateUser!=''">and  UPDATE_USER=#{updateUser}</if>
										<if test="updateDate!=null">and  UPDATE_DATE=#{updateDate}</if>
										<if test="aliveFlag!=null and aliveFlag!=''">and  ALIVE_FLAG=#{aliveFlag}</if>
										<if test="marketId!=null and marketId!=''">and  MARKET_ID=#{marketId}</if>
										<if test="langVer!=null and langVer!=''">and  LANG_VER=#{langVer}</if>
										<if test="ext1!=null and ext1!=''">and  EXT1=#{ext1}</if>
										<if test="ext2!=null and ext2!=''">and  EXT2=#{ext2}</if>
										<if test="ext3!=null and ext3!=''">and  EXT3=#{ext3}</if>
										<if test="ext4!=null and ext4!=''">and  EXT4=#{ext4}</if>
										<if test="ext5!=null and ext5!=''">and  EXT5=#{ext5}</if>
										<if test="ext6!=null and ext6!=''">and  EXT6=#{ext6}</if>
										<if test="ext7!=null and ext7!=''">and  EXT7=#{ext7}</if>
										<if test="ext8!=null and ext8!=''">and  EXT8=#{ext8}</if>
										<if test="ext9!=null and ext9!=''">and  EXT9=#{ext9}</if>
										<if test="ext10!=null and ext10!=''">and  EXT10=#{ext10}</if>
					</where>
	</delete>
	
	<delete id="deleteRecordByKey">
	delete from t_mem_member
	where
								 ID=#{id} 
																																																																																					
	</delete> 
	
-->
</mapper>