<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinochem.crude.trade.blockchain.dao.TDataBlockchainEventMapper">
  <resultMap id="BaseResultMap" type="com.sinochem.crude.trade.blockchain.domain.TDataBlockchainEvent">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_code" jdbcType="VARCHAR" property="eventCode" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, event_type, event_code, event_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_data_blockchain_event
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_data_blockchain_event
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sinochem.crude.trade.blockchain.domain.TDataBlockchainEvent">
    insert into t_data_blockchain_event (id, event_type, event_code, 
      event_name)
    values (#{id,jdbcType=INTEGER}, #{eventType,jdbcType=VARCHAR}, #{eventCode,jdbcType=VARCHAR}, 
      #{eventName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sinochem.crude.trade.blockchain.domain.TDataBlockchainEvent">
    insert into t_data_blockchain_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventCode != null">
        event_code,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventCode != null">
        #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sinochem.crude.trade.blockchain.domain.TDataBlockchainEvent">
    update t_data_blockchain_event
    <set>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventCode != null">
        event_code = #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sinochem.crude.trade.blockchain.domain.TDataBlockchainEvent">
    update t_data_blockchain_event
    set event_type = #{eventType,jdbcType=VARCHAR},
      event_code = #{eventCode,jdbcType=VARCHAR},
      event_name = #{eventName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>